@charset "UTF-8";
/* CSS Document */


/* 고정값 변수 설정 */
:root {
	--main-bg-color: #fff; /* #fadf34 #fde278;  */
	--key-color : #fadf34;	/*     */
/*	--subpage-top : 0;
	--subpage-left : 0;
*/
}

@media( orientation: portrait ){
	html {
		transform: rotate(-90deg);
		transform-origin: top left;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100vh;
		height: 100vw;
	}
}

html, body {
	color: #555;
}


.wrap{
	position:relative;
	display: block;
	width: 100%;
	height: 100vh;

	background: var(--main-bg-color);

	overflow: hidden;
}
header, nav, section, footer{
	position:relative;
	display: block;
	width: 45%;
	height:auto;
	margin:0 auto;

	font-size: 10px;    
}

/* 상단_직업/작업 슬라이드 */
.work, .job{
	position:relative;
	display: inline-block;
	height: 1.52em;
	overflow: hidden;
	border-bottom: 1px solid #000;
	margin-top: 1.2em;

	font-weight: 300;
	font-size: 1.9em;

}
.job{
	float: right;
}
.work li{
	padding-bottom: .52em;
	transition: margin-top 1s;
}
.work li:first-child{
	margin-top:0;
}
.job li{
	text-align: right;
	padding-bottom: .52em;
	transition: margin-top 1s;
}

/* 소개글 */
.HiEveryone{
	position: relative;
	width: 100%;
	max-width: 380px;
	height: auto;
	font-size: 2em;
	line-height: 1.6;
	font-weight: 300;
	text-align: center;

	margin:0 auto 0 auto;
	padding-top: 200px;

	background: var(--key-color);
}

.HiEveryone:after{
	content: '© 2021 박민희';
	position: relative;
	display: inline-block;
	bottom: 2em;
	/*  */
	font-size: .5em;
	color:rgba(238,198,12,1);
}

.HiEveryone div:nth-child(1){
	position: relative;
	display: block;
	width: 5em;
	height: 5em;

	margin: 0 auto 0 auto;
	
	border-radius: 100%;
	background: #fff;
}

.HiEveryone div:nth-child(2){
	position: relative;
	display: block;
	width: 100%;

	margin-top: 50px;
	margin-bottom: 130px;
	
	font-weight: 100;
	line-height: 1.6;
	text-align: center;
}

@media (max-width:768px) {
	.HiEveryone { font-size: 1.6em; }
}

/* btnSet */
nav{
	position: relative;  /*  absolute  */
	display: flex;
	width: 380px;
	height: 50px;

	margin-top: 1.5em;

/*	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/

}

nav button{
	position: relative; 
	display: block;
/*	display: flex;
	flex-wrap: wrap;
	justify-content: center;*/
	width: 50%;
	height: calc(100% + 8px);	

	padding: 0;

	font-size: 20px;
	font-weight: 100;
	line-height: 50px;
	color:  #555;

 	background: transparent;/* */
 	overflow: hidden;

 	transition: all .1s ease ;	 
}

nav button:nth-of-type(2){ margin-left: -1px }

nav button span{
	position: absolute; 
	display: block;
	width: 100%;
	height: 4px;	
      
	top: 100%;
	left: 0;

	transition: all 0.1s ease ;
	box-sizing: border-box;

	background: #555;
	border-radius: 4px;

}

nav button span:after{
	content: '';
	position: absolute; 
	display: block;
	width: calc(100% + 2px );/* calc(100% - 8px )  */
	height: 4px;
	background: repeating-linear-gradient(-45deg, #ccc, #ccc 1px, transparent 0, transparent 4px);
	box-sizing: border-box;
      
	top: 100%;
	left: -1px;

}

nav button:nth-child(1) span:after{
	background: repeating-linear-gradient(45deg, #ccc, #ccc 1px, transparent 0, transparent 4px);
}
nav button:hover{
	padding-bottom: 1em;
/*	background: linear-gradient(rgba(250,223,52,0), rgba(254,233,94,.8) );*/
}
nav button:hover span{
	top: calc(100% - 8px);
}

nav button:active{
	padding-bottom: 5px;
/*	background: linear-gradient(rgba(250,223,52,0), rgba(254,233,94,.8) );*/
}

nav button:active span{
	top: calc(100% - 4px);
}


/*
nav button:nth-child(1):hover{

	border-bottom-width: 1px;
	border-bottom-color: #000;
	border-bottom-style: solid;
}

nav button .overline{
	position: absolute;
	width: 0;
	height: 1px;

	top: 25.5%;  37.5% - 25/2% 
	right: 0;

	color: #fff;
	background: #000;
	overflow: hidden;
	line-height: 0.5555;

	z-index: 55;

	transition: width .5s ease;
}

nav button:nth-child(1):hover .overline{
	width: 100%;
	transition:width .5s ease, height .5s ease, top .5s ease;
	height: 25%;
	top: 37.5%;
}

nav button span{
 	position: relative;
	display: inline-block;
	opacity: 0;
	animation: btnTxtLeft .5s forwards;
}

nav button:nth-child(1) span{ animation: btnTxtLeft .5s forwards; }
nav button:nth-child(1) span:nth-of-type(1){  animation-delay: 0.7s; }
nav button:nth-child(1) span:nth-of-type(2){  animation-delay: 1.2s; }
nav button:nth-child(1) span:nth-of-type(3){  animation-delay: 1.5s; }
nav button:nth-child(1) span:nth-of-type(4){  animation-delay: 1.7s; } 

@keyframes btnTxtLeft {
	70% {left:70%; opacity: 0;}
	100% {left:0; opacity: 1;}
}
*/
.bar {
	position: absolute; 
	display: inline-block;
	width: 4px;
	height: 30%;
	bottom: calc(35% - 4px);
	left: calc(50% - 2px);
	background-color: #555;
	border-radius: 3px;
	
	margin: auto;
	transition: bottom 0.1s ease;/*   */
	animation: bar 1s ease ;
}

nav:hover .bar{
/*	height: 50%;*/
	bottom: -4px;
}

nav:active .bar{
	height: 15%;
	bottom: -8px;
}

@keyframes bar {
	0% { transform: translateY(0) rotate(0deg);}
	30% { transform: translateY(-30%) rotate(0deg);	}
	70% { transform: translateY(-30%) rotate(180deg);}
	95% { transform: translateY(0) rotate(180deg);}
	100% { transform: translateY(0) rotate(180deg);}
}
/*
@keyframes bar {
	0% { transform: translate3d(0, 0, 0px) scaleY(1.0) rotate(0deg);}
	30% { transform: translate3d(0, 0, 0px) scaleY(10) rotate(0deg);	}
	70% { transform: translate3d(0, 0, 0px) scaleY(10) rotate(180deg);}
	95% { transform: translate3d(0, 0, 0px) scaleY(0.1) rotate(180deg);}
	100% { transform: translate3d(0, 0, 0px) scaleY(0.5) rotate(180deg);}
}
@keyframes bar {
	0% {height:0; top:0; transform: rotate(0deg);}
	30% {height:300%; top:-100%; transform: rotate(0deg);	}
	70% {height:300%; top:-100%; transform: rotate(180deg);}
	95% {height:10%; top:0; transform: rotate(180deg);}
	100% {height:50%; top:0; transform: rotate(180deg);}
}
@keyframes bar {
	0% {height:0; transform: translateY(0) rotate(0deg);}
	30% {height:300%; transform: translateY(-30%) rotate(0deg);	}
	70% {height:300%; transform: translateY(-30%) rotate(180deg);}
	95% {height:10%; transform: translateY(0) rotate(180deg);}
	100% {height:50%; transform: translateY(0) rotate(180deg);}
}
*/

/*서브_버튼 설정 */
.btnSet{
	position: fixed; /*absolute*/
	z-index: 1;
	background: none;
	width: 100%;
}
.closeSubPage, .closePage, .allItemsPage, .categoryItemPage, .hashtagItemPage{
	position: absolute;
	width: 10em;
	height: 10em;

	font-size: 4.4px;
	border-radius: 100%;

	background: #fff;
}

/*.closeSubPage, */.closePage{ left: 4em; top: 4em; }
.leftArrowSide{ top: 2.5px; }
.leftArrowSide:before{    border-color: #000;    }
.leftArrowSide:after{    border-color: #000;    }


/*.closeSubPage:hover, .closePage:hover, 
.allItemsPage:hover, .categoryItemPage:hover, .hashtagItemPage:hover
{ background:var(--main-bg-color); border: 1px solid #000; }*/

.allItems{ background: #555; top: 1px; }
.allItems:before{    border-color: #eee;    }
.allItems:after{    border-color: #eee;    }

.allItemsPage{ right: 4em; top: 4em; }
/*.allItemsPage:hover{  background: var(--main-bg-color); border: 1px solid #000; }*/
.allItemsPage:hover .allItems{    background: #d5d5d5; }
.allItemsPage:hover .allItems:before{    border-color:var(--main-bg-color);   }
.allItemsPage:hover .allItems:after{    border-color:var(--main-bg-color);   }

.categoryItemPage, .hashtagItemPage{ right: 4em; top: 4em; }
.categoryItemPage:hover{ background:var(--main-bg-color); }
.categoryItemPage:hover .allItems{	background: #fff; }
.categoryItemPage:hover .allItems:before,
.categoryItemPage:hover .allItems:after{border-color:var(--main-bg-color);  }

.categoryItemPage:hover .allItems .selected{ background: #555;   }
.categoryItemPage:hover .allItems .selected:before, 
.categoryItemPage:hover .allItems .selected:after{ background: #555;  }

.hashtagItemPage:hover{  background:var(--main-bg-color); }
.hashtagItemPage:hover .allItems{  background: #fff;  }
.hashtagItemPage:hover .allItems:before, .hashtagItemPage:hover .allItems:after{ border-color:var(--main-bg-color);  }

.allItems .selected{ background: var(--main-bg-color);   }
.allItems .selected:before,
.allItems .selected:after{ background:var(--main-bg-color);  }
.hashtagItemPage:hover .allItems .selected{ background: #555;   }
.hashtagItemPage:hover .allItems .selected:before,
.hashtagItemPage:hover .allItems .selected:after{ background: #555;  }

.crossShape{ 
	top: 2px; 
	width: 3px;
	background: #555;
	border-radius: 3px;

}
.crossShape::after{
	width: 3px;
	background: #555;
	border-radius: 3px;
}

/* 서브_버튼 설정 끝 ------------------------------------ */


/*서브_디자인_목록*/
/*.subpage{
	position: absolute;
	z-index: 555;
	display: none;
	width: 100%; 
	height: 100%;

	top: 0; 
	left: 0;
	transform: translate(-50%, -50%);

	border-radius: 4px;
	border:  4px solid #555;
	background: rgba(255,255,255,1);

	font-size:10px;
	z-index: 3;
}
.subpage:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	top: calc(100% + 4px);
	left: 0;
	background: repeating-linear-gradient(-45deg, #ccc, #ccc 1px, transparent 0, transparent 3px);
}

.subpage.on{ display: block;  }*/



.subpage{
	position: absolute;
	z-index: 555;
	display: block;
	/*max-width: 1500px;*/
	width: 15px; /* calc(45% + 2em) */
	height: 0;

	top: var(--subpage-top);
	left:  var(--subpage-left);
/*	top: calc(50% - 2px);
	left: calc(50% - 7.5px); */

	overflow: hidden;
	border-radius: 4px;
	border: 2px solid #555;	

	background: rgba(255,255,255,1);
	opacity: 0;

	font-size:10px;
	z-index: 3;

	transform: rotate(-90deg);
	transition:all .3s;
}

.subpage.on{ 

	opacity: 1;		
	transform: rotate(0deg);

	box-shadow: 0 10px 0 20px #fff;
	-webkit-box-shadow: 0 10px 0 20px #fff;

	animation: fullScreen .7s forwards;
	animation-delay: .3s;

}

.subpage.off{
	-webkit-box-shadow: 0 10px 0 20px #fff;
	animation: miniScreen 1s forwards;
	
} 

@keyframes fullScreen{
	20%{
		width: 100%; 		
		height: 0; 
		left: 0;
		top:var(--subpage-top);
		border-width: 2px;	
	}
	100%{ 
		width: 100%; 		
		height: 100%; 
		left: 0;
		top: 0; 
		border-width: 4px;	
		
	}
}

@keyframes miniScreen{
	0%{
		width: 100%; 		
		height: 100%; 
		left: 0;
		top: 0; 
		border-width: 2px;	
		transform: rotate(0deg);
		opacity: 1;
	}
	20%{
		width: 100%; 		
		height: 0; 
		left: 0;
		top: var(--subpage-top);
		border-width: 2px;	
		transform: rotate(0deg);
		opacity: 1;
	}
	90%{ 
		width: 15px; 		
		height: 0; 
		top: var(--subpage-top);
		left: var(--subpage-left);
		border-width: 2px;	
		transform: rotate(0deg);
		opacity: 1;
		
	}
	95%{ 
		width: 15px; 		
		height: 0; 
		top: var(--subpage-top);
		left: var(--subpage-left);
		border-width: 2px;	
		transform: rotate(-90deg);
		opacity: 1;
	}
	100%{ 
		width: 15px; 		
		height: 0; 
		top: var(--subpage-top);
		left: var(--subpage-left);
		border-width: 2px;	
		transform: rotate(-90deg);
		opacity: 0;
	}
}



@media(max-width: 414px){
	.subpage{
		top: 10%;
		left: 5%;
		transform: unset;
	}
}

.contents{
	position: relative;
	width: 100%;

	top: calc(50% - 5em);
	transform: translateY(-50%);
}
.contents .category{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;	
	width: 70%;
	height: auto;
	margin: 4em auto 0;
}
.contents .category li{      /*background: rgba(238,198,12,1);*/
	position: relative;
	flex: none;
	display: inline-block;
	width: 15%;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;

	margin: 0 2em;
}
.contents .category li:nth-child(2n){  float: right; }
.contents .category li img{
	width: 80%;
	padding:1.7em;
	border-radius: 50%;
}

.contents .category li:hover img{
	background: #f9f9f9;
}
.contents .category li div{
	padding:1em 0 .5em;
	text-align: center;
}

/*@media (max-width:767px) {
	.contents .category{ width: 70%; margin-top: 2em; }
	.contents .category li{ width: 40%; }
	
}*/
.contents .category li span{
	display: block;
	width: 100%;

	font-size: .7em;
	font-weight: lighter;
	color: #999;
	padding:1em 0 5em;

}

.mainContents{    background: #fff;
	z-index: 666;
	display: none; /* block;*/
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left:0;
}
.mainContents.on{ display: block; }
.backPage, .closeDetail{
	float: left;
	position: absolute;
	width: 6em;
	height: 6em;
	top: 2em;
	left:2em;
	z-index: 1;
	/*padding: 4em 2em 1.7em 4em; */
	background: none;
}




.subsubTitle{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	font-size: 1.3em;
	color: #aaa;                    
	text-align: center;
	padding: 2em 0 1em;                 
}

.cntList{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	height: 88%;

	top: calc(50% + 1.3em);
	transform: translateY(-50%);
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
}
.cntList::-webkit-scrollbar{ display:none; }
.cntList > div{    /*   background: #e5e5e5;*/
	position: relative;
	display: inline-block;
	width: 40%;
	height: 45%;
	margin: 1.5%;
	border-radius: 2em;

	text-align: center;

	overflow: hidden;
	cursor: pointer;

	background-size: cover !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;
}
.cntList div:nth-child(2n){  float: right;  }

.cntList > div img{
	display: block;
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}


/* 서브_디자인_목록_상세페이지  */
.subDetail{
	z-index: 777;
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;

}
.subDetail.on{ display: block; }

.item{
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;

	background-repeat: no-repeat !important;
	background-position: top center !important;
	background-size: cover !important;
}
.item img{
	position: relative;
	display: block;
	height: 100%;
	left: -18%;

}
.item ul{
	position: absolute;
	display: block;
	width: 40%;
	height: 80%;
	top: 50%;
	left: calc(50% + 1em);
	transform: translateY(-50%);

	padding: 2.5em 3em;
	border-radius: 1em;
	font-size: 1.5em;
	background: #fff;

	box-shadow: 0 5px 15px rgba(0,0,0,.2);

}

.item ul li{
	position: relative;
	padding:.5em 0;
	font-weight: 300;
	line-height: 1.7;
}
.item ul li:last-child{ text-align: center; }

.item ul li:after{
	content: '';
	position: relative;
	display: block;
	clear: both;
}
.item ul li dl{
	display: flex;
}
.item ul li dl dt{
	position: relative;
	display: inline-block;
	width: 25%;

	font-weight: 300;
	color: #aaa;
	line-height: 1.7;
}
.item ul li dl dt:after{
	content: '';
	position: absolute;
	display: inline-block;
	top: 25%;
	left: 95%;
	width: 1px;
	height: .7em;
	background: #ddd;
	rotate: 30deg;


}
.item ul li dl dd{
	position: relative;
	display: inline-block;
	line-height: 1.7;
	width: 70%;
}
.item ul li dl dd .colors{
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 100%;
	margin-right: .6em;
}
.item ul li dl dd .toAdd{
	font-size: .9em;
	color: #898989;
	font-weight: lighter;
}
.item ul li dl dd button.sampleSite {
    font-size: .85em;
    padding: .2em .6em;
    border-radius: 2em;
}

div.hashtag{
	position:relative;
	display: block;
	width: 100%;
}
div.hashtag span{
	position: relative;
	display: inline-block;
	font-size: .8em;
	font-weight: lighter;
	line-height: 1.6;
	padding: .12em .8em .25em;
	margin: .2em .2em;
	color:rgba(0,0,0,1);
	background: rgba(255,255,255,.9);
	border-radius: 1em;
	border:1px solid #f5f5f5; /* */
}
div.hashtag span:before{
	content: '# ';
	position: relative;
	display: inline;
	font-size: .8em;
	line-height: 1.6;
	/*vertical-align: top;*/
	color:#999;

}


/* 샘플보기 아이프레임 */
.linkediframe{

	position: absolute;
	z-index: 999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100vh;
	background: rgba(0,0,0,.9);

}

.linkediframe > iframe{
	position: relative;
	display: block;
	width: 375px;
	height: 812px;
	/*left: 50%;
	transform: translateX(-50%);*/
	margin: 0 auto;
	border: none;
    border-radius: 3em;	
}

@media screen and (max-width: 375px), screen and (max-height: 812px){

	.linkediframe > iframe{
		width: 95%;
		height: 85vh;
	}
}

.disconnect{
	position: relative;
	display: block;
	margin: 0 auto;
	
	width: 6em;
	height: 6em;
	background: none;
}


/* 서브페이지_아이템 나열 */
.workResult{ /* background:#F00; */
	display: none;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999999;
    overflow: scroll;
    -ms-overflow-style: none;
}
.workResult.on{ display: block; }
.workResult::-webkit-scrollbar{ display:none; }

.workResult ul{
    display:block;
    position:relative;
    max-width:1300px;
    width:95%;
	-moz-columns: 320px 4;
	-webkit-columns: 320px 4;
	columns: 320px 4;
	/*-webkit-column-width: 330px;
	-moz-column-width: 330px;
	column-width:330px;*/
    margin:0 auto;
    padding-top:8rem;
}
.workResult ul li{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.6;
    padding: .5em;
    /*margin: .7em 0em;*/
    color:rgba(0,0,0,1);
    background: rgba(255,255,255,.9);
    border-radius: 1em;
    /* border:1px solid #f5f5f5; */
}
@media (max-width:768px) {
	
	.workResult ul li{ font-size: .7em; }
}
@media (max-width:414px) {

}
.workResult ul li img{
    display:block;
    position:relative;
    width:100%;
    height: auto;
}

.workResult ul li div{
    position: absolute;
    width: 100%;
    left:0;
    bottom:1em;
}
.workResult ul li div span{
	display: inline-block;
	padding: .13em 1.5em .15em;
	margin: .3em .5em;
	border-radius: 30px;

	font-size: 1em;
	font-weight: lighter;
	line-height: 1;
	color: rgba(0,0,0,1);
	background: rgba(255,255,255,.9);
}
.workResult ul li div span:before{
	content: '# ';
	position: relative;
	display: inline;
	font-size: .8em;
	line-height: 1.6;
	/*vertical-align: top;*/
	color:#999;


}
.workResult > .btnSet button{ font-size: 10px; }
.workResult > .btnSet .closePage{
	position: fixed;
	left:1.5em;
	top:1.5em;
	width: 5em;
	height: 5em;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	background: #fff;
	border-radius: 100%;
	text-align: center;
}
.workResult > .btnSet .faceLogo{
	position: fixed;
	right:1.5em;
	top:1.5em;
	width: 5em;
	height: 5em;
	border-radius: 100%;
	text-align: center;
	background: #fadf34;
}


/*서브_퍼블리셔_목록_상세페이지*/
.microSite{     background: #fff;
	position: absolute; /* fixed  */
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;   
	scroll-snap-type: y mandatory;/*   */
	-webkit-overflow-scrolling: touch;

	z-index: 55;

	transition: all 2s ease-in-out;
}
.microSite.on{ display: block; }

.microSite .btnSet{ z-index: 44; }

.microSite .game{
	width: 65%;
	margin: 0 auto;
}

.microSite .game li dl{
	display: block;
	width: 100%;
	padding-top: 1em;
	font-size: 1.5em;
}

.microSite .game li dl dt{
	padding: .7em 0;
	font-weight: 100;
}

.microSite .game li dl dd{
	padding: 0;
	margin: 0;

	font-size: .9em;
	font-weight: 100;
	color: #999;
}
