@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
/*== 아이콘 모양들  ================================= */
.checked{
    border-color: rgba(100, 59, 252, .6);
}
.checked:before{
    border-color: rgba(100, 59, 252, .6);
}
.filled{
    border-color: #643bfc !important;
    background:  #643bfc;
}
.filled.uparrow:before{
    border-color: #fff;
}
.filled.uparrow:after{
    background: #fff;
}
.smaller{
    width: 1.3em !important;
    height: 1.3em !important;
    bottom: .69em;
    right: 0;
}
.icons{
    position:relative;
    z-index: 33;
    display:inline-block;
    width:1.5em;
    height: 1.5em;
    
}
.bordering{
    border:1px solid #ccc; 
    border-radius: 1.5em;
}
.checking{
    position:absolute;
    display: inline-block;
  /*  -webkit-transform: rotate(-135deg); */
}
.checking:before{
    content: '';
    position:absolute;
    display: inline-block;
    top: .2em;
    left:.35em;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
    padding: .3em .2em; 
     transform: rotate(35deg);
  /*  -webkit-transform: rotate(-135deg); */
}
.uparrow:before{
    content: '';
    position: absolute;
    display: inline-block;

    top: .699em;
    left: .82383em;

    border: solid #000;
    border-width: 0 .2em .2em 0;
    padding: .25em;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.uparrow:after{
    content: '';
    position: absolute;
    display: inline-block;
    width: .19em;
    height: 1.1em;

    bottom: .45em;
    left: 1.2em;
    transform: translateX(-50%);

    background: #ccc;
}

/*== 아이콘 모양들  ================================= */


.crossShape {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 4em;
    transform: rotate(-45deg);
    /*margin-top: 1em;*/
    background: #000;
}
.crossShape:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 1px;
    height: 4em;
    transform: rotate(90deg);
    background: #000;
}


.leftTopArrow{
    top:0;
    left:0;
}
.leftTopArrow:before{
    content: '';
    position: relative;
    display: block;
    width: 100%; 
    height: 100%;
    top:0px;
    left:0px;
    line-height: 0;
    padding: 0;
    border-top: 2px solid ;
    border-left: 2px solid;
    border-color: #f0cb20;
}
.leftTopArrow:after{
    content: '';
    position: absolute;
    display: block;
    width: 100%; 
    height: 100%;
    top: 40%;
    left: 40%;
    line-height: 0;
    padding: 0;
    border-top: 2px solid ;
    border-left: 2px solid;
    border-color: #f0cb20;
}

.rightBottomArrow{
    top:0.6em;
    left:0.6em;
}
.rightBottomArrow:before{
    content: '';
    position: relative;
    display: block;
    width: 100%; 
    height: 100%;
    top: -40%;
    left: -40%;
    line-height: 0;
    padding: 0;
    border-bottom: 2px solid ;
    border-right: 2px solid;
    border-color: #999;
}
.rightBottomArrow:after{
    content: '';
    position: absolute;
    display: block;
    width: 100%; 
    height: 100%;
    top:0;
    left:0;
    line-height: 0;
    padding: 0;
    border-bottom: 2px solid ;
    border-right: 2px solid;
    border-color: #999;
}

.allItems{
    background: #999;
    width: 4em;
    height: 4em;
}
/*.allItems:hover { background:#fadf34; }*/
.allItems:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: calc( 33.333333% - 0.5px );
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #00f;
    padding-top: 0;
    
    top: 50%;
    transform: translateY(-50%);
    /* margin-left: -.5px;*/
    
}
.allItems:after{
    content: '';
    position: absolute;
    display: block;
    width: calc( 33.333333% - 0.5px );
    height: 100%;
    border-right:  1px solid;
    border-left:  1px solid;
    border-color: #00f;
    padding-left: 0;
    
    left:50%;
    transform: translateX(-50%);    
    
}
.allItems .selected{ 
    position: absolute;
    display: block;
    width: calc( 33.333333% - 0.5px);
	height: calc( 33.333333% - 0.5px);
	top: 0;
	left: 0;

	background: #fff; /* #fadf34 */
}

.allItems .selected:before{  
    content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: calc(100% + .5px);
	left: calc( 100% + 1px );

/*	-webkit-top: calc(100% + 1px);
	-webkit-left: calc( 100% + 1px );*/

	background: #fff;
}

.allItems .selected:after{
    content: '';
    position: absolute;
    display: block;
	width: 100%;
	height: calc(100% - 0.5px );

	top: calc( 200% + 2px );
	left: calc( 100% + 1px );

/*	-webkit-top: calc( 200% + 2px );
	-webkit-left: calc( 100% + 1px );*/

	background: #fff;
}

.leftArrowSide{
    background: none;
    
    width: 4em;
    height: 4em;
}


.leftArrowSide:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;

    top:calc(50% - 2px );
    
    border-radius: 3px;
    background: #555;
}
.leftArrowSide:after{
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;

    top:calc(50% - 5px );
    left:-1px;
    
    border-radius: 3px;
    background: #555;
    
    transform: rotate(-45deg);
}








