@charset "utf-8";
/* CSS Document */


/* svg defs 박스  */
.svg-defs-box {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
	left: 0;
	top: 0;
} 

/* 로고 */
h1.logo{  /* background-color: #f5f8f9; */
	display: inline-block;
	margin: 0;
	padding: 0;
	max-width: 240px;
	width: 100%;
	height: 97px;
}
h1.logo a{
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	line-height: 0;
}
h1.logo a img{ max-width: 100%;}


:root{
	--common-header-height : 68px;
}




/* 공통 헤더 */
header.common{
	position: sticky;
	display: inline-flex;
	flex-direction: column;
	padding: 0px 20px;
	height: 100%;
	top: -2px;
	left: 0;
	z-index: 3;

	max-width: 283px;
	width: 100%;
	box-sizing: content-box;
	vertical-align: top;

	overflow: auto;
	/* transform: translateX(-100%); */
	transition: all .3s ;
}

header.common .logo{

}
header.common .user{
	flex: none;
	position: relative;
	overflow: visible;
	z-index: 0;
	margin-bottom: 40px;
	height: 280px;
	padding: 26px 0 26px 8px;
	box-sizing: border-box;
}
header.common .info{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}
header.common .user .option-wrap{ }
header.common .user .option-wrap .option{ 

	font-size: 12px;
	font-weight: 500;
  
	line-height: 1;
	color: var(--dark-500);
	display: inline-flex;
	align-items: center;
}
header.common .user .option-wrap i{ font-size: 16px;}

header.common .user .name{
	font-size: 36px;
	font-weight: 800;
	line-height: 1.3;
	letter-spacing: 1.08px;
	color: #35BB62; /* var(--primary-600); */
}
header.common .user .main{
	margin-bottom: auto;
}
header.common .user .extra-info{
	display: flex;
	flex-direction: column;
	font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;


}
header.common .user .extra-info .item{  display: flex;  gap: 8px }
header.common .user .extra-info span.item::before{
	content: '';
	display: inline-block;
	width: 4px; height: 4px;
	border-radius: 100em;
	background-color: var(--dark-200);
	margin-top: calc( (.5em * 1.5) - 2px);
}
header.common .user  .btn-wrap{ }
header.common .btn-wrap .btn{
	font-size: 14px;
	color: var(--dark-500);
	
}
header.common > .btn-wrap { margin-top: 40px; margin-bottom: 2em; }

/* 사용자 정보 */
header.common .user-image-wrap {
	position: absolute; /* 자식 요소의 기준 위치 설정 */
	width: 189px; /* SVG 가로 크기와 동일하게 설정 */
	height: 209px; /* SVG 세로 크기와 동일하게 설정 */
	z-index: 0;
	right: -4px;
	bottom: 0;
	/* transform: scale(1.1); */
}

header.common .user-image-wrap .img{
	position: absolute; /* 부모 요소를 기준으로 위치 설정 */

	display: block; /* 이미지 아래 여백 제거 */
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: url(#userImageClip);
	left: -2px;
}

header.common .user-image-wrap > svg {
	position: absolute; /* 부모 요소를 기준으로 위치 설정 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* 필요하다면 SVG를 보이게 하거나 z-index를 조정 */
	/* pointer-events: none; /* SVG가 마우스 이벤트를 가로채지 않도록 설정 */
}
header.common .user-image-wrap .bg{ z-index: -1 }


.ctrl-gnb{ display: none; }


@media(max-width: 1440px){
	header.common{ max-width: 64px;  }
	header.common .logo { /* height: 64px; */ padding : 30px 0; margin-bottom: auto; }
	header.common .logo img{ margin: auto; max-width: 60%; }
	header.common .user{ height: 100px; margin-bottom: 0;  margin-top: -5em;   }
	header.common .user-image-wrap {right: -16px; transform: scale(.3) translate( 80%, 80%) }
	header.common .user .info{ display: none }

	header.common .ctrl-logout{ 
		overflow: hidden;
		color: transparent !important;
		position: relative;
		min-height: 3em;
	}
	header.common .ctrl-logout i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.7);
	}
}
@media (max-width: 1024px) {
	.ctrl-gnb { display: inline-flex;  width: 40px; height: 40px; 	}
	header.common .ctrl-gnb { position: absolute; right: 1em; top: 1em; }

	header.common {
		position: fixed;
		top: 0px;
		max-width: 440px;
		background-color: var(--body-background-color);
		box-shadow: 2px 0 30px hsl(0 0% 0% / .2);
		transform: translateX(-100%);
		box-sizing: border-box;
	}
	header.common.expanded{ transform: translateX(0%); }
	body:has(header.common.expanded){ overflow: hidden; }
	body:has(header.common.expanded)::before{ 
		content: '';
		position: absolute;
		top:0; bottom: 0; left:0; right: 0;
		background-color: hsl( 0 0% 0% / .9);
		z-index: 1;
	 }

	header.common .logo {height: 64px; padding: 13px 0;  margin-bottom: 0; }
	header.common .logo img{ margin: 0; }
	header.common .user { height: 240px; margin-top: 0em; }

	header.common .user .info { display: flex }

	header.common .user-image-wrap { transform: scale(0.7) translate(13%, 13%); }

	header.common .ctrl-logout {
		color: inherit !important;
		min-height:auto;
	}

	header.common .ctrl-logout i {
		position: static;
		transform: none;
	}
}


/* gnb */
.gnb{
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	font-size: 14px;
}
.gnb .gnb-item{
	position: relative;
	flex: 1 1 45%;
	min-width: 100px;
	min-height: 140px;
	z-index: 0;
	transition: all .3s;
}
.gnb .gnb-item > a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100%;
	height: 100%;
	background-color: var(--gnb-menu-bg-color);
	color: var(--gnb-menu-font-color);
	border-radius: 16px;
	transition: all .3s;
	margin-left: 0;
	margin-top: 0;
	font-weight: 600;
}
.gnb .gnb-item > a:hover{
	color: var(--primary-500);
	box-shadow: 0 0 1.5em hsl( 0 0% 0% / .1);
	z-index: 2;
}
.gnb .gnb-item > a i{ font-size: 1.3em; }
.gnb .gnb-item > a:hover i[class*="-svg2-"] { filter: saturate(10);  }
.gnb .gnb-item > a:hover i[class*="-svg-"] { --fcColor : var(--primary-500) }
.gnb .gnb-item:has(>.active){ z-index: 3; }
.gnb .gnb-item > a.active{

	width: calc(100% + 16px);
	height: calc(100% + 16px);
	background-color: var(--primary-500);
	color: #fff;
	box-shadow: 0 3.5px 13.1px 3px hsla(140, 56%, 56%, 0.3);
	margin-left: -8px;
	margin-top: -8px;
}
.gnb .gnb-item > a.active i{ filter: brightness(150%) contrast(350%);  }
@media(max-width: 1440px){
	.gnb{ font-size: 12px;  margin-bottom: auto; }
	.gnb .gnb-item{ min-width: 64px; min-height: 64px; }
	.gnb .gnb-item > a{ gap: 0px; }
	.gnb .gnb-item > a.active{ 
		width: calc(100% + 0px);
		height: calc(100% + 0px);
		margin-left: 0px;
		margin-top: 0px;
	}
}
@media (max-width: 1024px) {
	.gnb .gnb-item { min-width: 100px; min-height: 100px; }
	.gnb .gnb-item > a{ gap: 4px; }
}
@media (max-width: 440px) {
	.gnb .gnb-item { width: calc(( 100vw - 40px - 6px) / 3 ); height: 100px; }
}







main.common{
	display: inline-block;
	flex: 1;
	max-width: 100%;
	padding-bottom: 40px;
	vertical-align: top;
	padding: 0 40px;
} 

#container.common{
	flex: 1;
	margin-left: 0px;
	margin-right: 0px;
	transition: margin-left .3s;
	max-width: 100%;
}
@media(max-width : 1280px){
	main.common{ padding: 0 20px; } 
}

/* */


.page-header {
	height: 97px;
	display: flex;
	align-items: center;
  
}
.page-header .page-title{
	font-size: 28px;	  
	font-weight: 800;
	color: var(--font-color-default);
	margin: 0;
	margin-right: auto;
}
.page-header .button-wrap .btn{}
@media(max-width : 1280px){
	/* .page-header { height: 64px; } */
	.page-header .page-title{ font-size: 24px;	 }
}
@media(max-width : 768px){
	.page-header { height: 64px; }
}



