@charset "utf-8";
/* CSS Document */
/* @import url('../bootstrap-icons/font/bootstrap-icons.css'); */

.list-item-type3{
	display: flex;
	align-items: center;
	gap: 24px;
	padding: 16px 40px 16px 32px;
	border-radius: var(--border-radius-default);
	background-color: var(--section-background-color);
	
}
.list-item-type3 .info{
	display: flex;
	align-items: center;
	gap: 4px 0em;
	flex: 0 1 440px;
	max-width: 640px;
}
.list-item-type3 .category{ 
	flex: none;
	display: inline-flex; 
	width: calc( 3em + 5em );
	gap: 12px; 
	font-size: 16px; 
	line-height: 1.3;
	align-items: center;
	margin-right: 1em;
}
.list-item-type3 .category i[class*="-svg2-"]{ 
	box-sizing: content-box;
	padding: 18px;
	border-radius: var(--border-radius-default);
}
.list-item-type3 .category dl{   }
.list-item-type3 .category dl > *{ margin: 0; }
.list-item-type3 .title{ 
	flex:1 1 auto;
	font-size: 18px;
	width: 240px;
}
.list-item-type3 .category:has([class*="-svg2-web"]) dt{ color: #FAA329; }
.list-item-type3 .category:has([class*="-svg2-print"]) dt{ color: #0EA9CF; }
.list-item-type3 .category:has([class*="-svg2-contents"]) dt{ color: #FF6632; }
.list-item-type3 .category:has([class*="-svg2-branding"]) dt{ color: #44C800; }
.list-item-type3 .category:has([class*="-svg2-me"]) dt{ color: #0EA9CF; }
@media(min-width: 1600px){
	.list-item-type3 .info{  flex-grow:1 }
}
.list-item-type3 .title .text{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--font-color-default);
	font-weight: 700;
}

.list-item-type3 figure{ margin: 0; }
.list-item-type3 .option-wrap{ 
	display: flex;
	gap: 4px 1em;
	flex: 1;
}
.list-item-type3 .option-wrap .option{ 
	position: relative;
	flex: 1;
	z-index: 0;
	text-align: center;
	min-width: 80px;
	line-height: 0;
	font-size: 18px;
}
.list-item-type3 .member{
	display: inline-flex;
	width: 2em;
	height: 2em;
	background-color: var(--dark-100);
	border-radius: var(--border-radius-default);
	overflow: hidden;

}
.list-item-type3 .member.circle{ transform: none }
.list-item-type3 .member + .member{ margin-left: -.5em; }
.list-item-type3 .member figcaption{ display: none; }


.list-item-type3 .image{
	display: inline-flex;
	width: 2em;
	height: 2em;
	background-color: var(--dark-100);
	border-radius: var(--border-radius-4px);
	overflow: hidden;
}
.list-item-type3 .image.none {
	background-color: transparent;
	
}
.list-item-type3 .image.none img{ transform: scale(.7);  }
.list-item-type3 .image figcaption{ display: none; }
.list-item-type3 .state{  }
.list-item-type3 .btn-wrap{ display: inline-flex; gap: 8px 1.5em; }
.list-item-type3 .btn-wrap .btn{
	line-height: 1;
	font-size: calc(1em - 2px);
}
.list-item-type3 .btn-wrap .btn.default{ --border-color: transparent; }
.list-item-type3 + .list-item-type3{ margin-top: 1em; }
@media(max-width: 1400px){
	.list-item-type3 .category{  font-size: 14px; }
	.list-item-type3 .title{ font-size: 16px; }
}
@media(max-width: 1280px){
	.list-item-type3{ flex-wrap : wrap; position: relative; padding-left: 4em; }
	.list-item-type3 label{ position: absolute; left: 1em; top: 2em; }
	.list-item-type3 .info{ flex-basis: 50%; max-width: 50%; }
}
@media(max-width: 1024px){
	.list-item-type3 label{  top: 1em; }
	.list-item-type3 .info{ 
		flex-wrap: wrap;
		flex-basis: calc(100% - 0em); 
		max-width: calc(100% - 0em); 
		margin-right: auto; 
	}
	.list-item-type3 .category{ flex-basis: 100%; }
	.list-item-type3 .category i[class*="-svg2-"]{ padding: 0; background-color: transparent; }
	.list-item-type3 .category dl { display: flex; gap: 2px }
	.list-item-type3 .state { order: 5; margin-left: auto;   }
	.list-item-type3 .option-wrap { display: none; } /* */
}
@media(max-width: 768px){
	.list-item-type3{  padding: 1em 1em 1em 4em; }
	.list-item-type3 .btn-wrap .btn{ padding-left: 0 }
	.list-item-type3 .state > * {  font-size: 12px; padding: 5px 8px 5px 5px;  gap: 4px; }
}

















