@charset "utf-8";
/* CSS Document */
/* @import url('../bootstrap-icons/font/bootstrap-icons.css'); */

@import url('./bootstrap.css');
/* @import url('./bootstrap-grid.css'); */
@import url('./root.css');

/* @import url('../summernote/summernote-lite.css'); */
@import url('./reset.css');
@import url('./layout.css');
@import url('./cardType.css');
@import url('./tabType.css');
@import url('./list-item-type.css');
@import url('./fileupload.css');
/* @import url('../jquery-ui-1.13.0/jquery-ui.min.css');
@import url('./table.css');

@import url('./datepicker.css'); */



/*  skip navigation  */
#skipNav { color: #fff; position: absolute; left: 0; top: 0; width: 150px; z-index: 1000; text-align: center; }
#skipNav a { opacity: 0; position: absolute; left: 0; top: 0; display: block; width: 100%; padding: 10px; background-color: rgba(0, 0, 0, 0.6); transform: translateY(-50px); transition: all 0.3s ease; font-size: 14px; }
#skipNav a:active, #skipNav a:focus, #skipNav a:hover { opacity: 1; transform: translateY(0); }




/* 영역별/섹션별 */
.section{ /* background-color: #fff; */ }
.section + .section{ margin-top: 30px;}
.section-header{ display: flex; gap: 8px; padding: 1em 0 16px; }
.section-header .title{ margin-right: auto }
.section-header .title .text{ font-size: 24px; font-weight: 700; color: var(--font-color-default); margin-bottom: 0; }

.section.type2{
	padding: 1em 2.5em 1.5em;
	border-radius: var(--border-radius-default);
	background-color: var(--section-background-color);
}
.section.type2 .section-header{ padding-top: 1em }
@media(max-width: 1280px){
	.section-header .title .text { font-size: 20px; }
}
@media(max-width: 768px){
	.section.type2 { padding: 1em 1.3em; }
	.section.type2 .section-header{ padding-top: 0em }
	.section + .section{ margin-top: 15px;}
}




@media(min-width: 1200px){

}


.bullet-dot{ --pl:calc(1em + 4px); padding-left: var(--pl); }
.bullet-dot:before{
	content: '•';
	display: inline-flex;
	width: var(--pl);
	padding-left: 4px;
	max-height: calc(1em * 1.5);
	justify-content: center;
	align-items: center;
	margin-left: calc( var(--pl) * -1);
}





.tCom001{ 
	display: grid;
	gap: var(--gap, 0);
	grid-template-columns: repeat(12, 1fr);
	gap: 30px 24px ;
}
.tCom001 .item:not(:has(.btn-add)){
	background-color: var(--section-background-color);
	padding: 30px 46px;
	border-radius: 16px;
	min-height: 264px;
}

.tCom001 .AnimatedFE{ 
	font-size: 18px;
	width: 2em;
	height: 2em;
}

.tCom001 .item .section-header{ align-items: center; padding-top: 0; }
.tCom001 .item .title .text{  }
.tCom001 .item .project-count{ 
	font-size: 16px; 
	font-weight: 800; 	
	color: var(--font-color-default);
}
.tCom001 .item .project-count strong{ 
	display: inline-block;
	font-size: 3.25em;
	line-height: 0;
	vertical-align: bottom;
}

.tCom001 .item .btn.btn-add{
	font-size: 16px;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	border: 1px dashed var(--dark-300);
	background-color: var(--body-background-color);
	border-radius: var(--border-radius-default);
	color: var(--dark-700);

	flex-direction: column;
	
	justify-content: center;

}
.tCom001 .item .btn-add i{ font-size: 24px; }
@media(max-width: 1280px){
	.tCom001 .item:not(:has(.btn-add)) { padding: 24px 24px; min-height: 200px; }
	.tCom001 .item .simple-bar-chart { height: 130px ;  }
	.tCom001 .item .card-type2 .title { font-size: 16px; }
}
@media(max-width: 1024px){
	.tCom001 .item { grid-column: span 6; }
	.tCom001 .item:has(.btn-add){ display: none; }
}
@media(max-width: 768px){
	.tCom001 .item { grid-column: span 12; }
}


.tCom002 .section-header{ padding-top: 13px }
.tCom002 .section-header .title{   }
.tCom002 .section-header .title .font-number{ font-size: 24px; padding: 0 5px; }
.tCom002 .items-wrap{ display: flex; gap: 24px; }
.tCom002 .items-wrap .item{
	background-color: var(--section-background-color);
	border-radius: var(--border-radius-default);
	padding: 1em ;
	flex: 1 1 130px;
	column-gap: 1em;
  /* min-width: 130px; */
  max-width: 30%;
}
.tCom002 .items-wrap .item i{ 
	/* background-color: var(--dark-100); */
	padding: 18px !important;
	box-sizing: content-box;
	border-radius: var(--border-radius-default);
}


.tCom002 .items-wrap .item .badge{ 
	font-family: "Bebas Neue", sans-serif; 	
	font-weight: 400;	
	font-style: normal; 
}
@media(max-width: 1280px){
	.tCom002 .items-wrap .item i { padding: 0px;  }
}
@media(max-width: 768px){
	.tCom002 .items-wrap { 
		overflow: auto; 
		margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
	}
	.tCom002 .items-wrap .item i { padding: 18px;  }
	.tCom002 .items-wrap .item{
		flex: 1 0 200px;
    max-width: none;
    padding: .5em;
	}
}



.tCom003{
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}
.tCom003 .card-type1{
	/* flex: 0 1;
	min-width: calc( (100% - 24px) / 2 );
	max-width: 10px; */
	flex: 1;
	min-width: 160px;
	border-radius: var(--border-radius-default);
  overflow: hidden;
  font-size: 18px;
}
@media(max-width: 1280px){
	.tCom003 .card-type1{ font-size: 16px; }
}
@media(max-width: 768px){
	.tCom003 .card-type1{ min-width: 250px; }
}



.list-item-type1{
	display: flex; 
	gap: 1em;
	align-items: center;
	padding: 6px 12px;
	border-radius: var(--border-radius-default);
  background-color: var(--section-background-color);
}
.list-item-type1 i{ 
	flex: none;
	/* background-color: var(--dark-100); */
	padding: 4px;
	box-sizing: content-box;
}






.tCom004{ 
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-size: 18px;
	color: var(--dark-900);
}
.tCom004 .list-item-type1{  flex: 1; }
.tCom004 .list-item-type1 i{  padding: 20px; border-radius: var(--border-radius-default); }
/* .tCom004 i[class*="-web"] { background-color: var(--web); }
.tCom004   i[class*="-print"] { background-color: var(--print); }
.tCom004   i[class*="-branding"] { background-color: var(--branding); }
.tCom004  i[class*="-contents"] { background-color: var(--contents); }
.tCom004  i[class*="-me"] { background-color: var(--me); } */
@media(max-width: 1280px){
	.tCom004 { font-size: 16px; }
}


.list-item-type2{ 
	--pl: calc(1em + 4px);
  	padding-left: var(--pl);
	display: flex;
	font-size: 18px;
}
.list-item-type2::before{
	content: '•';
	flex: none;
	display: inline-flex;
	width: var(--pl);
	padding-left: 4px;
	max-height: calc(1em * 1.5);
	justify-content: center;
	align-items: center;
	/* margin-left: calc( var(--pl) * -1); */
}
.list-item-type2 .title{
	flex:0 1 100%;
	display: inline-block;
	padding-right: 8px;
	
	vertical-align: middle;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	color: var(--font-color-default);
}
.list-item-type2 i{ flex: none }


.tCom005 { 
	padding: 16px 20px; 
	background-color: var(--section-background-color);
	border-radius : var(--border-radius-default) ;
}
.tCom005 .list-item-type2{ 
	padding: 8px 0;
	min-height: 25%; 
	align-items: center;
}
.tCom005 .list-item-type2 + .list-item-type2{ border-top: 1px dashed var(--gray-e) }
.tCom005 .list-item-type2 .title{ font-size: 18px; }
@media(max-width: 1280px){
	.tCom005 .list-item-type2 .title{ font-size: 16px; }
}






.member{
	display: inline-block;
	width: 3em;
	height: 3em;
	overflow: hidden;
	margin: 0;
	background-color: var(--gray-f1);
	line-height: 0;
}
.member figcaption{ display: none; line-height: 1.2; }
.member img{
	display: block;
	width: 100%;; height: 100%;
	object-fit: cover;
	object-position: center;
}
.member img[src*="icon-svg-"]{ transform: scale(0.7) }
.member.none{ background-color: transparent; }
.member.none img{ transform: scale(.7); }
.member.none figcaption{ display: inline-block; line-height: 1.2; }

.member.circle{ border-radius: 100em; transform: scale(1.1); }

.member-wrap { position: relative; display: inline-flex; justify-content: center; }
.member-wrap .member{ box-shadow: 0 0 0px 5px var(--section-background-color);  }
.member-wrap .member + .member{ margin-left: -8px; }

.plus-more{
	position: absolute;
	font-size: 12px;
	line-height: 1;
	padding: 2px 4px;
	box-shadow: 0 0 10px hsl(0 0% 0% / .05);
	border-radius: 100em;
	letter-spacing: 2px;
	bottom: -.7em;
	left: calc( 50% + .5em );
	z-index: 1;
	background-color: #fff;
}



.tCom006{ display: flex; flex-wrap: wrap; }
.tCom006 .member{ 
	width: 30px; height: 30px;
	border-radius: 100em;
	border: 3px solid var(--section-background-color);
	box-sizing: content-box;
	
}
.tCom006 .member + .member{ margin-left: -8px; }



.tCom007{
	display: grid;
	gap: var(--gap, 0);
	grid-template-columns: repeat(12, 1fr);
	gap: 30px 24px ;
}
.tCom007 .section-header{ padding-top: 13px }
.tCom007 .item{ display: flex; flex-direction: column; }
.tCom007 .item .section-header{ flex: none; }
.tCom007 .item .section-header .title .font-number{ padding: 0 5px; }
.tCom007 .item .content-wrap{ flex: 1 }

.tCom007 .btn3.round{ padding: 1px; }
@media(max-width: 768px){
	.tCom007 .item{ grid-column: span 12;  }
	.tCom007 .item:first-of-type{ grid-column: span 12 ;   }
}



.state-before,
.state-ongoing,
.state-complete{
	display: inline-flex;
	gap: 8px;
	font-size: 14px;
	line-height: 1;
	color: var(--dark-600);
	padding: 10px 16px 10px 10px;
	white-space: nowrap;
	flex: none;
	background-color: var(--dark-100);
	border: solid 1px #d6dbd8;
	color: var(--dark-600);
	border-radius: 100em;
}
.state-before i,
.state-ongoing i,
.state-complete i{ position: relative; overflow: visible    }
.state-before i:before,
.state-ongoing i:before,
.state-complete i:before{ 
	position: absolute;
	width: calc( 100% + 6px );
	height: calc( 100% + 6px );
}




.state-ongoing{
	color: #009e97;
	border: solid 1px #b9eeec;
	background-color: #daf6f5;
}
.state-complete{
	color: #107fe8;
	border: solid 1px #cfe6fc;

	background-color: #ecf5fe;
}

.tCom008{
	
}

.tCom009{ padding-bottom: 0; }
.tCom009 .title{ display: inline-flex; align-items: center ; gap: 1em  }
.tCom009 .title i{ padding: 18px; box-sizing: content-box; border-radius: var(--border-radius-default); }


.tCom010{
	display: flex;
	gap: 1em 2em;
	margin-top: 1em;
}
.tCom010 .info{
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	margin-bottom: 1em;
	max-width: 1024px;
  flex: 1;
  margin-right: auto;
}
.tCom010 .info dl{ flex:1 0 45%; font-size: 16px; }
.tCom010 .info dt{ font-size: 1em; font-weight: 400; padding-bottom: .5em; }
.tCom010 .info dd{ font-size: 1.25em; color: var(--font-color-default); }

.tCom010 .info .description{
	padding: 1em;
	border-radius: var(--border-radius-8px);
	background-color: var(--body-background-color);
}

.tCom010 .member{ width: 38px; height: 38px; }
.tCom010 .image-wrap{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 80px;
	gap: 6px;
	width: 100%;
	max-width: calc(240px + 6px);
	
}
.tCom010 .image-wrap .image{
	position: relative;
	grid-column: span 1;
	background-color: var(--gray-f9);margin: 0;
	border-radius: var(--border-radius-8px);
	line-height: 0;
	overflow: hidden;
  border: 1px solid var(--dark-100);
}
.tCom010 .image-wrap .image figcaption{ display: none; }
.tCom010 .image-wrap .image img{
	position: absolute;
	width: 100%; height: 100%;
	object-fit: cover;
}
.tCom010 .image-wrap .image.main{ 
	grid-column: span 3 ; 
	grid-row : span 2;

}

.tCom010 .image-wrap .image.none img{ object-fit: contain; transform: scale(0.3); }




.tCom011{
	display: flex;
	flex-wrap: wrap;
	gap: 1em 2em;
	margin-top: 1em;
}
.tCom011 .info{
	display: flex;
	gap: 0 2em;
	flex-wrap: wrap;
	margin-bottom: 1em;
	max-width: 1024px;
  flex: 1;
  margin-right: auto;
}
.tCom011 .info dl{ flex:1 0 100%; font-size: 16px; }
.tCom011 .info dl + dl{ border-top: 1px solid var(--dark-100); padding-top: 1.5em; margin-top: 1.5em; }
.tCom011 .info dt{ font-size: 1em; font-weight: 400; padding-bottom: .7em; }
.tCom011 .info dd{ /* font-size: 1.125em; */ color: var(--font-color-default); }

.tCom011 .category{ font-size: 16px;  }
.tCom011 .category .option {   }
.tCom011 .category .option .title{ display: inline-block; padding:0 0 .5em 1em;  }
.tCom011 .category .option .item{
	display: flex; 
	gap: 1em 1em; 
	flex-wrap:wrap; 
	padding: 1em;
	border-radius: var(--border-radius-8px);
	background-color: var(--gray-f9);
	
}
.tCom011 .category .option .item > * { flex: 0 1 calc(20% - 1em ); 	min-width: 6em; }

.tCom011 .category .option + .option{  margin-top: 1em }
.tCom011 .state{ display: flex; gap: 4px 1em;  flex-wrap:wrap; }
.tCom011 .state > * { flex: 0 1 19% }

.tCom011 .image-wrap {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
	max-width: calc(300px + 6px);
}
.tCom011 .image-wrap .upload-type2{ max-width: 100%; }
.tCom011 .image-wrap .upload-type3{
	--t3-width: calc( 100% - ( var(--upload-gutter) * 2 ) );
}
@media(max-width: 1024px){
	.tCom011{ flex-direction: column; }
}





.tCom012{ display: flex; gap: 8px; }
.tCom012 > .btn{flex: none; min-width: 5em; align-self: flex-start; min-height: 3em; font-size: 15px;}
.tCom012 .list-item-wrap{ display: flex; gap: 4px 8px; flex-wrap: wrap; }
.tCom012 .list-item-wrap .item {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	min-height: 3em;
	border-radius: 100em;
	background-color: transparent;
	border: 1px solid var(--dark-100);
	padding: 0 1em 0 .8em;
	font-size: 15px;
}
.tCom012 .list-item-wrap .item label{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	align-items: center;
	padding-left: .8em;
}
.tCom012 .list-item-wrap .item:has(label){ padding-left: 3em }
.tCom012 .list-item-wrap .item label input{ border-radius: 100em; }
.tCom012 .list-item-wrap .member {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	width: auto;
	height: 100%;
	max-width: 10em;
	flex-direction: row-reverse;
	background-color: transparent;
	
}
.tCom012 .list-item-wrap .member.no-user{ max-width: none; padding-left: .5em; }
.tCom012 .member img{ width: 4em;  flex: none; /* background-color: #ddd; */ }
.tCom012 .member figcaption{ 
	display: block; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}
@media(max-width: 768px){
	.tCom012{ flex-direction: column }
}




.calendar-a{
	display: inline-flex;
	gap: 4px 8px;
	align-items: center;letter-spacing: 0; 
}
.calendar-a > * + *:before{ content: '-'; margin-right: 4px; }








.tCom013{
	display: flex;
  flex-wrap: wrap;
	align-items: flex-start;
	gap: 8px 3em;
}
.tCom013 .image-wrap{ width: 160px; height: 160px; flex: none; }
.tCom013 .member{
	width: 100%;
	height: 100%;
	background-color: var(--dark-50);
}
.tCom013 .member.no-user{ background-color: var(--gray-f9);  }
.tCom013 .member.no-user img{ transform: scale(.3); }

.tCom013 .info{ 
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	font-size: 16px;
}
.tCom013 .info > dl { flex: 1 0 40%; min-width: 240px; }
.tCom013 .info dt{ font-size: 1em; font-weight: 400; padding-bottom: .7em; }
.tCom013 .info dd{ 
	padding: 1em; 
	background-color: var(--gray-f9); 
	color: var(--font-color-default); 
	border-radius: var(--border-radius-8px);
	font-size: 1.125em;
}




.tCom014{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 8px 3em;
}
.tCom014 .image-wrap{  flex: none;  }
.tCom014 .upload-type2{ width: auto; height: auto;  }
.tCom014 .upload-type2 .upload-file-box .item{ background-color: transparent; }
.tCom014 .upload-type2 .upload-file-box img{  
	width: 160px; 
	height: 160px; 
	border-radius: 100em;
	border : 1px solid var(--dark-200);
}
.tCom014 .upload-type2 figcaption{ top: 0; right: 0; }
.tCom014 .upload-type2 figcaption span{ display: none; }
.tCom014 .upload-type2 .ctrl .btn{
	background-color: #009e97;
	border-radius: 100em;
	width: 2.5em;
	height: 2.5em;

}
.tCom014 .info{ 
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	font-size: 16px;
}
.tCom014 .info > dl { flex: 1 0 40%; min-width: 240px; }
.tCom014 .info dt{ font-size: 1em; font-weight: 400; padding-bottom: .7em; }
.tCom013 .info dd{ 
	font-size: 1.125em;
}









