/*----------------------
      slick
----------------------*/
/* Slider */
.slick-loading .slick-list {background: #fff url('../img/ajax-loader.gif') center center no-repeat;}
.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
 
.slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer; cursor: hand;}
 
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0);  -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
 
.slick-track {position: relative; top: 0; left: 0; display: block;}
.slick-track:before,
.slick-track:after {display: table; content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
 
.slick-slide {display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide {float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
 
/* Icons */
@font-face {font-family: 'slick'; font-weight: normal; font-style: normal; src: url('../fonts/slick.eot'); src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');}
/* Arrows */
.slick-prev,
.slick-next {font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 40px; height: 40px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: 1px solid #d7d7d7; outline: none; background: rgba(255,255,255,.4);}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {color: transparent; outline: none; background: transparent;}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {opacity: 1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {opacity: .25;}
 
.slick-prev:before,
.slick-next:before {font-family: 'slick'; font-size: 20px; line-height: 1; opacity: .75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
 
.slick-prev {left: -50px;}
[dir='rtl'] .slick-prev {right: -50px; left: auto;}
.slick-prev:before {position: absolute; top: 50%; left: 50%; width: 9px; height: 15px; margin: -7px 0 0 -6px; content: ''; background: url(../img/page_arrow_left.png); background-size: cover;}
.slick-next {right: -50px;}
[dir='rtl'] .slick-next {right: auto; left: -50px;}
.slick-next:before {position: absolute; top: 50%; left: 50%; width: 9px; height: 15px; margin: -7px 0 0 -4px; content: ''; background: url(../img/class/page_arrow_right.png); background-size: cover;}
 
/* Dots */
.slick-dotted.slick-slider {margin-bottom: 30px;}
 
.slick-dots {position: absolute; bottom: -25px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; justify-content: center;}
.slick-dots li {position: relative; display: inline-block; width: 20px; height: 20px; margin: 0 5px; padding: 0; cursor: pointer;}
.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 12px; height: 12px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus {outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {opacity: 1;}
.slick-dots li button:before {font-family: 'slick'; font-size: 6px; line-height: 20px; position: absolute; top: 0; left: 0; width: 12px; height: 12px; content: '•'; text-align: center; opacity: .25; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.slick-dots li.slick-active button:before {opacity: .75; color: black;}

.slick-dots[role="tablist"] { position: relative; display: flex; z-index: 1; }
.slick-dots[role="tablist"]::before { display: none; }
.slick-dots[role="tablist"] [role="tab"] { padding:0; border-bottom: none;}









/* 스타일 type 추가_240710 */
.carousel.type2 .c-item{  box-sizing: border-box; }
.carousel.type2 .ctrl{
	position: absolute;
	display: flex;
	gap: 2px;
	background-color: hsl(0 0% 80%);
	border-radius: 100em;
	padding: 0 8px;

	font-size: 16px;
}
.carousel.type2 .ctrl button{
	font-size: 14px;
	line-height: 1;
	position: relative;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 0;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: none;
	background-position: center;
	background-size: 1.25em;
	background-repeat: no-repeat;

}
.carousel.type2 .ctrl .slick-prev:before, .ctrl .slick-next:before{ display:none }
.carousel.type2 .ctrl .slick-prev{
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.carousel.type2 .ctrl .slick-next{
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.carousel.type2 .ctrl .c-dots{
	position: relative;
	display: inline-flex !important;
	justify-content: right;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;

	--dot-width : 1.8em;
	padding-left: var(--dot-width);
	color:#575757;
	font-weight: bold;
}
.carousel.type2 .ctrl .c-dots::before{ 
	content: ''; 
	display: block;
	width: 8px; height: 1em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='8' height='24' viewBox='0 0 8 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.76318 19.0508L6.23649 6.3584' stroke='%23575757' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

}
.carousel.type2 .ctrl .c-dots:after{
	content: attr(data-slide-count);
	display: block;
	width: var(--dot-width);
	text-align: center;
	line-height: 100%;
}
.carousel.type2 .ctrl .c-dots > li{ 
	position: absolute; 
	display:inline-flex; 
	justify-content:center; align-items:center; 
	left: 0; top: 0; 
	width:  var(--dot-width); height: 100%; 
	opacity: 0; 
	transition: opacity .2s;
	line-height: 100%;
}
.carousel.type2 .ctrl .c-dots > li[class*="active"]{ opacity: 1; color: #222  }



.carousel.type2 .ctrl .ctrlbtn{
	display: inline-block;
	width: 18px; height: 18px;
	font-size: 14px;
	color: var(--text-dark-0);
/*	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12001 19.2998C7.87645 19.2994 7.63719 19.2355 7.42579 19.1145C6.94975 18.8448 6.65381 18.3211 6.65381 17.7527V6.24837C6.65381 5.67831 6.94975 5.15626 7.42579 4.8865C7.64223 4.76211 7.88811 4.69814 8.13773 4.70128C8.38735 4.70442 8.63154 4.77456 8.84478 4.90435L18.677 10.7898C18.8819 10.9183 19.0508 11.0967 19.1679 11.3083C19.285 11.52 19.3464 11.7579 19.3464 11.9997C19.3464 12.2416 19.285 12.4795 19.1679 12.6911C19.0508 12.9028 18.8819 13.0812 18.677 13.2097L8.8432 19.0967C8.62497 19.2286 8.37502 19.2988 8.12001 19.2998Z' fill='black'/%3E%3C/svg%3E") ;*/
	
}
/*.carousel.type2 .ctrl .ctrlbtn[data-next-state="pause"]{
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 18.9971H7.5C7.30109 18.9971 7.11032 18.9301 6.96967 18.8108C6.82902 18.6915 6.75 18.5297 6.75 18.361V5.63903C6.75 5.47032 6.82902 5.30853 6.96967 5.18924C7.11032 5.06995 7.30109 5.00293 7.5 5.00293H9.75C9.94891 5.00293 10.1397 5.06995 10.2803 5.18924C10.421 5.30853 10.5 5.47032 10.5 5.63903V18.361C10.5 18.5297 10.421 18.6915 10.2803 18.8108C10.1397 18.9301 9.94891 18.9971 9.75 18.9971Z' fill='black'/%3E%3Cpath d='M16.5 18.9971H14.25C14.0511 18.9971 13.8603 18.9301 13.7197 18.8108C13.579 18.6915 13.5 18.5297 13.5 18.361V5.63903C13.5 5.47032 13.579 5.30853 13.7197 5.18924C13.8603 5.06995 14.0511 5.00293 14.25 5.00293H16.5C16.6989 5.00293 16.8897 5.06995 17.0303 5.18924C17.171 5.30853 17.25 5.47032 17.25 5.63903V18.361C17.25 18.5297 17.171 18.6915 17.0303 18.8108C16.8897 18.9301 16.6989 18.9971 16.5 18.9971Z' fill='black'/%3E%3C/svg%3E");
}*/


.carousel.type3 .slick-list{  }
.carousel.type3 .slick-list .slick-slide{ 	margin: 0 .5rem; }
.carousel.type3 .c-item{ padding: 1rem; box-sizing: border-box; }
.carousel.type3 .ctrl{
	position: absolute;
	display: flex;
	gap: 8px;
	border-radius: 100em;
	padding: 0 8px;

	font-size: 16px;
}
.carousel.type3 .ctrl .c-dots{
	display: inline-flex !important; gap: 4px; align-items: center;
}
.carousel.type3 .ctrl .c-dots li{
	display: block;
	width: 8px; height: 8px;
	background-color: hsl(217 35% 13% / .3);
	border-radius: 100em;
	color: transparent;
	overflow: hidden;
	transition: all .3s;
}
.carousel.type3 .ctrl .c-dots .slick-active{ width: 24px; background-color: hsl(217 35% 13% / .9); }
.carousel.type3 .ctrl .ctrlbtn{
	display: inline-block;
	width: 18px; height: 18px;
	font-size: 14px;
	    background-size: contain;
	    color: var(--text-dark-0);
/*	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12001 19.2998C7.87645 19.2994 7.63719 19.2355 7.42579 19.1145C6.94975 18.8448 6.65381 18.3211 6.65381 17.7527V6.24837C6.65381 5.67831 6.94975 5.15626 7.42579 4.8865C7.64223 4.76211 7.88811 4.69814 8.13773 4.70128C8.38735 4.70442 8.63154 4.77456 8.84478 4.90435L18.677 10.7898C18.8819 10.9183 19.0508 11.0967 19.1679 11.3083C19.285 11.52 19.3464 11.7579 19.3464 11.9997C19.3464 12.2416 19.285 12.4795 19.1679 12.6911C19.0508 12.9028 18.8819 13.0812 18.677 13.2097L8.8432 19.0967C8.62497 19.2286 8.37502 19.2988 8.12001 19.2998Z' fill='black'/%3E%3C/svg%3E") ;*/
	
}
/*.carousel.type3 .ctrl .ctrlbtn[data-next-state="pause"]{
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 18.9971H7.5C7.30109 18.9971 7.11032 18.9301 6.96967 18.8108C6.82902 18.6915 6.75 18.5297 6.75 18.361V5.63903C6.75 5.47032 6.82902 5.30853 6.96967 5.18924C7.11032 5.06995 7.30109 5.00293 7.5 5.00293H9.75C9.94891 5.00293 10.1397 5.06995 10.2803 5.18924C10.421 5.30853 10.5 5.47032 10.5 5.63903V18.361C10.5 18.5297 10.421 18.6915 10.2803 18.8108C10.1397 18.9301 9.94891 18.9971 9.75 18.9971Z' fill='black'/%3E%3Cpath d='M16.5 18.9971H14.25C14.0511 18.9971 13.8603 18.9301 13.7197 18.8108C13.579 18.6915 13.5 18.5297 13.5 18.361V5.63903C13.5 5.47032 13.579 5.30853 13.7197 5.18924C13.8603 5.06995 14.0511 5.00293 14.25 5.00293H16.5C16.6989 5.00293 16.8897 5.06995 17.0303 5.18924C17.171 5.30853 17.25 5.47032 17.25 5.63903V18.361C17.25 18.5297 17.171 18.6915 17.0303 18.8108C16.8897 18.9301 16.6989 18.9971 16.5 18.9971Z' fill='black'/%3E%3C/svg%3E");
}*/

.carousel.type2 .ctrl .ctrlbtn:after,
.carousel.type3 .ctrl .ctrlbtn:after{
	content: '';
	/*position: absolute;
	right: 0; top:0;*/
	display: block;
	width: 100%; height: 100%;
	max-width: 18px;
	background-color: currentColor;
	

	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	--maskimg : url('../img/class/play2.svg');
	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);
}
.carousel.type2 .ctrl .ctrlbtn[data-next-state="pause"]:after,
.carousel.type3 .ctrl .ctrlbtn[data-next-state="pause"]:after{ --maskimg : url('../img/class/pause2.svg'); }