@charset "UTF-8";
/* CSS Document */


.wrap{
    position:relative;
    display: block;
    width: 100%;
    height: 100vh;

    background: #fadf34;

    overflow: hidden;
}
header, nav, section, footer{
    position:relative;
    display: block;
    width: 45%;
    height:auto;
    margin:0 auto;
    
    font-size: 10px;    
}
button{
    cursor: pointer;
}
@media (max-width:767px) {
    header, nav, section, footer{ width: 90%; font-size: 8px; padding-left: 13px; padding-right: 13px; }
}
@media (min-width:768px){

    header, nav, section, footer{ width: 60%;  }

}
@media (min-width:1024px) {
    header, nav, section, footer{ width: 40%;  }
}
@media (min-width:1440px) {
    header, nav, section, footer{ width: 35%;  }
}
@media( min-width:1920px){
    header, nav, section, footer{ width: 35%;  }
}
@media( min-width:2400px){
    header, nav, section, footer{ width: 30%;  }
}

.work, .job{
    position:relative;
    display: inline-block;
    height: 1.52em;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin-top: 1.2em;
    
    font-weight: 300;
    font-size: 1.9em;
    
}
.job{
    float: right;
}
.work li{
    padding-bottom: .52em;
    transition: margin-top 1s;
}
.work li:first-child{
    margin-top:0;
}
.job li{
    text-align: right;
    padding-bottom: .52em;
    transition: margin-top 1s;
}
.illust{ /*  background: #fff;*/
    clear: both;    
    height: 9.8em;

    margin-top:15%;
}
.illust img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.contact{
    text-align: center;
}
.contact button{
    font-size: 1.5em;
    font-weight: 100;
    color: #fadf34;
    background: #000;
    box-shadow:0 0 10px rgba(238,198,12,1); /* #eec60c  */
    border-radius: .5em;
    padding: .3em 1em;
    margin-top:1.8em;
    margin-bottom:1.8em;
}
.contact button:nth-child(1){ margin-right: 1em; }
.HiEveryone{
    font-size: 2em;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;

    margin-top:10%;
}
@media (max-width:767px) {
    .HiEveryone { font-size: 1.6em; margin-top:5%; }
}

.HiEveryone:after{
    content: '© 2020 박민희';
    position: relative;
   /* bottom: 0;
    left: 0;
    transform: translateX(50%);*/
    font-size: .5em;
    color:rgba(238,198,12,1);
}
.HiEveryone span{
    font-size: .7em;
    color: #a69420;
    display: block;
    padding-bottom: 1em;
}
.myName{
    position: relative;
    display: block;

}
.myName:after{
    content: '';
    display: block;
    clear: both;
}
.myName li{   
    position: relative;
    float: left; /* */
    display: block;
    width: 33.333333%;

}

.b_horiz{       background: #f00;/**/
    position: relative;
    display: block;
    width: 3.8em;
    height: 16.3em;
}
.b_horiz:after{       background: #ff0;/**/
    content:'';
    position: absolute;
    display: block;
    right:0;
    width: 3.8em;
    height: 16.3em;
}
.firstWord{
    margin-top:13em;
}
@media (max-width:767px) {
    .firstWord { margin-top:1em; padding-left: 2em; padding-right: 2em;}
    .theRest{ padding-left: 1.7em; padding-right: 1.7em; }
}
.firstWord li{
    /*font-size: 30em;*/
    text-align: center;
    font-weight: bolder;
    color:#fff;
    text-shadow:0 0 20px rgba(238,198,12,1);
}

.firstWord li img{
    width: 100%;
    height: auto;    
    margin-bottom: -10%;
}
.firstWord li:nth-child(1) img{ margin-left: -30%; }
.firstWord li:nth-child(2) img{ }
.firstWord li:nth-child(3) img{ margin-top: -.2em; margin-right: -30%; }
.theRest{
    font-size: 1.3em;
    color: #fff;
}
@media( min-width:1200px) and (max-width:2500px){
    .theRest{ font-size: 1.7em; }
}
.theRest li span{ 
    position: relative;
    display: block;
    /*top:-2.5em;*/
    text-align: center;
}
.theRest li:nth-child(1) span{  margin-left: -30%;  }
.theRest li:nth-child(2) span{ text-align: center; }
.theRest li:nth-child(3) span{ margin-right: -30%;  }
.st0{fill:#FFFFFF;}


footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /*padding: 3em 0;*/
}
footer span{

}

.openSubPage{    background: #000;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 4em;
    bottom:0;
    right: 0;
    border-radius: 3em 3em 0 0;

    -moz-box-shadow: 0px 0px 13px rgba(238, 198, 12,1);
    -webkit-box-shadow: 0px 0px 13px rgba(238, 198, 12,1);
    box-shadow: 0px 0px 13px rgba(148, 125, 16,1);

}


.subcnt button{
    color: #fff;
    background: #000;
    box-shadow:none; /* #eec60c  */
}

.subpage{
    position: absolute;
    z-index: 555;
    display: none;
    width: 45%; /* calc(45% + 2em) */
    height:95vh;
    top:100vh;/* 이건 계산해서 넣기 */
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;

    border-radius: 3em 3em 0 0;
    background: rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 13px rgba(238, 198, 12,1);
    -webkit-box-shadow: 0px 0px 13px rgba(238, 198, 12,1);
    box-shadow: 0px 0px 13px rgba(238, 198, 12,1);

    font-size:10px;

}
@media (max-width:767px) {
    .subpage{ width: 90%; font-size:8px; }
}
@media (min-width:768px){
    .subpage{ width: 60%;  }
}
@media (min-width:1024px) {
    .subpage{ width: 50%;  }
}
@media (min-width:1440px) {
    .subpage{ width: 45%;  }
}
@media( min-width:1920px){
    .subpage{ width: 40%;  }
}
@media( min-width:2400px){
    .subpage{ width: 35%;  }
}
.subHeader{
    position: relative;
    display: block;
    padding-top: 10em ; /*10*/
    /*! top: 0; */
    /*! width: 100%; */
}
@media (max-width:767px) {
    .subHeader{  padding-top: 7.5em ; }
}
.closeSubPage{
    float: left;
    position: absolute;
    left: 2em;
    top: 2em;
    width: 6em;
    height: 6em;
    background: none;
}
.allItemSubPage{
    float: right;
    position: absolute;
    right: 2em;
    top:2em;

    width: 6em;
    height: 6em;
    background: none;
    border-radius: 100%;
}
@media (max-width:767px) {
    .closeSubPage{ font-size: 8px; }
    .allItemSubPage{ font-size: 8px; }
}
.allItemSubPage:hover{    background:#fadf34; }
.allItemSubPage:hover .allItems{    background: #fff; }
.allItemSubPage:hover .allItems:before{    border-color:#fadf34;    }
.allItemSubPage:hover .allItems:after{    border-color:#fadf34;    }

.subillust{                     
    height: 9.8em;
    width:9.8em;
    border-radius: 3em;
    margin:0 auto;

    background: #fadf34;
    -moz-box-shadow: 0px 0px 27px rgba(238, 198, 12,1) inset;
    -webkit-box-shadow: 0px 0px 27px rgba(238, 198, 12,1) inset;
    box-shadow: 0px 0px 27px rgba(238, 198, 12,1) inset;
}
.subillust img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.content{
    position: relative;
    width: 100%;
}
.content .goShow{
    position: relative;
    width: 80%;
    height: auto;
    margin: 4em auto 0;
}
.content .goShow li{      /*background: rgba(238,198,12,1);*/
    position: relative;
    display: inline-block;
    width: 45%;

    text-align: center;
    cursor: pointer;
}
@media (max-width:767px) {
    .content .goShow{ width: 70%; margin-top: 2em; }
    .content .goShow li{ width: 40%; }
}
.content .goShow li:nth-child(2n+1){
    /*top:0;
    left: 0;*/
}
.content .goShow li:nth-child(2n){
    float: right;
    /*right: 0;
    bottom:0;*/

}
.content .goShow li img{
    width: 80%;
    padding:1.7em;
    background: #f9f9f9;
    border-radius: 50%;
}
.content .goShow li div{
    padding:1em 0 2.5em;
    font-size: 1.5em;
    text-align: center;
}
@media (max-width:767px) {
    .content .goShow li div{  padding-bottom: 1.8em; }
}
.content .goShow li div span{
    display: block;
    width: 100%;

    font-size: .7em;
    font-weight: lighter;
    color: #999;
    padding:1em 0;

}
.mainContents{    background: #fff;
    z-index: 666;
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
}
.backPage, .closeDetail{
    float: left;
    position: absolute;
    width: 6em;
    height: 6em;
    top: 2em;
    left:2em;
    z-index: 1;
    /*padding: 4em 2em 1.7em 4em; */
    background: none;
}
.selectedItemSubPage{
    float: right;
    position: absolute;
    width: 6em;
    height: 6em;
    top: 2em;
    right:2em;
    z-index: 1;
    /*padding: 3em; */
    background: none;
    border-radius: 100%;
}
@media (max-width:767px) {
    .backPage, .closeDetail{ font-size: 8px }
    .selectedItemSubPage{ font-size: 8px }
}
.selectedItemSubPage:hover{ background:#fadf34; }
.selectedItemSubPage:hover .allItems{  background: #fff; }
.selectedItemSubPage:hover .allItems:before{   border-color:#fadf34;    }
.selectedItemSubPage:hover .allItems:after{      border-color:#fadf34;    }
.selectedItemSubPage:hover .allItems .selected{     background: #000;   }
.selectedItemSubPage:hover .allItems .selected:before{    background: #000;  }
.selectedItemSubPage:hover .allItems .selected:after{    background: #000;  }

.subsubTitle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.3em;
    color: #aaa;                    
}

.cntList{
    position: relative;
    width: 88%;
    height: 88%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cntList > div{    /*   background: #e5e5e5;*/
    position: relative;
    display: inline-block;
    width: 45%;
    height: 35%;
    margin: 2.5%;
    border-radius: 2em;

    text-align: center;

    overflow: hidden;
    cursor: pointer;

    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
}
.cntList div:nth-child(2n){  float: right;  }
.cntList > div img{
    display: block;
    width: 100%;
}
.wideList div{
    display: block;
    width: 100%;
    height: 25em;
    margin: 2.5% 0;
}
.wideList div:nth-child(2n){  float: none;  }


.subDetail{
    z-index: 777;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    
}


.item{
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;

    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-size: cover !important;
}
.item img{
    position: relative;
    display: block;
    width: 100%;
    
}
.item ul{
    position: absolute;
    display: block;
    width: 90%;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);

    padding: 2.5em 3em;
    border-radius: 1em;
    font-size: 1.5em;
    background: #fff;
    
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    
}
@media (max-width:767px) {
    .item ul{
        height: 40vh;
        padding: 0em 1.8em;
        overflow: scroll;
        border-top:1.5em solid #fff;
        border-bottom:1.5em solid #fff;
    }
}
.item ul li{
    position: relative;
    padding:.5em 0;
    font-weight: 300;
    line-height: 1.7;
}
.item ul li:last-child{ text-align: center; }
@media (max-width:767px) {
    .item ul li:last-child{ margin-bottom: 8em; }
}
.item ul li:after{
    content: '';
    position: relative;
    display: block;
    clear: both;
}
.item ul li dl dt{
    position: relative;
    display: inline-block;
    width: 25%;
    
    font-weight: 300;
    color: #aaa;
    line-height: 1.7;
}
.item ul li dl dt:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 95%;
    width: 1px;
    height: .7em;
    background: #ddd;
    rotate: 30deg;


}
.item ul li dl dd{
    position: relative;
    display: inline-block;
    line-height: 1.7;
    width: 70%;
    float: right;
}
.item ul li dl dd .colors{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin-right: .6em;
}
.item ul li dl dd .toAdd{
    font-size: .9em;
    color: #898989;
    font-weight: lighter;
}

div.hashtag{
    position:relative;
    display: block;
    width: 100%;
}
div.hashtag span{
    position: relative;
    display: inline-block;
    font-size: .8em;
    font-weight: lighter;
    line-height: 1.6;
    padding: .12em .8em .25em;
    margin: .2em .2em;
    color:rgba(0,0,0,1);
    background: rgba(255,255,255,.9);
    border-radius: 1em;
    border:1px solid #f5f5f5; /* */
}
div.hashtag span:before{
    content: '# ';
    position: relative;
    display: inline;
    font-size: .8em;
    line-height: 1.6;
    /*vertical-align: top;*/
    color:#999;
    
}
/* 삭제 예쩡
.item ul li span{
    position: relative;
    width: 25%;
    display: inline-block;
    font-weight: 300;
    color: #aaa;
    vertical-align: top;
}
.item ul li span:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 95%;
    width: 1px;
    height: .7em;
    background: #ddd;
    rotate: 30deg;


}
.item ul li > div{
    position: relative;
    display: inline-block;
    line-height: 1.7;
    width: 70%;
    float: right;
}*/
/* ==========================*/





/* 아이콘 부분 수정 */
.size60per:before{
    width: 60%; 
    height: 60%;
}
.size60per:after{
    width: 60%; 
    height: 60%;
}
.circle{
    background: #fff;
    border-radius: 100%;
    text-align: center;

    box-shadow: 0 0 20px rgba(0,0,0,.2);
}



.on{ display: block; }




/* 팝업 */
.cancel{

}
.submit{
    background: #fadf34 !important;
    color: #000 !important;
}
.nope{
    
    position: absolute;
    width: 5em;
    height: 5em;
    top: 0em;
    right: 1em;
    padding: 1em 0 !important;
    margin: 0;

    background: none !important;
}
.yep{    
    position: relative;
    width: 46%;
    font-size: .9em !important;
    border-radius: 100% !important;
    padding-bottom: 1.5em !important;
    background: #f9f9f9 !important;;
}
.call:before{
    content:url('../img/icons_pf-10.svg');
    position: relative;
    display: block;
    width: 80%;
    height:auto;

    margin-left: auto;
    margin-right:auto;
}

.message:before{
    content:url('../img/icons_pf-09.svg');
    position: relative;
    display: block;
    width: 80%;
    height:auto;
    margin-left: auto;
    margin-right:auto;
}

.bgc_black{
    background: #000;
    color:#fff;
}
.asize{
    line-height: 1;
    padding: .8em 2em;
    margin: 0 auto;
    
}








