@charset "utf-8";
 
/*** base ***/
* { 
	margin:0; 
	padding:0; 
	-webkit-text-size-adjust:none;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}
html, body { 
	font-family: 'NanumSquare', sans-serif; 
	font-size: 10px; 
	font-weight:400; 
}
body { 
	width:100%; 
	height:100%; 
	background:#fff; 
	-webkit-text-size-adjust:none;
	-webkit-user-select:none;
	-ms-overflow-style: none; 

}
::-webkit-scrollbar { display: none; }
a { text-decoration:none; margin:0; padding:0; }
a[href^="tel"]{ font-style:normal}
h1, h2, h3, h4, img, input, div, p, ul, ol, ul, dl { margin:0; padding:0; line-height: 0; }
li { list-style-type:none; }
img { border:0; }
fieldset, form {  border:0; }

address, caption, em, var{font-style:normal;font-weight:normal;}
input, textarea, select{letter-spacing:normal;}

legend, caption{display:none;}

hr{display:none;}
table{border-collapse:collapse;border-spacing:0;}
br{letter-spacing:normal;}
p{letter-spacing:normal;}
input{vertical-align:middle; }
input[type="text"], input[type="password"]{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type="checkbox"]{-webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius:0;}
input:checked[type="checkbox"]{-webkit-appearance:checkbox;}
input[type="radio"]{border:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0;}
textarea{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
select{-webkit-appearance:menulist-text;}
.taxi_clear{clear: both;}




.wrap{ width:100%; position: relative; }
.header{ position: relative; width:100%; }
.header div{ position: absolute; z-index: 9999; width: 100%;  padding:11.5% 5.83% 0 5.83%;/**/ }

.header div a.logo{  float: left; width:18%; }
.header div a.telnum{ float: right; width:28.58%;}/* background: #550;*/
.header div a.logo img{width:100%; }
.header div a.telnum img{ width:100%;  }
.header img.top-bg{width:100%;}

.header .top-title{ 
	position: absolute; 
	z-index: 999;
	width: 100%;
	padding:39.83% 5.83% 0 0;/**/
	font-size: 2.8rem;
	line-height: 4rem;
	color: #fff;
	text-align: right;
	font-weight: 300;
	}

.trip-route{clear: both; width:100%; position: relative;  margin-top:11.5%;}
.title{ width:100%;  }
.title .t_color, 
.title .t_word, 
.title .t_img
{  position: absolute; display: inline-block; line-height:1.8rem;  }
.title .t_color{left:0;  width: 4%; line-height:3.3rem;  background: #0cc4a1; }
.title .t_word{left:8%; margin-top:1.2rem; font-size: 1.8rem; font-weight: 700; color:#000;}
.title .t_img{ right: 5.83%;  width:14.66%; padding-top:1.2rem;  }
.title .t_img img{width:100%;}
.hidden{visibility: hidden;}


.trip-route .detail{width:88.34%; margin: 0 auto; position: relative; padding-top:5rem;}
.trip-route .detail li{ width: 50%; float: left; }
.trip-route .detail .route{
	display: inline-block;
	font-size: 1.6rem; 
	font-weight: 400;
	line-height:1.8rem; 
	color:#000;
	padding:1rem 0 0 1rem;
	background: #fae683;
	}
.trip-route .detail .money{
	display: inline-block;
	font-size: 1.3rem; 
	font-weight: 300;
	line-height:1.8rem; 
	color:#000;
	padding:1rem 0 0 1rem;
	
	}
.trip-route .detail li img{width:100%;}


.btn{ clear: both; position: relative; width:100%; text-align:center;}
.btn a{
	position:relative;
	/*left:55%;
    background-color: #4CAF50;  Green */
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin:3rem 0 4rem 0;
    cursor: pointer;
	}

.trip-check{ width:100%; position: relative; background:#fae683; padding-top:4rem; }
.story{width:88.34%; margin: 5rem auto 0 auto; position: relative;  }
.story li{
	font-size: 1.3rem; 
	font-weight: 400;	
	line-height:1.8rem; 
	background-repeat: no-repeat;
	background-size:1.5rem 1.5rem;
	background-position:0 0.2rem; 
	}
.story li:nth-child(1){	background-image:url(../img/b_1.png);	}
.story li:nth-child(2){	background-image:url(../img/b_2.png);	 }
.story li:nth-child(3){	background-image:url(../img/b_3.png);	}
.story li:nth-child(4){	background-image:url(../img/b_4.png);	  }
.b_grey li:nth-child(1){	background-image:url(../img/bb_1.png)  !important;	}
.b_grey li:nth-child(2){	background-image:url(../img/bb_2.png) !important;	 }
.b_grey li:nth-child(3){	background-image:url(../img/bb_3.png) !important;	}
.story .ss{ display:inline-block; width:100%; padding:0 0 2rem 2rem;}
.nb{ padding-bottom: 0 !important; }


.trip-in{ 
	width:100%; 
	position: relative; 
	background:#0cc4a1; 
	padding:4rem 0; 
	}
.trip-in .db{width:88.34%; margin: 5rem auto 0 auto; position: relative;  }

.trip-in .db li{  display: block;
	width:100%;
	color:#000;
	font-size: 1.6rem; 
	font-weight: 400;	
	line-height:1.9rem; 
	margin-bottom: 1rem;
	border-bottom: 1px solid #fff;
	}
.trip-in .db label{ display: block;  padding-top:0.5rem; /**/ }
.trip-in .db input{
	width: 100%;
	padding:0.5rem 0 0.5rem 0;
	border: none;
	font-size: 1.6rem;
	line-height:1.9rem;
	background: transparent;
	}
.trip-in .db input::placeholder{ color:#b6ede3; font-size: 1.6rem; vertical-align: baseline;}

.trip-in .db .way{ width:50%; margin-top:0.5rem; position: relative; float:left;}
.trip-in .db .way > input[type=radio] {  display:none; }
.trip-in .db .way > input[type=radio] + label{
	position: relative;
	background:#fff;
	/* border:1px solid #ccc; */
	width:100%;
	height: 7.1%;
    line-height: 3rem;
	text-align:center;
	}
.trip-in .db .way > input#w6 + label{
	border-radius: 0 5px 5px 0;
	}
.trip-in .db .way > input#w3 + label{
	border-radius:5px 0 0 5px;
	}
.trip-in .db .way > input[type="radio"]:checked + label{ background-color: #fae683; }

.trip-in .db .people{ width:25%; margin-top:0.5rem; position: relative; float:left;}
.trip-in .db .people > input[type="radio"] {  display:none; }
.trip-in .db .people > input[type="radio"] + label{
	position: relative;
	background:#fff;
	/* border:1px solid #ccc; */
	width:100%;
	height: 7.1%;
    line-height: 3rem;
	text-align:center;
	}
	
.trip-in .db .people > input#p1 + label{
	border-radius:5px 0 0 5px;
	}
.trip-in .db .people > input#p4 + label{
	border-radius:0 5px 5px 0;
	}
	
.trip-in .db .people > input[type="radio"]:checked + label{ background-color: #fae683; }

.trip-in .db .agree{position: relative; border: none; font-size: 1.3rem; line-height:1.3rem; }
.trip-in .db .agree > input[type="checkbox"] {  display:none; }
.trip-in .db .agree > input[type="checkbox"] + label{
	margin-right: 1rem;
	display:inline-block;	
	background:#fff;
	width:4rem;
	height: 2.5rem;
	text-align:center;
	color: #999;
	font-size: 1.2rem;
	}
.trip-in .db .agree > input::placeholder{ color:#999; font-size: 1.6rem; vertical-align: baseline;}
.trip-in .db .agree > input[type="checkbox"]:checked + label{ background-color: #fae683; }
.trip-in .db .agree > span{ display:inline-block; /* vertical-align: */ middle;  height: 2.5rem; }
.trip-in .db .agree > a{display:inline-block; /* vertical-align: */  height: 2.5rem;}

.no_line{ border-bottom: none  !important;  }
.white{background: #fff !important; }
.radiusL{ border-radius:5px 0 0 5px;}
.radiusR{ border-radius:0 5px 5px 0;}

.trip-in .db .agree > .CheckBox{
	margin-right: 1rem;
	display:inline-block;	
	background:#fff;
	width:4rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align:center;
	color: #000;
	font-size: 1.2rem;
	border-radius : 5px;
}

.trip-in .db .agree > span{ display:inline-block; /* vertical-align:  middle;*/  height: 2.5rem; }
.trip-in .db .agree > a{display:inline-block; /* vertical-align: */  height: 2.5rem;}

.btn_db{ border-bottom:none !important;  margin-bottom:0 !important; 	}
.btn_db > input[type="submit"]{
	position:relative;
	width: 100%;
    /*background-color: #4CAF50;  Green */
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin:1rem 0 3rem 0;
    padding: 1rem 0;
    cursor: pointer;
    background-color: #ff7d6c;
	}
.btn_db > .booking{
	display:block;
	position:relative;
	width: 100%;
    /*background-color: #4CAF50;  Green */
    border: none;
    border-radius : 5px ;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
	line-height:1.9rem;
    margin:1rem 0 0 0;
    padding: 1rem 0;
    cursor: pointer;
    background-color: #ff7d6c;
	}
.btn_show{
    display:inline-block !important;
	width:4rem;
	height:2.5rem;
	line-height:2.5rem;
	padding:0;
	}

.checkingBG{
	opacity: 1; 
	display: none ;/*block*/
	position: fixed; 
	top: 0; right: 0; bottom: 0; left: 0; 
	text-align: left; 
	background: rgba(0,0,0, .6); 
	transition: opacity .25s ease; 
	}
.check_trip{
	display: block;
	position:relative /* absolute*/;
	/* top:0;
	left:0; */	
	border-radius: 5px;
	width:95%;	
	padding:2rem 1rem;	
	margin:3rem auto;
	background:#fff;
	z-index:99999;
	
	}
.check_trip .check_title{ 
	position:relative;
	display:block;
	width:100%;
	font-size: 1.6rem; 
	font-weight: 400;	
	line-height:3.5rem;
	margin:0 0 1rem 0;
	background:#e1e1e1;
	}
.check_trip .check_list{
	display:block;
	position:relative;
	width:100%;
	/*background:#f00;*/
	}
.check_trip .check_list li{
	display:block;
	position:relative;
	width:100%;	
	margin:0 0 1.7rem 0;
	}
.check_trip .check_list li > span{
	display:inline-block;
	width:30%;	
	text-align:center;
	font-size: 1.6rem; 
	font-weight: 400;	
	line-height:3.5rem;
	border-radius: 5px;	
	/* border-bottom: 1px solid #0cc4a1;  */
	background:#f5f5f5;
	}
.check_trip .check_list li > input{
	display:inline-block;
	border: none;
	/* border-bottom: 1px solid #000; */
	border-radius:0;
	width:70%;
	font-size: 1.6rem !important; 
	font-weight: 400;	
	line-height:3.5rem;
	 padding:0 0 0 1rem; /**/
	text-align:left;
	color:#000;
	vertical-align:bottom;
	}
.btn_check_trip{
	position: relative;
	width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
	}
.btn_check_trip li{
	display:inline-block; 
	width: 15rem;
	height: 4rem;
	border-radius:5px; 
	border:1px solid #ff7d6c; /* background:#e1e1e1; */
	line-height: 4rem;
	font-size: 1.6rem;
	color:	#ff7d6c;
	margin: 0.8rem 0.3rem 0 0.3rem;	
	cursor:pointer;
	}
.btn_check_trip li:nth-child(2){
	color:#fff;
	background:#ff7d6c;
	}

.popBg{
	display:none;
	position: fixed;
	top: 0; left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	}
.popAlert{
	display:none;
	position: absolute;
	top: 0; left: 0;
	z-index: 9999999;
	/*width: 25rem;
	height: 20rem;
	*/
	border-radius: 5px;
	background: #fff;
	}
.popAlert li{
	display:block;
	position: relative;
	text-align: center;
	font-size: 1.6rem;
	}
.popTxt{
	line-height: 10rem;
	height:10rem;
	box-sizing:border-box;
	}
	
.agree_txt{
	display:block;
	width:90%;
	height:90%;
	margin:0 auto;
	text-align:left !important;
	font-size:1.2rem !important;
	line-height:2.2rem;		
	overflow:scroll;
	/* background: #e1e1e1; */
	padding:1rem 0 0.5rem;
	box-sizing:border-box;
	}
.agree_txt > h3{ line-height:3.5rem;	 }
.agree_txt > .atlt{ 
	font-weight:700;  
	display:block;
	margin-top:1.5rem;
	}
	
.popBtn{
	display:block;
	line-height: 5rem;
	border-top:1px solid #e1e1e1;
	background: #fff;
	font-size:1.6rem;
	text-align:center;
	border-radius:0 0 5px 5px;
	}
.popBtn:focus, .popBtn:active{ background:#ff7d6c; color:#fff; /*-webkit-tap-highlight-color:#ff7d6c ;*/}	


.trip-warning{ width:100%; position: relative; background:#fff; padding-top:4rem; }
.trip-warning table{ width:88%; margin-top: 1rem; border-top:1px solid #999; text-align: center; }
.trip-warning table tr.he td{padding: 0.5rem 0; border-bottom:1px solid #999;}
.trip-warning table tr td{padding: 0.5rem 0; border-bottom:1px solid #f5f5f5;}

.footer{ position: relative; width:100%; background: #f5f5f5; text-align: center;  padding:2rem 0;}
.footer p{ line-height: 1.8rem; font-size: 1.3rem; }

 

@media screen and (min-width:769px) and (max-width:3000px){ .wrap{ /* display:none; */ width: 760px; margin: 0 auto;} }



