@charset "utf-8";
/* test CSS Document */


:host{
	--primary : #b5212e; /*hsl(32 12% 44%) #B6212D hsl(355 69% 42%)*/

	--red : hsl(355 69% 42%); /* #B6212D */
	--red-alpha95: hsl(355 69% 42% / .95); 
	--red-alpha90: hsl(355 69% 42% / .9); 
	--red-alpha80: hsl(355 69% 42% / .8); 
	--red-alpha70: hsl(355 69% 42% / .7); 
	--red-alpha60: hsl(355 69% 42% / .6); 
	--red-alpha50: hsl(355 69% 42% / .5); 
	--red-alpha40: hsl(355 69% 42% / .4); 
	--red-alpha30: hsl(355 69% 42% / .3); 
	--red-alpha20: hsl(355 69% 42% / .2); 
	--red-alpha10: hsl(355 69% 42% / .1); 
	--red-alpha05: hsl(355 69% 42% / .05); 
	
	--lightblue : hsl(210 48% 92%); /* #E0EAF4 */
	--blue: hsl(208 69% 42%); /* #1A62A3 */
	--blue-alpha90: hsl(208 69% 42% / .9); 
	--blue-alpha80: hsl(208 69% 42% / .8); 
	--blue-alpha70: hsl(208 69% 42% / .7); 
	--blue-alpha60: hsl(208 69% 42% / .6); 
	--blue-alpha50: hsl(208 69% 42% / .5); 
	--blue-alpha40: hsl(208 69% 42% / .4); 
	--blue-alpha30: hsl(208 69% 42% / .3); 
	--blue-alpha20: hsl(208 69% 42% / .2); 
	--blue-alpha10: hsl(208 69% 42% / .1); 
	--blue-alpha05: hsl(208 69% 42% / .05); 

	--black : hsl(218 12% 24% / 1);





	--darkblue : hsl(209 100% 30%); /* #005099 */

	--teal : hsl(174 69% 42%); /* #21B6A8 */
	--darkteal : hsl(174 69% 29%);  /* #177F75 */

	--lightgrullo2 : hsl(40 16% 98%); /* #F7F6F4 */
	--lightgrullo : hsl(40 16% 96%); /* #F7F6F4 */
	--grullo : hsl(31 20% 63%); /* #B4A28F   */
	--darkgrullo : hsl(32 12% 44%); /* #7C7062 */
	--darkgrullo2 : hsl(32 12% 34%); /* #7C7062 */


	--grullo-alpha90 : hsl(31 20% 63% / .9);
	--grullo-alpha80 : hsl(31 20% 63% / .8);
	--grullo-alpha70 : hsl(31 20% 63% / .7);
	--grullo-alpha60 : hsl(31 20% 63% / .6);
	--grullo-alpha50 : hsl(31 20% 63% / .5);
	--grullo-alpha40 : hsl(31 20% 63% / .4);
	--grullo-alpha30 : hsl(31 20% 63% / .3);
	--grullo-alpha20 : hsl(31 20% 63% / .2);
	--grullo-alpha10 : hsl(31 20% 63% / .1);
	--grullo-alpha05 : hsl(31 20% 63% / .05);







	--transparent : transparent;

	--text-dark0: hsl(13 10% 18%); /* #231815 */
	--text-dark1: hsl(13, 10%, 28%);
	--text-dark2: hsl(13, 10%, 38%);
	--text-dark3: hsl(13, 10%, 48%);
	--text-dark4: hsl(13, 10%, 68%);
	--text-dark5: hsl(13, 10%, 84%);


	--placeholder : var(--text-dark3);





	--dark0: hsl(13 25% 11%); 
	--dark0-alpha95: hsl(13 25% 11% / .95) ;
	--dark0-alpha90: hsl(13 25% 11% / .9) ;
	--dark0-alpha80: hsl(13 25% 11% / .8) ;
	--dark0-alpha70: hsl(13 25% 11% / .7) ;
	--dark0-alpha60: hsl(13 25% 11% / .6) ;
	--dark0-alpha50: hsl(13 25% 11% / .5) ;
	--dark0-alpha40: hsl(13 25% 11% / .4) ;
	--dark0-alpha30: hsl(13 25% 11% / .3) ;
	--dark0-alpha20: hsl(13 25% 11% / .2) ;
	--dark0-alpha10: hsl(13 25% 11% / .1) ;
	--dark0-alpha01: hsl(13 25% 11% / .01);


	--darkfa: #fafafa;
    --darke: #eee;
	--darkd: #ddd;
	--darkc: #ccc;
	--darkb: #bbb;
	--darka: #aaa;
    --dark9: #999;
	--dark8: #888;
    --dark7: #777;
    --dark6: #666;
    --dark5: #555;
    --dark4: #444;
    --dark3: #333;
    --dark2: #222;
	--dark1: #111;

	--olive : hsl(68 79% 45%);
	--green : hsl(170 96% 37%);
	--violet : #6435c9;
	--pink : #e03997;
	--yellow: hsl(39 100% 61%);

	



	--scrollbar-track : var(--dark0-alpha10);
	--scrollbar-thumb : var(--dark0-alpha20);

	--line-color: hsl(32 12% 90%);
	--line-color2: hsl(210 14% 93.1%);


	--border-radius-4 : 4px;
	--border-radius-8 : 8px;
	--border-radius-15 : 15px;


	--contentsMaxWidth : 1400px;

	--pagetitle-font-size : 30px;
	--subtitle-font-size : 24px;
	--body-font-size : 20px;
	--font-size-18 : 18px;
	--font-size-16 : 16px;


	--font-size-1 : 16px;
	--font-size-2 : 18px;
	--font-size-3 : 20px;
	--font-size-4 : 22px;
	--font-size-5 : 24px;

}
