@charset "utf-8";
/* CSS Document */

ul.result-table {
    overflow: hidden;
    margin-bottom: 20px;
}
ul.result-table li {
    position: relative;
    float: left;
    width: 10%;
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    background: #f1f1f1;
}
ul.result-table li a {
    display: block;
    padding: 1vh 0;
    color: #333;
}
ul.result-table li span {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: 'Century Gothic';
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}
ul.result-table li.attend {
    background: #2185D0;
}
ul.result-table li.absent {
    background: #DB2828;
}
ul.result-table li.late {
    background: #767676;
}
ul.result-table li.attend a,
ul.result-table li.absent a,
ul.result-table li.late a {
    color: #fff;
}
.header-conversion {}
.header-conversion .title {
    position: relative;
    padding-right: 40px !important;
}
.header-conversion .title .dropdown.icon {
    position: absolute;
    top: calc(50% - 6px);
    right: 10px;
    transform: rotate(180deg);
}
.header-conversion .title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    cursor: pointer;
}
.header-conversion .title-header section {
    font-size: 1.125em;
    font-weight: 500;
    color: #333;
}
.header-conversion .title-header section + ul.viewInfo {
    margin-top: 5px;
}
.header-conversion .title-header section span {
    display: inline-block;
    margin: 0 10px;
    font-size: .875em;
}
.header-conversion .title-header .author {
    margin: 5px 10px 0 0;
    color: #999;
}
.header-conversion .title-header .author span {
    margin-right: 10px;
}

ul.list-class {}
ul.list-class li {
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
}
ul.list-class li .course-header {
    margin-bottom: 4px;
}
ul.list-class li .course-header .title {
    font-size: 1.125em;
    color: #333;
    vertical-align: middle;
}
ul.list-class li .course-header .title a {
    color: #333;
}
ul.list-class li .course-header .prof-name {
    padding-left: 10px;
    font-size: 1em;
    color: #7bb4d5;
    vertical-align: sub;
}
ul.list-class li .course-header .prof-name:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px 0 0;
    background: #97a6b7;
}
ul.list-class li .author span {
    display: inline-block;
    font-size: .938em;
    margin-right: 20px;
}
ul.list-class li .author span:last-child {
    margin-right: 20px;
}

ul.num-chk {}
ul.num-chk li {
    display: inline-block;
}
ul.num-chk li a {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: .25em;
    font-size: .875em;
    text-align: center;
    color: #999;
    border-radius: 100%;
    border: 1px solid #d7d7d7;
}
ul.num-chk li.active a {
    color: #fff;
    border: 1px solid #444;
    background: #444;
}
ul.num-chk li.correct a {
    color: #4b5f7f;
    border: 1px solid #4b5f7f;
    background: #f2f4f7;
}
ul.num-chk li.correct.active a {
    color: #fff;
    border: 1px solid #fff;
    background: #4b5f7f;
}
ul.num-chk li.wrong a {
    color: #d32937;
    border: 1px solid #d32937;
    background: #ffeaec;
}
ul.num-chk li.wrong.active a {
    color: #fff;
    border: 1px solid #d32937;
    background: #d32937;
}

.article.show.prof-feedback ul {
    padding-top: 5px;
}

.movbx {
    position: relative;
    width: 100%;
    padding: 56.6% 0 6px;
}
.movbx iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.c-video-layers__container.on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.layer-box {
    display: none;
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.ui.vertical.menu.scrollbox {
    max-height: 1200px;
}
#colorText .item {
    display: flex;
}

#colorText .item p.content {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list-text div.item {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

#list-text div.item p.content {
    flex: 1;
    padding-left: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* TOP SCROLL 요소 */
#toTop {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -1000px;
    text-align: center;
    color: #fff;
    background: url('../img/toTop.png') center center no-repeat #777;
    opacity: 0.8;
    border-radius: 20px;
    z-index: 1001;
}
#toTop:hover, #toTop:focus, #toTop.hover {
    background-color: #CD8F47;
}

#pageSliderDescription {
    position: absolute;
    left: -999em;
    display: inline-block;
    width: 0;
    height: 0;
}

/* 검색 및 준비중인 페이지 CSS */
.page_none {
    width: 740px;
    margin: 200px auto;
    border: 5px solid #e3e4e9;
    background: #f3f3f3 url(../img/page_none.png) 10% 50% no-repeat;
    background-size: 20%;
    overflow: hidden;
}
.page_none ul {
    float: right;
    width: 500px;
    padding-bottom: 20px;
}
.page_none ul li {
    padding: 5px 8px;
    background: url(../img/icon_dot.gif) left 14px no-repeat;
}
.page_none ul li:first-child {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 500;
    background: none;
}
.page_none ul li span {
    color: #ff540e;
}
.page_none a {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: #7684a0;
}

ul.flex-tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
}
ul.flex-tab li {
    flex: 1;
    margin: .25em;
    padding: .75em;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
}
ul.flex-tab li.on {
    border: 1px solid #555;
    background-color: #555;
}
ul.flex-tab li.on a {
    color: #fff;
}
ul.flex-tab li a {
    display: block;
    font-size: 1.063em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.flex-tab li.blue-bar {
    border-bottom: 3px solid #2185D0;
}
ul.flex-tab li.red-bar {
    border-bottom: 3px solid #DB2828;
}
ul.flex-tab li.grey-bar {
    border-bottom: 3px solid #767676;
}
.test-icon {
    width: 16px;
    height: 16px;
}

/* 강의실 LNB */
.class-menu-btn {
    display: none;
}
#class-lnb {
    position: fixed;
    top: 60px;
    left: 0;
    width: 60px;
    height: calc(100% - 60px);
    background-color: #19161c;
    z-index: 998;
}
#class-lnb .straight {
    position: relative;
    height: 100px;
    background: #471c73;
}
#class-lnb .straight .rsvt_open {
    display: block;
    position: relative;
    top: 0;
    width: 60px;
    padding-top: 57px;
    text-align: left;
}
#class-lnb .straight .rsvt_open:before {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    content: '\f127';
    font-family: "Ionicons";
    font-size: 2em;
    color: #fff;
}
#class-lnb .straight .rsvt_open strong {
    display: block;
    font-size: .875em;
    color: #fff;
    opacity: .4;
    text-align: center;
}
#class-lnb .straight .rsvt_open span {
    display: none;
    word-break: break-all;
}
#class-lnb ul li {
    border-bottom: 1px solid #444;
}
#class-lnb ul li a {
    display: flex;
    align-items: center;
    padding: 8px 18px 8px 18px;
    color: #fff;
}
#class-lnb ul li a i {
    font-size: 2em;
    opacity: 0.6;
}
#class-lnb ul li a i:before {
    margin: 0;
}
#class-lnb ul li a span {
    height: 0;
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 0.1s linear;
}
#class-lnb ul li a:hover,
#class-lnb ul li a:focus {
    background-color: #2f0b62;
}
#class-lnb ul li a:hover:before,
#class-lnb ul li a:focus:before {
    opacity: 1;
}
#class-lnb ul li a:hover:after,
#class-lnb ul li a:focus:after {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid #442472;
    box-sizing: border-box
}
#class-lnb ul li ul {
    border-top: 1px solid #262626;
}
#class-lnb ul li ul li {
    border-bottom: 1px solid #262626;
}
#class-lnb ul li ul li:last-child {
    border-bottom: none;
}
#class-lnb ul li ul li a {
    font-size: .875em;
    opacity: .7;
}
#class-lnb ul li ul {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
#class-lnb.active {
    left: 0;
    width: 240px;
}
#class-lnb.active ul li a span {
    height: auto;
}
#class-lnb.active ul li a:before {
    left: 20px;
}
#class-lnb.active ul li a:hover:before {
    transition: opacity 10s linear;
}
#class-lnb.active ul li ul {
    height: auto;
}
#class-lnb.active ul li ul li a:hover {
    opacity: 1;
}
#class-lnb.active span {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
}
#class-lnb.active .straight {
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #661daf;
}
#class-lnb.active .straight:before {
    display: none;
}
#class-lnb.active .straight .rsvt_open {
    width: 100%;
}
#class-lnb.active .straight .rsvt_open:before {
    display: inline-block;
    position: static;
    vertical-align: middle;
}
#class-lnb.active .straight .rsvt_open {
    top: 20px;
    padding-top: 0;
}
#class-lnb.active .straight .rsvt_open strong {
    display: inline-block;
    padding-left: 10px;
    font-size: 1em;
    opacity: 1;
    vertical-align: middle;
}
#class-lnb.active .straight span {
    display: block;
    margin-top: 5px;
    color: #fff;
    font-size: .875em;
    opacity: 0.3;
}

.header-title {
    position: relative;
    padding: 1em 2em;
    background: #5c616f;
}
.header-title .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}
.header-title .center-text h2 {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    color: #fff;
}
.header-title .center-text h2 a {
    color: #fff;
}
.header-title .center-text h2 i {
    display: none;
}
.header-title .center-text .explan {
    display: inline-block;
    margin: 5px 0;
    color: rgba(255, 255, 255, .7);
}
.header-title .flex-section {
    display: flex;
    align-items: center;
}
.header-title .flex-section .group-right {
    margin-left: auto;
    min-height: 40px;
}
.header-title .flex-section .group-right .ui.button {
    width: 100px;
    color: #fff;
    background: rgba(0, 0, 0, .3);
}
.header-title .board-tab {
    position: absolute;
    bottom: 0;
}
.header-title .board-tab ul {}
.header-title .board-tab ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.header-title .board-tab ul li {
    float: left;
    min-width: 110px;
    font-size: 1.125em;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #d7d7d7;
    z-index: 1;
}
.header-title .board-tab ul li a {
    display: block;
    min-height: 48px;
    padding: 12px;
    text-align: center;
    color: #666;
}
.header-title .board-tab ul li.select {
    position: relative;
    box-shadow: 5px 0px 5px -5px #ccc;
    background: #fff;
}
.header-title .board-tab ul li.select a {
    font-weight: 500;
    color: #000;
}

.header-title.EG-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 1em 2em !important;
    background: #3f51b5;
}
.header-title.EG-type h2 {
    color: #fff;
}
.header-title.EG-type h2 a {
    color: #fff;
}
.header-title.EG-type h2 i {
    display: none;
}
.header-title.EG-type .center-text .explan span {
    font-size: 1.5em;
    font-weight: 500;
}
.header-title.EG-type .flex-section {
    margin-left: auto;
}
.EG-grader {
    margin-top: 60px;
    padding: 0;
}
.EG-grader #wrap {
    background: #fff;
}
.EG-grader .header-title.EG-type ~ #context {
    padding: 0 2em;
}
.EG-layout {
    display: flex;
    position: relative;
}
.EG-layout .stu-list-box {
    width: 240px;
    padding: 0 5px 0 1px;
}
.EG-layout .stu-list-box .ui.cards {
    padding-top: 1px;
}
.EG-layout .stu-list-box .card {
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
}
.EG-layout .stu-list-box .card > .content {
    padding: .5em !important;
}
/* .EG-layout .stu-list-box .card > .content:first-child {padding: .5em 1em !important;} */
.EG-layout .stu-list-box .card i {
    font-size: 1.5em;
}

.EG-layout .stu-list-box .meta {
    color: #b7b7b7 !important;
    text-align: right;
}
.EG-layout .stu-list-box .user {
    text-align: right;
}
.EG-layout .stu-list-box .user span {
    margin-left: 10px;
}
.EG-layout .stu-list-box .content.file-box {
    display: block !important;
    font-size: .875em !important;
}
.EG-layout .stu-list-box .file-box .ui.message {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 5px 10px;
    text-align: left;
}
.EG-layout .stu-list-box .file-box .ui.message:last-child {
    margin-bottom: 0;
}
.EG-layout .stu-list-box .file-box .ui.message span {
    display: block;
    word-break: break-all;
}
.EG-layout .stu-list-box .file-box .ui.message span:first-child {
    display: flex;
}
.EG-layout .stu-list-box .file-box .ui.message span button {
    text-align: left;
}
.EG-layout .stu-list-box .file-box .ui.message span button:first-child {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.EG-layout .stu-list-box .file-box .ui.message span i {
    position: relative;
    top: 0;
    font-size: 1em;
    transform: inherit;
}
.EG-layout .stu-list-box .file-box .ui.message .date {
    text-align: right;
}
.EG-layout .stu-list-box .card.select {
    background: #3f51b5;
    color: #fff;
    transition: ease all .3s;
}
.EG-layout .stu-list-box .card.select .meta {
    color: rgba(255, 255, 255, .7) !important;
}
.EG-layout .stu-list-box .card.select .user {
    color: #fff;
}
.EG-layout .stu-list-box .card.select .file-box .ui.message {
    box-shadow: none;
    background: rgba(255, 255, 255, .4);
}
.EG-layout .stu-list-box .card.submit:before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #2185d0;
}
.pdf-viewer {
    flex: 1;
    min-height: 820px;
    margin: 0 2em;
    border: 1px solid #d7d7d7;
    background: #f1f1f1;
    overflow: hidden;
}
.chat-viewer {
    flex: 1;
    width: 100%;
    margin: 0 2em;
    padding: 0 10px;
}
.chat-viewer .paragraph {
    display: flex;
    padding-bottom: 1em;
    overflow: hidden;
}
.chat-viewer .paragraph .initial-img {
    vertical-align: top;
}
.chat-viewer .paragraph .balloon-box {
    position: relative;
    display: inline-block;
    min-width: 180px;
    max-width: calc(100% - 42px);
    padding-right: 50px;
}
.chat-viewer .paragraph .balloon-box .path-btn {
    position: absolute;
    right: 0;
}
.chat-viewer .paragraph .balloon-box .ui.label {
    width: calc(100% - .666em);
    margin-right: 0;
    color: #222;
    line-height: 1.6em;
    background: #f1f1f1;
    cursor: pointer;
}
.chat-viewer .paragraph .balloon-box .ui.label:before {
    top: 22px;
}
.chat-viewer .paragraph .balloon-box .info {
    display: flex;
    margin: 5px 0 0 .666em;
}
.chat-viewer .paragraph .balloon-box .info .ui.header {
    margin-bottom: 0;
    color: #acacac;
}
.chat-viewer .paragraph .balloon-box .info small {
    margin-left: auto;
    padding-left: 20px;
    color: #acacac;
}
.chat-viewer .paragraph.myself .balloon-box {
    margin-left: auto;
    padding: 0 0 0 50px;
    text-align: right;
}
.chat-viewer .paragraph.myself .balloon-box .ui.label {
    width: 100%;
    background: #fbbd08;
}
.chat-viewer .paragraph.myself .balloon-box .path-btn {
    left: 0;
}
.multiple-form {
    padding: 1em 0;
    border-top: 1px solid #999;
    background: #fff;
}
.multiple-form .context-field {
    display: flex;
}
.multiple-form .context-field .inner {
    flex: 1;
}
.multiple-form .context-field .inner input[type="text"] {
    height: 100%;
}
.multiple-form .context-field .submit-btn {
    width: 80px;
    margin-left: 5px;
    color: #fff;
    text-align: center;
    background: #3c4252;
}

/*.EG-layout .pdf-viewer {flex: 1; min-height: 820px; margin: 0 2em; border: 1px solid #d7d7d7; background: #f1f1f1; overflow: hidden;}*/
.EG-layout .info-section {
    width: 23%;
    margin-left: auto;
}
.EG-layout .info-section .tbl.tablet.td-sm > tbody > tr > td {
    padding-left: 20%;
}
.EG-layout .info-section .tbl.tablet.td-md > tbody > tr > td {
    padding-left: 30%;
}
.EG-layout .info-section .tbl.tablet.td-lg > tbody > tr > td {
    padding-left: 40%;
}
.EG-layout .info-section .tbl > thead,
.EG-layout .info-section .tbl > tbody,
.EG-layout .info-section .tbl > thead > tr > th,
.EG-layout .info-section .tbl > tbody > tr > td,
.EG-layout .info-section .tbl > tbody > tr {
    display: block;
}
.EG-layout .info-section .tbl > thead > tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.EG-layout .info-section .tbl > tbody > tr {
    border-bottom: 1px solid #333;
}
.EG-layout .info-section .tbl > tbody > tr:last-child {
    border-bottom: none;
}
.EG-layout .info-section .tbl > tbody > tr > th {
    display: block;
}
.EG-layout .info-section .tbl > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
    min-height: auto;
}
.EG-layout .info-section .tbl > tbody > tr > td.title {
    padding-left: 0 !important;
}
.EG-layout .info-section .tbl > tbody > tr > td:last-child {
    border-bottom: none;
}
.EG-layout .info-section .tbl.test_tbl tbody tr td:last-child {
    border-bottom: 1px solid #eee;
}
.EG-layout .info-section .tbl > tbody > tr > td:before {
    position: absolute;
    top: 8px;
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: 500;
}
.EG-layout .info-section .tbl > tbody > tr > td:before {
    content: attr(data-title);
}
.EG-layout .info-section .tbl > tbody > tr > td.head {
    display: block;
    border-right: none;
}
.EG-layout .info-section .tbl > tbody > tr > td.lg-section,
.EG-layout .info-section .tbl > tbody > tr > td.md-section,
.EG-layout .info-section .tbl > tbody > tr > td.sm-section {
    padding-left: 0;
    background: none;
}
.EG-layout .info-section .ratings-column {
    flex-direction: column;
}
.EG-layout .info-section .ratings-column .box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.EG-layout .info-section .ratings-column .box:before {
    width: 100%;
    height: 1px;
    top: inherit;
    bottom: 0;
}
.EG-layout .info-section .ratings-column .box .title {
    flex: 1;
    margin-left: 10px;
}
.EG-layout .info-section .ratings-column .box .ui.buttons {
    margin-right: 0;
}
.EG-layout .info-section .ratings-column .box .description {
    flex-basis: 100%;
}

.EG-layout .info-section .ui.input.eval-input-box {
    width: 100%;
}
.EG-layout .info-section .ui.input.eval-input-box .ui.input {
    width: 60px !important;
}

.EG-layout .info-section .grid-table {
    border-right: 1px solid #cfcfcf;
}
.EG-layout .info-section .grid-table th.head,
.EG-layout .info-section .grid-table td.head {
    display: none;
}
.EG-layout .info-section .grid-table tr.mo {
    display: table-row;
}
.EG-layout .info-section .grid-table tr.mo td {
    padding: 5px;
    text-align: left;
}

.EG-layout .stu-list-box .slide-left-btn {
    position: fixed;
    top: 50%;
    left: calc(245px + 2em);
    width: 24px;
    height: 120px;
    border: 1px solid #d7d7d7;
    background: #f1f1f1;
    transform: translateY(-50%);
    z-index: 9;
}
.EG-layout .stu-list-box.active .slide-left-btn {
    left: calc(2em - 23px);
}
.EG-layout .info-section .slide-right-btn {
    position: fixed;
    top: 50%;
    right: calc(23% + 20px);
    width: 24px;
    height: 120px;
    border: 1px solid #d7d7d7;
    background: #f1f1f1;
    transform: translateY(-50%);
    z-index: 9;
}
.EG-layout .info-section.active .slide-right-btn {
    right: calc(2em - 23px);
}
.mo-aside-btn {
    display: none;
}
/*.wrap_btn {width: calc(100% - 60px); left: 60px;}*/
ul.course-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
ul.course-tag li {
    margin: 2px 2em 2px 2px;
}

.animation-target {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@keyframes hvr-wobble-vertical {
    8% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    16% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    24% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    32% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    40% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    48% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    56% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    64% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    72% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/* errorPage_ img사이즈조절 */
.flex-container .cont-none img {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

/* stu_eval_part 카드 보더 */
.ui.grid-list.border_yes .ui.card {
    border: 1px solid rgba(34, 36, 38, 0.1);
    box-shadow: none;
    margin: 10px auto;
    padding-bottom: 15px;

}
.ui.grid-list .ui.card .bottom-button {
    display: flex;
    justify-content: center;
}
.ui.grid-list .ui.card .bottom-button button {
    width: 90%;
}

/* rubrics_register.jsp 평가 추가  */
.element.ui.grid.haptest {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    /* box-shadow: #f1f1f1 1px 1px 5px; */
}
.element.ui.grid.haptest .haptest_item {
    padding: 15px;
}
.element.ui.grid.haptest .haptest_item div.size_6 {

    box-shadow: none;
}
.element.ui.grid.haptest .haptest_item:first-child {
    padding-right: 0;
}

/*rubrics_register.jsp내 수정*/
#rubric section {
    display: flex;
    justify-content: space-between;
}

/* eg_view.jsp 0630 */
#rubric_card a div.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#rubric_card a div.content .text_box {
    width: 80%;
}
#rubric_card a div.content .icon_box {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

#rubric_card a div.content .icon_box i {
    display: inline-block;
}

/* subject_plan 평가방법 비중 */
.tbl_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}
.tbl_container .tbl_item .title {
    height: 35px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    background: #e9ecef;
    align-items: center;
    line-height: 30px;
}
.tbl_container .tbl_item .text {
    height: 40px;
}

.tbl_container .tbl_item:nth-child(6n) .title,
.tbl_container .tbl_item:last-child .title {
    border-right: 1px solid #ced4da;
}
.tbl_container .tbl_item .text {
    padding: 10px 5px;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.tbl_container .tbl_item .text.input {
    padding: 3px;
    width: 100%;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.tbl_container .tbl_item .text.input .input {
    width: 100%;
}
.tbl_container .tbl_item:nth-child(6n) .text,
.tbl_container .tbl_item:last-child .text {
    border-right: 1px solid #ced4da;
}

.grid-main.grid_block {
    display: inline-block;
}

/* subject_plan 주별 강의 내용 수정 */
.tbl > tbody tr.view_box td {
    padding: 0.5em;
}
.tbl > tbody tr.view_box td:first-child {
    padding: 0.5em 1em;
}
.tbl > tbody tr.view_box td textarea {
    padding: 0;
    border: 0;
    resize: none;
}

/* mail_none.jsp */
.flex-container .mail_icon {
    width: 50px;
    height: 37px;

    background: url('../img/email_icon.png') no-repeat center;
    background-size: contain;
    object-fit: contain;
    margin: 10px auto;
}

/**** modal_ca_choice.jsp 요소추가  *****/
.modal-type .grid-content-box .header.tog {
    display: flex;
}
.modal-type .grid-content-box .header.tog a {
    display: inline-block;
    padding: 0 10px;
}
.tog_check label {
    display: inline-block;
    padding-right: 10%;
}
.modal-type .grid-content-box .header.tog > div {
    flex: none;
    width: 30%;
    line-height: 30px;
}

/**** leb_plan_info.jsp 요소추가  *****/
.leb_plan_box .inline.field {
    display: flex;
    align-items: center;
}

/*** index_offline hover 스타일 추가 ***/
.m-lecture .ui.card:hover {
    z-index: 5;
    /* -webkit-transform: translateY(-3px);
          transform: translateY(-3px); */
}
.m-lecture .ui.card:hover {
    border: none;
    padding: 2px;
}
.m-lecture .ui.card:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    width: 0;
    height: 0;
    border-radius: 0.4rem;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    z-index: 8;
}
.m-lecture .ui.card:after {
    content: "";
    visibility: visible;
    position: absolute;
    right: 0px;
    bottom: -1px;
    width: 0;
    height: 0;
    border-radius: 0.4rem;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    z-index: 8;
}
.m-lecture .ui.card:hover:before,
.m-lecture .ui.card:focus:before {
    border-color: #5f3dc4;
    width: 100%;
    height: 100%;
    transition: width .3s ease-out, height .2s .3s ease-out;
}
.m-lecture .ui.card:hover:after,
.m-lecture .ui.card:focus:after {
    border-color: #5f3dc4;
    width: 100%;
    height: 100%;
    transition: width .3s ease-out, height .2s .3s ease-out;
}

.card_group {
    position: relative;
    border: 2px solid #5f3dc4 !important;
    transition: border 0.2s linear;
    transition-delay: 0.6s;
}

.card_group:hover {
    border: none !important;
}

/**** test_grid.jsp card형 text틀어짐 수정  *****/
.fields .inline.field {
    display: flex !important;
}
.fields .inline.field label {
    margin-right: 10px;
}
.fields .inline.field i {
    display: inline-block;
    flex: 1;
    font-style: normal;
    word-break: break-all;
}

#nav-btn2 .lnb-overlay {
    display: block;
    /* position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    z-index: 1001; */
}




@media all and (min-width:1281px) {
    .EG-layout .stu-list-box.active {
        margin-left: calc(-240px - 2em);
    }
    .EG-layout .info-section.active {
        margin-right: calc(-23% - 2em);
    }
}

@media all and (max-width:1280px) {

    .bar-label dd {
        font-size: 12px;
    }
    .test-paper .header-fixed .total-Item {
        width: 100%;
    }
    .classInfo {
        text-align: center;
    }
    .classInfo .classSection {
        margin: 10px;
        padding: 10px 0;
        box-shadow: 0 0 0 1px #C9BA9B inset, 0 0 0 0 transparent;
        border-radius: .28571429rem;
        background: #FFFAF3;
    }
    .classInfo .classSection > ul:after {
        display: block;
        clear: both;
        content: ''
    }
    .classInfo .classSection > ul > li {
        padding: 5px 10px;
        text-align: left;
    }
    .classInfo .classSection > ul > li:before {
        display: none;
    }
    .classInfo .classSection > ul > li {
        text-align: left;
    }
    .classInfo .classRight {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
        border-top: 1px solid #C9BA9B;
    }
    .classInfo .classRight ul li:first-child {
        padding-top: 0;
        text-align: left;
    }
    .classInfo .view-img {
        width: 60px;
        height: 60px;
    }
    /*    #container > .content {flex-direction: column;}*/
    .ui.vertical.menu.scrollbox {
        max-height: 260px;
    }

    .header-title {
        padding-bottom: 3.4em;
    }
    .header-title .center-text {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .header-title.EG-type {
        margin-bottom: 1em;
    }
    .header-title.EG-type h2 {
        flex-basis: 100%;
    }
    .EG-layout {
        overflow: hidden;
    }
    .EG-layout .stu-list-box {
        position: absolute !important;
        left: 0;
        width: 320px;
        padding-right: 1em;
        border-right: 1px solid #d7d7d7;
        box-shadow: 3px 0 4px -4px #ccc;
        transform: translate3d(-110%, 0, 0);
        transition: ease all .3s;
        background: #fff;
        z-index: 99;
    }
    .EG-layout .info-section {
        position: absolute;
        right: 0;
        width: 420px;
        padding-left: 1em;
        border-left: 1px solid #d7d7d7;
        padding-right: 1px;
        box-shadow: -3px 0 4px -4px #ccc;
        transform: translate3d(110%, 0, 0);
        transition: ease all .3s;
        background: #fff;
        overflow: hidden;
        overflow-y: auto;
        z-index: 99;
    }
    .EG-layout .stu-list-box.active,
    .EG-layout .info-section.active {
        transform: translate3d(0, 0, 0);
    }
    .EG-layout .stu-list-box .user-btn,
    .EG-layout .info-section button.info-btn {
        display: none;
    }
    .pdf-viewer {
        margin: 0;
    }
    .chat-viewer {
        margin: 0;
        padding: 0;
    }
    .mo-aside-btn {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }
    .mo-aside-btn a {
        display: flex;
        justify-content: center;
        flex: 1;
        padding: .75em;
        font-size: 1.25em;
        color: #fff;
        background: #222;
    }
    .mo-aside-btn a:last-child {
        border-left: 1px solid #fff;
    }
    .slide-left-btn, .slide-right-btn {
        display: none;
    }
    ul.flex-tab li {
        flex-basis: 16.66%;
        max-width: calc(16.66% - .5em);
    }

    /* rubrics_register.jsp 요소추가  */
    .element.ui.grid.haptest .haptest_item:first-child {
        padding-right: 15px;
    }


}

@media all and (max-width:768px) {

    .gn-menu-main {
        position: relative;
        left: 60px;
        width: calc(100% - 60px);
    }
    .gn-menu-main .gn-trigger a {
        border-right: none;
    }
    .gn-menu-wrapper {
        left: 60px;
    }
    #class-lnb {
        top: 0;
        height: 100%;
        z-index: 1000;
    }

    .wrap_btn {
        padding: 1em;
    }
    ul.flex-tab li {
        flex-basis: 25%;
        max-width: calc(25% - .5em);
    }
    ul.num-chk li a {
        width: 32px;
        height: 32px;
        margin: .18em;
        line-height: 32px;
    }
    ul.class-lnb {
        margin-left: 0;
        /*border: none; box-shadow: none;*/
    }
    footer .inner-wrap ul.copy li address .customer {
        display: block;
        margin-top: 10px;
        margin-left: 0;
    }
    .chat-viewer {
        margin: 0;
    }

    /*    aside.lnb .course-menu-btn {display: none;}*/
    .course-menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        top: calc(50% - 45px);
        width: 24px;
        height: 90px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #19161c;
        opacity: .7;
        z-index: 9;
    }
    .course-menu-btn:before {
        content: '\f107';
        margin: 0 auto;
        font-family: "Ionicons";
        font-size: 1em;
        color: #fff;
        text-indent: 0;
    }
    .lnb-overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 1001;
    }
    .lnb-overlay:before {
        position: absolute;
        top: 0;
        right: 20px;
        content: '\f404';
        font-family: "Ionicons";
        font-size: 4em;
        color: #fff;
    }
    .EG-grader {
        margin-top: 0;
    }
    .EG-layout .info-section .ui.input.eval-input-box .ui.input {
        margin: auto !important;
        margin-left: 5px !important;
    }

    /* subject_plan 평가방법 비중 */
    .tbl_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .tbl_container .tbl_item .title {
        height: 35px;
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        border-left: 1px solid #ced4da;
        background: #e9ecef;
        align-items: center;
        line-height: 30px;
    }

    .tbl_container .tbl_item .text {
        height: 40px;
    }

    .tbl_container .tbl_item:nth-child(4n) .title,
    .tbl_container .tbl_item:last-child .title {
        border-right: 1px solid #ced4da;
    }

    .tbl_container .tbl_item:nth-child(4n) .text,
    .tbl_container .tbl_item:last-child .text {
        border-right: 1px solid #ced4da;
    }
    .tbl_container .tbl_item .text.input {
        margin: 0 !important;
    }


}

@media all and (max-width:767px) {
    .class-menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        top: calc(50% - 45px);
        width: 24px;
        height: 90px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #19161c;
        opacity: .7;
    }
    .class-menu-btn:before {
        content: '\f107';
        margin: 0 auto;
        font-family: "Ionicons";
        font-size: 1em;
        color: #fff;
        text-indent: 0;
    }
 
    .gn-menu-main {
        width: 100%;
    }
    .gn-menu-main,
    .gn-menu-wrapper {
        left: 0;
        z-index: 1001;
    }
    #class-lnb {
        left: -170px;
        width: 170px;
    }
    #class-lnb.active {
        z-index: 1001;
    }
    #class-lnb.active .class-menu-btn {
        left: 240px;
    }
    #class-lnb .straight {
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #661daf;
    }
    #class-lnb .straight:before {
        display: none;
    }
    #class-lnb .straight .rsvt_open {
        width: 130px;
    }
    #class-lnb .straight .rsvt_open:before {
        display: inline-block;
        position: static;
        vertical-align: middle;
    }
    #class-lnb .straight .rsvt_open {
        top: 75px;
        padding-top: 0;
    }
    #class-lnb .straight .rsvt_open strong {
        display: inline-block;
        padding-left: 10px;
        font-size: 1em;
        opacity: 1;
        vertical-align: middle;
    }
    #class-lnb .straight span {
        display: block !important;
        margin-top: 5px;
        color: #fff;
        font-size: .875em;
        opacity: 0.3;
    }
    #class-lnb ul li a span {
        display: block;
        visibility: inherit;
        opacity: 1;
        transform: scaleX(1);
    }
    #class-lnb ul li ul {
        height: auto !important;
    }
    #container > .content {
        padding-left: 1em;
    }
    .classInfo {
        padding-left: 0;
    }
    .wrap_btn {
        width: 100%;
        left: 0;
    }

    .header-title {
        padding-bottom: 0;
    }
    .header-title .center-text h2 {
        margin: 0;
        padding-bottom: 1em;
    }
    .header-title .center-text .explan {
        display: none;
    }
    .header-title .center-text h2 i {
        display: inline-block;
    }
    .header-title.EG-type h2 i {
        display: inline-block;
    }
    .header-title .flex-section {
        display: none;
    }
    .header-title .board-tab {
        position: relative;
    }
    .header-title .board-tab ul {
        display: flex;
    }
    .header-title .board-tab ul li {
        flex: 1 1 auto;
    }
    .header-title .board-tab ul li a {
        min-height: inherit;
    }
    .header-conversion .title {
        flex-direction: column;
    }
}

/* test_exampaper 내 성적평가 배점 부분을 위해 추가 */
@media all and (max-width:601px) {
    .ui.form .fields {
        flex-wrap: wrap;
    }
}

@media all and (max-width:480px) {
    /**** modal_ca_choice.jsp 요소추가  *****/
    .modal-type .grid-content-box .header.tog p,
    .modal-type .grid-content-box .header.tog > div {
        flex: 1;
        line-height: 30px;
    }
    .tog_check {
        margin-left: 5%;
    }
    .tog_check label {
        display: inline-block;
        padding-right: 5%;
    }
}