@charset "utf-8";
/* CSS Document */



#key_access {
    position: fixed;
    top: 0;
    width: 100%;
    height: 57px;
    text-align: center;
    overflow: hidden;
    z-index: -1;
}
#key_access ul {
    position: relative;
}
#key_access ul li {
    position: absolute;
    width: 100%;
    height: 57px;
    left: 0;
    top: -9999px;
    background: #6d9bc0
}
#key_access ul li.select {
    top: 0;
}
#key_access a {
    display: block;
    width: 100%;
    height: 57px;
    line-height: 57px;
    color: #fff
}

#loading_page {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
}
#loading_page p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    font-size: 48px;
    z-index: auto;
}

.pc {
    display: block !important;
}
.mobile {
    display: none !important;
}

.ui.form .tbl .inline.fields {
    margin-bottom: 0;
}

header, header.log_in {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #1A4494 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px, rgba(0, 0, 0, 0.06) 0px 2px 0px 0px;
    padding: 0 1em;
}
header:after {
    content: '';
    display: block;
    clear: both;
}
header .menu-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
header .menu-btn span {
    position: absolute;
    right: 0;
    height: 3px;
    height: 3px;
    background-color: #222;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    width: 100%;
}
header .menu-btn span.barTop {
    top: 5px;
}
header .menu-btn span.barMid {
    top: 13px;
}
header .menu-btn span.barBot {
    top: 21px;
    right: 30%;
}
header .inner-box {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 3em;
}
header.log_in .inner-box {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 3.5em;
}
header .inner-box .gnb_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .inner-box h1 {
    position: absolute;
    top: 20px;
    z-index: 10;
}
header .inner-box h1 img {
    width: 100%;
}
/* #gnb */
header .inner-box #gnb {
    position: relative;
    width: 1400px;
    height: 80px;
    background: #fff;
    overflow: hidden;
    margin-left: auto;
}
header .inner-box #gnb .gnbList {
    position: relative;
    overflow: hidden;
    padding-left: 300px;
    background: url(../img/gnb_img.png) 0 280px no-repeat;
}
header .inner-box #gnb .gnbList.cult {
    position: relative;
    overflow: hidden;
    padding-left: 300px;
    background: url(../img/cult_gnb_img.png) 0 280px no-repeat;
}
header .inner-box #gnb .gnbList:after {
    clear: both;
    display: block;
    content: '';
    *zoom: 1;
}
header .inner-box #gnb .gnbList > li {
    width: 16.6%;
    float: left;
    text-align: center;
    background: #fff;
}
header .inner-box #gnb .gnbList > li.wide_lnb {
    width: 25%;
    float: left;
    text-align: center;
    background: #fff;
}
header .inner-box #gnb .gnbList li > h3 > a {
    display: block;
    padding: 28px 0 33px 0;
    font-size: 1.067em;
    font-weight: 500;
    color: #222;
    text-align: center;
    border-bottom: 1px solid #fff;
}
header .inner-box #gnb .gnbList > li.active > h3 > a {
    border-bottom: 2px solid #1A4494;
}
header .inner-box #gnb .gnbList .twoDep {
    height: 500px;
    margin-top: 0px;
    display: block;
}
header .inner-box #gnb .gnbList .twoDep > ul {
    height: 100%;
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
header .inner-box #gnb .gnbList .twoDep > ul > li {
    margin-bottom: 15px;
}
header .inner-box #gnb .gnbList .twoDep > ul > li a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-align: left;
    padding: 0;
    /* white-space: nowrap; */
}
header .inner-box #gnb .gnbList .twoDep > ul > li a:hover {
    color: #1A4494;
    text-decoration: underline;
}

header .inner-box #gnb .gnbList .twoDep > ul > li.tab > ul li a {
    display: block;
    margin: 8px 0;
    padding-left: 4px;
    font-size: 0.875em;
    color: #999;
}
header .inner-box #gnb .gnbList .twoDep > ul > li.tab > ul li a:hover {
    color: #333;
}
header .inner-box #gnb .gnbList > li:last-child .twoDep > ul {
    border-right: 1px solid #ddd;
}

header .inner-box #gnb .gnbList .twoDep.flexDep {
    height: 260px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
header .inner-box #gnb .gnbList .twoDep.flexDep > ul {
    width: 50%;
    height: 100%;
    padding: 20px 0 0 10px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
header button.circle-img {
    position: absolute;
    top: 18px;
    right: 0;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}
.circle-img {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    border-radius: 100%;
    overflow: hidden;
}
.circle-img img {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
}
header.log_in button.log_btn {
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 1002;
    margin-right: 0;
}
/* header .my_area */
header .util {
    display: none;
    max-width: 250px;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1001;
}
header.log_in .util {
    display: none;
    min-width: 250px;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1001;
}
header .util .my_area {
    width: 100%;
    height: 100%;
    padding: 1em;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
}
header .util .user-img {
    text-align: center;
    font-size: 0.933em;
    font-weight: 500;
    color: #333;
    margin-bottom: 1em;
}
header .util .user-img .circle-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
header .util .user-img .u_info {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .util .user-img .u_info .u_name::after {
    content: '|';
    margin: 0 5px;
}
header .util .alrim {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .util .alrim span {
    display: inline-block;
}
header .util .alrim .count {
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    background: #ff6026;
}
header .util .my_area .btn_area {
    margin-bottom: 1em;
}
header .util .my_area .btn_area a {
    display: inline-block;
    margin-bottom: 5px;
}
header .util ul.class_locate li {
    margin-bottom: 5px;
}
header .util .class_locate .ui.search.dropdown {
    font-size: 13px;
}
header .util.on {
    display: block;
}
header.log_in .util ul.link-box {
    width: 100%;
    display: flex;
    align-items: center;
}
header.log_in .util ul.link-box li {
    font-size: .937em;
    text-align: center;
    margin-bottom: 10px;
}


/* nav */
nav {
    display: none;
    width: 240px;
    min-width: 240px;
    height: 100%;
    background: #1A4494;
    z-index: 1;
}
nav .my_area {
    padding: 1em;
    /* border-bottom: 1px solid #cdcdcd; */
}
nav .user-img {
    margin: 1em 0;
    text-align: center;
    font-size: .875em;
    color: rgba(255, 255, 255, .4);
}
nav .user-img .circle-img {
    width: 72px;
    height: 72px;
    margin-bottom: 10px;
}
nav .user-img .u_info {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .user-img .u_info .u_name::after {
    content: '|';
    margin: 0 5px;
}
nav .alrim {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .alrim span {
    color: #fff;
    display: inline-block;
}
nav .alrim .count {
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    background: #ff6026;
}
nav .my_area .btn_area {
    margin-bottom: 1em;
}
nav .my_area .btn_area a {
    display: inline-block;
    margin-bottom: 5px;
}
nav ul.class_locate li {
    margin-bottom: 5px;
}
nav .class_locate .ui.search.dropdown {
    font-size: 13px;
}


/* 로그인 레이아웃 */
.loginBox {
    width: 980px;
    min-width: 768px;
    margin: 0 auto;
    margin-top: 120px;
    overflow: hidden;
}
.loginBox h1 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}
.loginBox h1 span {
    padding-left: 10px;
    text-indent: 56px;
    font-weight: 400;
}
.loginBox p {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
    line-height: 24px;
}
.loginBox .login input[type="text"],
.loginBox .login input[type="password"] {
    width: 100%;
    height: 50px;
    text-indent: 20px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 4px;
}
.loginBox .login input[type="text"]::placeholder,
.loginBox .login input[type="password"]::placeholder {
    color: #999;
}
.loginBox .login a {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    background: #e5002c;
}
.loginBox .login a:hover {
    border: 1px solid #e5002c;
    color: #e5002c;
    background: #fff;
}
.login_bg {
    width: 100%;
    min-width: 768px;
    height: 280px;
    margin-top: 40px;
    background: url(../img/login_bg.jpg) no-repeat;
    background-size: cover;
}

/* TOP SCROLL 요소 */
#toTop {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -1000px;
    text-align: center;
    color: #fff;
    background: url('../img/toTop.png') center center no-repeat #777;
    opacity: 0.8;
    border-radius: 20px;
    z-index: 1001;
}
#toTop:hover, #toTop:focus, #toTop.hover {
    background-color: #CD8F47;
}

#pageSliderDescription {
    position: absolute;
    left: -999em;
    display: inline-block;
    width: 0;
    height: 0;
}

/* 검색 및 준비중인 페이지 CSS */
.page_none {
    width: 740px;
    margin: 200px auto;
    border: 5px solid #e3e4e9;
    background: #f3f3f3 url(../img/page_none.png) 10% 50% no-repeat;
    background-size: 20%;
    overflow: hidden;
}
.page_none ul {
    float: right;
    width: 500px;
    padding-bottom: 20px;
}
.page_none ul li {
    padding: 5px 8px;
    background: url(../img/icon_dot.gif) left 14px no-repeat;
}
.page_none ul li:first-child {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 500;
    background: none;
}
.page_none ul li span {
    color: #ff540e;
}
.page_none a {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: #7684a0;
}


/* #wrap */
#wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* container */
#container {
    flex: 1 1 auto;
    margin-top: 80px;
}
.body__container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1 1 auto;
    overflow-x: hidden;
}
#container > .content {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}
#container > .communal_wrap {
    display: flex;
    width: 100%;
}

#container > .content.dashboard {
    padding-top: 4em;
}
#container > .content .ui.dimmer,
#container > .communal_wrap .ui.dimmer {
    z-index: 997;
}
#container #context {
    width: 100%;
    padding: 0 2em 3em;
}

/* section common */
.section {
    position: relative;
}
.section .inner {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 2;
}

/* section sect01 */
.sect01_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../main_img/section01_bg03.jpg) no-repeat center;
    background-size: cover;
    animation: zoom 3s 0s ease-in-out;
    z-index: -1;
}
.cult .sect01_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../main_img/cult_sect01_img.jpg) no-repeat center;
    background-size: cover;
    animation: zoom 3s 0s ease-in-out;
    z-index: -1;
}
.sect01_bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    animation: color_ch 2s 3.5s ease-out infinite alternate both;
    z-index: -1;
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: ease-out 3s;
        -o-transition: ease-out 3s;
        transition: ease-out 3s;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes color_ch {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    30% {
        background: rgba(0, 0, 0, 0.1);
    }
    100% {
        background: rgba(0, 0, 0, 0.35);
    }
}
.sect_01 .cont01 {
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}
.sect_01.cult .cont01 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 170px 0 150px;
    text-align: center;
    color: #fff;
}
.cont01 .cont01_img {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.cont01 .cont01_img img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sect_01 .cont01 img {
    position: absolute;
    left: 5%;
    display: inline-block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    opacity: 0.15;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.sect_01 .cont01 h2 {
    width: 100%;
    font-size: 3.2em;
    font-weight: bold;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.7);
}

.sect_01 .cont01 p {
    width: 100%;
    font-size: 1.467em;
    line-height: 1.5;
    margin-top: 30px;
    color: #cdcdcd;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}
.sect_01.cult .cont01 h2 {
    width: 100%;
    font-size: 3.8em;
    font-weight: bold;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.7);
}

.sect_01.cult .cont01 p {
    width: 100%;
    font-size: 1.3em;
    /* line-height: 1.5; */
    padding: 15px;
    margin-top: 0;
    color: #eee;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}


/* section sect02 */
.sect_02 .slide_wrap {
    width: 100%;
    background: #fff;
    color: #fff;
    overflow: hidden;
}
.slide_wrap .slide_item span {
    display: inline-block;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.slick-dots {
    bottom: 10px !important;
}
.slide_wrap .slide_item span.bg_item01 {
    position: absolute;
    left: -30px;
    top: -50px;
    width: 250px;
    height: 250px;
}
.slide_wrap .slide_item span.bg_item02 {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 150px;
    height: 150px;
}
.slide_wrap .slide_item span.bg_item03 {
    width: 70%;
    height: 350px;
    margin: 80px 0;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    float: right;
}
/* slide_01 */
.slide_wrap .slide_01 span.bg_item01 {
    background: url(../main_img/slide01_img01.png) no-repeat center;
    background-size: cover;
}
.slide_wrap .slide_01 span.bg_item02 {
    background: url(../main_img/slide01_img02.png) no-repeat center;
    background-size: cover;
}
.slide_wrap .slide_01 span.bg_item03 {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #009cff, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #009cff, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* slide_02 */
.sect_02 .slide_02 span.bg_item01 {
    background: url(../main_img/slide02_img01.png) no-repeat center;
    background-size: cover;
}
.sect_02 .slide_item.slide_02 span.bg_item02 {
    background: url(../main_img/slide02_img02.png) no-repeat center;
    background-size: cover;
}
.sect_02 .slide_02 span.bg_item03 {
    background: #000046;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8ce99a, #087f5b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8ce99a, #087f5b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* slide_03 */
.sect_02 .slide_03 span.bg_item01 {
    background: url(../main_img/slide03_img01.png) no-repeat center;
    background-size: cover;
}
.sect_02 .slide_03 span.bg_item02 {
    bottom: -20px;
    background: url(../main_img/slide03_img02.png) no-repeat center;
    background-size: cover;
}
.sect_02 .slide_03 span.bg_item03 {
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #311b92, #b39ddb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #311b92, #b39ddb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* slide_04 */
.sect_02 .slide_item.slide_04 span.bg_item01 {
    background: url(../main_img/slide04_img01.png) no-repeat center;
    background-size: cover;
}
.sect_02 .slide_item.slide_04 span.bg_item02 {
    bottom: -20px;
    background: url(../main_img/slide04_img02.png) no-repeat center;
    background-size: cover;
}
.sect_02 .slide_04 span.bg_item03 {
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sect_02 .slide_item .inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}
.sect_02 .slide_item .inner .inner_cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.sect_02 .slide_item .inner .inner_cont .l_cont {
    width: 50%;
}
.sect_02 .slide_item .inner .inner_cont .r_cont {
    flex: 1;
    padding-right: 1em;
}
.sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg01 {
    width: 80%;
    margin-left: auto;
}
.sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg02 {
    width: 80%;
    margin-left: auto;
}
.sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg03 {
    width: 85%;
    margin-left: auto;
}
.sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg04 {
    width: 85%;
    margin-left: auto;
    padding-bottom: 5%;
}
.sect_02 .slide_item .inner .inner_cont .r_cont {
    margin-bottom: 1.5em;
}
.sect_02 .slide_item .inner .inner_cont .r_cont h2.tit_head {
    font-size: 2em;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3),
        0px 2px 2px rgba(255, 255, 255, 0.3);
}
.sect_02 .slide_item .inner .inner_cont .r_cont h2 span {
    color: #ffd43b;
}
.sect_02 .slide_item .inner .inner_cont .r_cont .tit_desp {
    font-size: 1.467em;
    margin-top: 1em;
}

/* slide_wrap shortcut_btn */
.slide_wrap .slide_item .inner .inner_cont .shortcut_btn {
    position: absolute;
    right: 10%;
    bottom: 60px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.133em;
    text-align: center;
    background-image: linear-gradient(180deg, #485563 0%, #29323c 100%);
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    letter-spacing: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 2s ease-in;
}
.slide_wrap .slide_item .inner .inner_cont .shortcut_btn:hover,
.slide_wrap .slide_item .inner .inner_cont .shortcut_btn:active {
    background-image: linear-gradient(180deg, #29323c 0%, #485563 100%);
}


/* section_sect03 */
.sect_03 {
    background: #f6f6f6;
}
.sect03_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../main_img/sect03_bg.png) no-repeat;
    background-size: contain;
}
.sect_03 .class_wrap .class_cards {
    margin: 0 3em;
}
.sect_03 .class_wrap .class_cards li {
    width: 100%;
    margin: 1em;
}
.sect_03 .class_wrap .class_cards li a {
    display: inline-block;
}

.sect_03 .class_wrap .class_cards li img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-prev, .slick-next {
    border: none;
    background: none;
}
.slick-prev:hover, .slick-prev:active, .slick-next:hover, .slick-next:active {
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
}
.sect_03 .class_wrap {
    padding: 1em 0 2em;
}
.sect_03 .class_tit {
    text-align: center;
}
.sect_03 .class_tit span {
    display: inline-block;
    position: relative;
    font-size: 1.467em;
    font-weight: 500;
    margin: 1em 0;
}
.sect_03 .class_tit span::before {
    position: absolute;
    top: -10px;
    left: -20px;
    display: inline-block;
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #61c9ff;
    z-index: -1;
}
.sect_03 .class_tit:first-child span::before {
    background-color: #ffc376;
}

/* section_sect_04 */
.sect_04 {
    position: relative;
}
.sect04_bg01 {
    position: absolute;
    bottom: 20px;
    width: 230px;
    height: 230px;
    background: url(../main_img/sec04_bg01.png) no-repeat center;
    opacity: 0.2;
    transform: rotate(-30deg);
}
.sect04_bg02 {
    position: absolute;
    top: 30px;
    right: 0;
    width: 230px;
    height: 230px;
    background: url(../main_img/sec04_bg02.png) no-repeat center;
    opacity: 0.2;
    transform: rotate(30deg);
}
.sect_04 .inner {
    padding: 1em 0;
}
.sect_04 .inner .ui.grid {
    margin: 0 !important;
}

/* section sect_05 */
.sect_05 {
    background-color: #0084ff;
    border-bottom: 2px solid #fff;
}
.sect_05 .inner ul.icon_btn_group {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.sect_05 .inner ul.icon_btn_group li {
    padding: 0.7em 0.5em 0.5em;
    background-color: #0084ff;
    transition: background-color 0.3s ease;
    border-right: 1px solid #fff;
}
.sect_05 .inner ul.icon_btn_group li:first-child {
    border-left: 1px solid #fff;
}
.sect_05 .inner ul.icon_btn_group li:hover,
.sect_05 .inner ul.icon_btn_group li:active {
    background-color: #004899;
}
.sect_05 .inner ul.icon_btn_group li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sect_05 .inner ul.icon_btn_group li a .btn_icon {
    height: 33px;
    margin-bottom: 5px;
}
.sect_05 .inner ul.icon_btn_group li a .btn_icon img {
    height: 100%;
    object-fit: cover;
}




ul.flex-tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
}
ul.flex-tab li {
    flex: 1;
    margin: .25em;
    padding: .75em;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
}
ul.flex-tab li.on {
    border: 1px solid #555;
    background-color: #555;
}
ul.flex-tab li.on a {
    color: #fff;
}
ul.flex-tab li a {
    display: block;
    font-size: 1.063em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.flex-tab li.blue-bar {
    border-bottom: 3px solid #2185D0;
}
ul.flex-tab li.red-bar {
    border-bottom: 3px solid #DB2828;
}
ul.flex-tab li.grey-bar {
    border-bottom: 3px solid #767676;
}

.link-list .ui.segment {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: .5em 1em;
}
.link-list .ui.segment span {
    margin-left: 10px;
}

.link-list .ui.segment small {
    flex: 1 1 auto;
    justify-content: flex-end;
    text-align: right;
}
.link-list .ui.segment small i {
    margin-right: 10px;
    font-size: 1.5em;
    vertical-align: middle;
}
.link-list .failure {
    background: #DB2828 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%) !important;
    color: #fff !important;
}
.link-list .failure .ui.label {
    color: #fff;
    background-color: transparent;
}

.explan {
    text-align: right;
    color: #ff6600;
}

.ip-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.ip-box span {
    line-height: 2.5;
    padding-left: 4px;
}

.header-conversion .title {
    position: relative;
    padding-right: 40px !important;
}
.header-conversion .title .dropdown.icon {
    position: absolute;
    top: calc(50% - 6px);
    right: 10px;
    transform: rotate(180deg);
}
.header-conversion .title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.header-conversion .title-header section {
    font-size: 1.125em;
    font-weight: 500;
    color: #333;
}
.header-conversion .title-header section span {
    display: inline-block;
    margin: 0 10px;
    font-size: .875em;
}
.header-conversion .title-header .author {
    margin: 5px 10px 0 0;
    color: #999;
}
.header-conversion .title-header .author span {
    margin-right: 10px;
}

/* quick-menu */
.quick-menu {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    /* word-wrap: break-word; */
    z-index: 300;
}
.quick-menu dt {
    max-width: 80px;
    padding: 1em;
    font-size: 0.93em;
    font-weight: 500;
    background-size: 40px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #fff;
    background-color: #0084ff;
}
.quick-menu dd:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.quick-menu dd a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    padding: 1em;
    background-color: #fff;
    transition: all 0.2s ease;
    font-size: .875em;
    font-weight: 500;
    color: #333;
}

.quick-menu dd a:hover, .quick-menu dd a:active {
    background-color: #eee;
}

.quick-menu dd a span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.quick-menu dd a .icon1 {
    height: 35px;
    background: url(../main_img/quick_icon01.svg) no-repeat center;
    background-size: contain;
}
.quick-menu dd a .icon2 {
    height: 35px;
    background: url(../main_img/quick_icon02.svg)no-repeat center;
    background-size: contain;
}
.quick-menu dd a .icon3 {
    background: url(../main_img/quick_icon03.svg) no-repeat center;
    background-size: contain;
}
.quick-menu dd a .icon4 {
    background: url(../main_img/quick_icon04.svg) no-repeat center;
    background-size: contain;
}

.schedule_btn {
    position: fixed;
    bottom: 15%;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #0084ff;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    font-size: 0.867em;
    font-weight: 500;
    transition: all 0.2s ease;
    z-index: 300;
}
.schedule_btn:hover, .schedule_btn:active {
    border: 5px solid #00b5ad;
}
.schedule_btn span.sche_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../main_img/schedule_icon.svg) no-repeat center;
    background-size: contain;
    margin-bottom: 3px;
}
.schedule_btn:hover span.sche_icon, .schedule_btn:active span.sche_icon {
    background: url(../main_img/schedule_icon_hover.svg) no-repeat center;
}
/* footer */
footer {
    width: 100%;
    background: #19161c;
}

footer .inner-wrap {
    max-width: 1400px;
    margin: 0 auto;
    font-size: .875em;
    color: #acacac;
    padding: 1em 0;
}
footer .inner-wrap ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer .inner-wrap ul li {
    margin: 1px 0;
}
footer .inner-wrap ul li::after {
    content: '|';
    margin: 0 5px;
}
footer .inner-wrap ul li address {
    font-style: normal;
    display: inline-block;
}
footer .inner-wrap .copyright span {
    display: inline-block;
    margin-right: 5px;
}

/* tbl left_border */
.ctl .tbl tbody tr td.l_border {
    border-left: 1px solid #e1e4e8 !important;
}

/* location */
ul.location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    margin-bottom: 1em;
}
ul.location li {
    padding: 8px 4px;
}

/* BOARD TYPE - TABLE */
.table-wrap {
    width: 100%;
}
.table-wrap table.board {
    text-align: center;
}
.table-wrap .subject {
    text-align: left;
    position: relative;
}
.table-wrap .subject a.no-read {
    font-weight: 600;
}
.table-wrap .subject span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-wrap .subject a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-size: 1em;
}
.table-wrap .subject a.reply {
    padding-left: 30px;
    background: url(../img/comment_inner_arrow.gif) 0 -5px no-repeat;
}
.table-wrap .subject .comment {
    margin-left: 5px;
    display: flex;
}
.table-wrap .subject .comment i {
    font-size: 1.267em;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.table-wrap .b-col {
    width: 7%;
}
.table-wrap .b-col-title {
    width: auto;
}
.table-wrap .b-col-file {
    width: 4%;
}
.table-wrap .b-col-name {
    width: 12%;
}
.table-wrap .b-col-date {
    width: 12%;
}
.table-wrap .b-col-hit {
    width: 7%;
}

.table-wrap .num {
    width: 10% !important;
    text-align: center;
}
.table-wrap span.notice {
    padding: 4px;
    color: #fff;
    font-size: 0.875em;
    border-radius: 2px;
    background: #e82f68;
}
.table-wrap span.ico-noti {
    display: inline-block;
    color: #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    background: #e82f68;
}
.table-wrap span.ico-noti i {
    position: relative;
    top: 3px;
}
.table-wrap table {
    width: 100%;
    position: relative;
    line-height: 1.4;
    table-layout: fixed;
    margin-bottom: 20px;
}
.table-wrap table::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #9ea0a3;
    position: absolute;
    top: 0;
    left: 0;
}
.table-wrap table thead th {
    border-bottom: 1px solid #e1e4e8;
    background-color: #f7f9fa;
    padding: 12px 10px;
    color: #1a345e;
    font-size: 1em;
    font-weight: 500;
}
.table-wrap table thead th:first-child {
    border-left: 0;
}
.table-wrap table thead th:last-child {
    border-right: 0;
}
.table-wrap table tbody th {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
    padding: 20px;
    font-size: 1em;
    font-weight: 400;
    color: #222;
}
.table-wrap table tbody th:first-child {
    border-left: 0;
}
.table-wrap table tbody th:last-child {
    border-right: 0;
}
.table-wrap table tbody th .list.dash > li {
    padding-left: 15px;
}
.table-wrap table tbody th .list.dash > li::before {
    left: 0;
}
.table-wrap table tbody td {
    border-bottom: 1px solid #ddd;
    padding: 18px 10px;
    font-size: 1em;
    color: #333;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
}
.table-wrap table tbody tr.notice td {
    background-color: #f3f7fa;
}
.table-wrap table tbody tr.notice .subject span {
    font-weight: 500;
}
.table-wrap table tbody tr.notice .subject a.no-read span {
    font-weight: 600;
}

/* post_view */
.post_view .header h4 {
    padding: 14px 15px;
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    text-align: center;
    background: #f7f9fa;
}
.post_view .header h4 label {
    position: relative;
    top: -2px;
}
.post_view .content-field.compact {
    min-height: auto;
}
.post_view.re {
    border: 1px solid #323e51;
}
.post_view.re .header h4 {
    padding: 6px 0px 6px 5px;
    font-size: 1.133em;
    font-weight: 500;
    color: #333;
    text-align: left;
    background: #f7f9fa;
}
.post_view.re .path-btn span {
    margin-right: 8px;
}
.post_view.re .path-btn span::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    margin: 0 8px 0 0;
    background: #d7d7d7;
}
.post_view.re .path-btn span:first-child::before {
    display: none;
}
.post_view .path-btn .like-txt {
    margin-right: 3px;
    font-size: 0.933em;
}
.post_view .path-btn label {
    font-weight: 500;
}
.post_view .more-link {
    font-weight: 500;
}

/* post_news */
.post_news {
    margin-bottom: 30px;
}
.post_news > ul {
    border-top: 2px solid #323e51;
    border-bottom: 1px solid #323e51;
}
.post_news > ul > li {
    position: relative;
    width: 100%;
    padding: 18px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #9ea1a9;
    vertical-align: middle;
    overflow: hidden;
}
.post_news > ul > li > p.view-list-img {
    float: left;
    width: 100px;
    text-align: center;
}
.post_news > ul > li > p.view-list-img a {
    display: block;
    position: relative;
    padding-top: 70%;
}
.post_news > ul > li > p.view-list-img a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #e2e2e2;
    border: 1px solid #ccc;
}
.post_news > ul > li > p.view-list-img .symbol {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 0.933em;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33a0d7;
}
.post_news > ul > li > p.view-list-img .symbol i {
    font-size: 2em;
}
.post_news > ul > li > .content_txt {
    margin-left: 120px;
}
.post_news > ul > li > .content_txt > a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 500;
}
.post_news > ul > li > .content_txt > a:hover {
    color: #000;
}
.post_news > ul > li > .content_txt .attach-file {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
}
.post_news > ul > li > .content_txt .attach-file a {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    background: url(../img/data-icon.png) no-repeat;
    background-size: cover;
}
.post_news > ul > li > .content_txt .attach-file a + a {
    margin-top: 4px;
}
.post_news > ul > li > .content_txt .chasi {
    margin-right: 10px;
}
.post_news > ul > li.notice {
    background: #f7f9fa;
}
.post_news > ul > li.notice > .content_txt > .post_label strong {
    font-weight: 600;
    color: #e82f69;
}
.post_news > ul > li.notice > .content_txt > a {
    color: #333;
}
.post_news > ul > li > .content_txt > .post_label em {
    padding-left: 10px;
    font-style: normal;
    ;
}
.post_news > ul > li > .content_txt > .post_label em:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 10px;
    background-color: #c3c3c3;
}
.post_news > ul > li > .content_txt > .post_label em:first-child {
    padding-left: 0;
}
.post_news > ul > li > .content_txt > .post_label em:first-child:before {
    display: none;
}
.post_news > ul > li > .content_txt > .post_disc:after {
    content: "";
    display: table;
    clear: both;
}
.post_news > ul > li > .content_txt > .post_disc {
    color: #acacac;
    margin-top: 0.3em;
}
.post_news > ul > li > .content_txt > .post_disc li {
    float: left;
    padding-right: 10px;
    font-size: 0.941em;
}
.post_news > ul > li > .content_txt > .post_disc li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    margin-right: 10px;
    background-color: #c3c3c3;
}
.post_news > ul > li > .content_txt > .post_disc li:first-child:before {
    display: none;
}
.post_news > ul > li > .content_txt > p > a {
    margin: 5px 0;
    line-height: 1.500em;
    font-size: 1em;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.post_news > ul > li > .content_txt > p > a:hover {
    color: #666;
    text-decoration: underline;
}

/* greeting */
.greeting {
    background: url(../img/tit_bg.png) no-repeat top right;
}
.greeting .text_box {
    z-index: 2;
    margin-right: 2em;
}
.greetTit {
    margin: 35px 0 20px 0;
    font-size: 1.2em;
    font-weight: 700;
    color: #212121;

}
.greetingDesc {
    padding: 1em;
    line-height: 1.7;
    color: #333;

}
.greetingDesc strong {
    font-size: 1.13em;
    font-weight: 700;
}
.sign {
    float: right;
    margin-right: 35px;
}
.ctl p {
    font-size: 1.13em;
    font-weight: 500;
}
.mapDesc {
    font-size: 1.067em;
    color: #212121;
}
.tit {
    font-size: 1.125em;
    font-weight: 500;
    margin: 0.5em 0;
}
.list_tit {
    font-size: 1.067em;
    font-weight: 500;
    margin: 0.3em 0;
}
blockquote a.class-active {
    display: block;
    border-left: 3px solid #2185D0;
    padding: 0 1em;
}
a.class-active .tit {
    color: #039be5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
blockquote a.port_list {
    display: block;
    padding: 0 0.5em;
    border-left: 5px solid #cfcfcf;
}
blockquote a.port_list.stu {
    border-left: 5px solid #b5cc18;
}
blockquote a.port_list.prof {
    border-left: 5px solid #00b5ad;
}
a.port_list .list_tit {
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
a.port_list.stu .list_tit span {
    color: #b5cc18;
    margin-right: 5px;
}
a.port_list.prof .list_tit span {
    color: #00b5ad;
    margin-right: 5px;
}
a.port_list .port_bottom {
    text-align: right;
    margin-top: 0.3em;
    font-size: 0.933em;
}
a.port_list .port_bottom span:first-child::after {
    content: '|';
    margin: 0 5px;
}
blockquote p span {
    font-size: 0.867em;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.cards.info-type ul.keyword_list {
    display: flex;
}
.cards.info-type ul.keyword_list li {
    margin-right: 5px;
}
.cards.info-type ul.keyword_list li:last-child {
    margin-right: 0;
}

/* .slick_box */
.slick_box {
    position: relative;
    width: 100%;
    height: 150px;
}
.slick_box .slider-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
}

/* learn_table_box */
.learn_table_box .subTit {
    margin-top: 10px !important;
    text-align: center;
    margin-bottom: 2em !important;
}
.learn_table_box .tbl {
    margin-bottom: 1em;
}
.learn_table_box p.date {
    font-size: 1.068em;
    font-weight: 500;
    text-align: center;
    margin: 1.5em 0;
}
.learn_table_box ul.confirm_sign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.learn_table_box ul.confirm_sign li {
    margin: 5px 0;
}
.learn_table_box ul.confirm_sign li span {
    display: inline-block;
    font-weight: 500;
    margin-right: 5em;
}

.ui.indicating.progress .bar {
    background-color: #039be5 !important;
}
.survey_box p.tit {
    margin-top: 1.5em;
}
.survey_box p.tit:first-child {
    margin-top: 0;
}
.survey_box p.tit .surv_num {
    display: inline-block;
    margin-right: 5px;
}






/*******************************
            MEDIAQUERY
*******************************/
@media all and (max-width:1400px) {
    footer .inner-wrap {
        padding: 1em 2em;
    }

}

@media all and (max-width:1280px) {
    #container > .wide-section {
        width: 100%;
    }
    header .ui.action {
        margin-left: 40px;
    }
    header .inner-box #gnb .gnbList {
        padding-left: 280px;
    }

    header .inner-box #gnb .gnbList li > h3 > a {
        font-size: 1em;
    }
    header .inner-box #gnb .gnbList .twoDep > ul > li a {
        font-size: 0.933em;
    }

    .contentTitle h2 {
        font-size: 1.200em;
    }
    .contentTitle {
        padding: 18px 0em 8px 0em;
        margin: 0;
    }

}

@media all and (max-width:1279px) {
    header .inner-box #gnb .gnbList {
        padding-left: 200px;
    }
    header .inner-box h1 img {
        width: 70%;
    }
    header .inner-box #gnb .gnbList li > h3 > a {
        font-size: 0.933em;
    }
    header .inner-box #gnb .gnbList .twoDep > ul > li a {
        font-size: 0.867em;
    }

}

@media all and (max-width:1024px) {
    .pc {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }

    #container {
        margin-top: 70px;
    }
    header .inner-box {
        position: relative;
        width: 100%;
        height: 70px;
        margin: auto;
        display: block;
    }
    header .menu-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
    }
    header .inner-box h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 250px;
        margin: 0 auto;
        transform: translate(-50%, -50%);
    }
    header .inner-box h1 img {
        display: inline-block;
        width: 100%;
    }
    header .inner-box #gnb {
        display: none;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
        background: #fff;
        z-index: 99;
    }
    header .inner-box .menu-btn {
        display: block;
    }
    header button.circle-img {
        position: absolute;
        top: 13px;
    }
    header.log_in button.log_btn {
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 0;
        z-index: 1002;
        margin-right: 0;
    }
    nav {
        display: block;
        position: fixed;
        left: -240px;
        height: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 98;
    }
    nav .user-img {
        display: flex;
        flex-direction: column;
    }
    nav.active {
        left: 0;
    }
    nav.active + .overay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000;
        opacity: .3;
        z-index: 97;
    }
    /* .navList */
    nav ul.navList {
        margin-bottom: 100px;
    }
    nav ul.navList > li {
        position: relative;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
    nav ul.navList > li > a {
        display: block;
        font-size: 1.125em;
        text-indent: 20px;
        line-height: 52px;
        color: rgba(255, 255, 255, .8);
        background: url(../img/m_gnb_down.png) calc(100% - 20px) 50% no-repeat;
        background-size: 16px;
    }
    nav ul.navList > li a span {
        position: inherit;
        padding: 0;
    }
    nav ul.navList > li.on > a {
        color: #fff;
        background: url(../img/m_gnb_up.png) calc(100% - 20px) 50% no-repeat;
        background-size: 16px;
    }
    nav ul.navList > li.on .twoDep {
        display: block;
    }
    nav ul.navList > li.subNone > a {
        background: none;
    }
    nav ul.navList .twoDep {
        display: none;
    }
    nav ul.navList .twoDep ul {
        padding: 5px 0;
        background: rgba(255, 255, 255, .1);
    }
    nav ul.navList .twoDep ul li a {
        display: block;
        padding: .75em 0;
        text-indent: 30px;
        color: rgba(255, 255, 255, .6);
    }
    nav ul.navList .twoDep ul li span:before {
        margin-right: 5px;
    }
    nav ul.navList .twoDep ul li a:hover {
        color: #fff;
    }

    /* section_sect01 */
    .sect_01 .cont01 {
        position: relative;
        left: 7%;
        padding: 100px 0;
    }
    .sect_01 .cont01 h2 {
        font-size: 2.5em;
    }
    .sect_01 .cont01 p {
        width: 100%;
        font-size: 1.2em;
        margin-top: 30px;
        color: #cdcdcd;
        text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
            0px -4px 10px rgba(255, 255, 255, 0.3);
    }
    .sect_01 .cont01 img {
        left: 3%;
        width: 350px;
        height: 350px;
    }
    /* section_sect_02 */
    .slide_wrap .slide_item span.bg_item01 {
        width: 250px;
        height: 250px;
    }
    .slide_wrap .slide_item span.bg_item02 {
        width: 150px;
        height: 150px;
    }
    .slide_wrap .slide_item span.bg_item03 {
        width: 80%;
        height: 350px;
    }

    .sect_02 .slide_item .inner .inner_cont {
        width: 100%;
        text-align: left;
        padding: 0 1em;
    }
    .sect_02 .slide_item .inner .inner_cont .r_cont h2.tit_head {
        font-size: 1.667em;
    }
    .sect_02 .slide_item .inner .inner_cont .r_cont .tit_desp {
        font-size: 1.2em;
        margin-top: 1em;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont {
        width: 45%;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg01,
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg02,
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg04 {
        width: 90%;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg03 {
        width: 95%;
    }

}

@media all and (max-width:768px) {
    #container #context {
        padding: 1em 1em 3em;
    }

    .sect01_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../main_img/section01_bg_mobile.png) no-repeat right;
        background-size: cover;
        animation: zoom 3s 0s ease-in-out;
        z-index: -1;
    }
    .sect_01 .cont01 {
        position: relative;
        left: 0;
        padding: 100px 1em;
    }
    .sect_01.cult .cont01 {
        position: relative;
        padding: 100px 1em;
    }
    .sect_01 .cont01 {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sect_01 .cont01 img {
        left: auto;
        width: 350px;
        height: 350px;
    }
    .slide_wrap .slide_item span.bg_item01 {
        width: 180px;
        height: 180px;
    }
    .slide_wrap .slide_item span.bg_item02 {
        width: 100px;
        height: 100px;
    }
    .slide_wrap .slide_item span.bg_item03 {
        position: relative;
        width: 85%;
        height: 280px;
        z-index: 1;
    }
    .slide_wrap .slide_item span.bg_item03 {
        margin: 50px 0;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont {
        width: 40%;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg01, .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg02, .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg03, .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg04 {
        width: 100%;
    }

    .sect_02 .slide_item .inner .inner_cont .r_cont h2.tit_head {
        font-size: 1.4em;
    }
    .sect_02 .slide_item .inner .inner_cont .r_cont .tit_desp {
        font-size: 1.067em;
        line-height: 1.5;
        margin-top: 1em;
    }
    .slide_wrap .slide_item .inner .inner_cont .shortcut_btn {
        position: absolute;
        right: 10%;
        bottom: 30px;
        width: 180px;
        height: 45px;
        line-height: 45px;
        font-size: 1.067em;
    }


    .sect_05 .inner ul.icon_btn_group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .sect_05 .inner ul.icon_btn_group li a .btn_icon {
        height: 28px;
        margin-bottom: 5px;
    }

    .sect_05 .inner ul.icon_btn_group li:nth-child(1) {
        border-left: none;
    }
    .sect_05 .inner ul.icon_btn_group li:nth-child(1),
    .sect_05 .inner ul.icon_btn_group li:nth-child(2),
    .sect_05 .inner ul.icon_btn_group li:nth-child(3) {
        border-bottom: 1px solid #fff;
    }


    .loginBox {
        width: 100%;
        margin-top: 20px;
    }

    /* .top-section */
    .text-box {
        width: 80%;
    }
    .top-section.teaching .bg_img {
        width: 280px;
        opacity: 0.7;
    }
    .text-box p {
        font-size: 1em;
    }

    ul.flex-tab li {
        flex-basis: 25%;
        max-width: calc(25% - .5em);
    }
    /* tbl left_border */
    .ctl .tbl tbody tr td.l_border {
        border-left: none !important;
    }
    .post_view .header h4 {
        padding: 10px 15px;
        font-size: 1.13em;
        font-weight: 500;
    }

}

@media all and (max-width:767px) {
    .sect_02 .slide_item .inner .inner_cont .r_cont {
        padding-right: 0;
    }



    .top-section.teaching .bg_img {
        width: 280px;
        opacity: 0.5;
    }
    .text-box {
        width: 90%;
    }
    .text-box .title {
        font-size: 2.5em;
    }
    .top-section.learning .bg_img {
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 200px;
        background: url(../img/top_sec_bg04.png) no-repeat center;
        background-size: cover;
        opacity: 0.5;
    }
    .top-section.portfolio .bg_img {
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 200px;
        background: url(../img/top_sec_bg05.png) no-repeat left;
        background-size: cover;
        opacity: 0.7;
    }

    footer .inner-wrap {
        padding: 1em 1.2em;
    }
    .table-wrap .board colgroup,
    .table-wrap .board thead {
        display: none;
    }
    .table-wrap .board tbody tr {
        border-bottom: 1px solid #dcdbdb;
        padding: 10px 15px;
        display: block;
        overflow: hidden;
    }
    .table-wrap .board tbody tr.notice {
        background-color: #f7f9fa;
    }
    .table-wrap .board tbody tr td {
        position: relative;
        display: none;
        padding: 0;
        border: 0;
    }
    .table-wrap .board tbody tr td.subject {
        display: block;
        margin-bottom: 5px;
        font-size: 1em;
    }
    .table-wrap .board tbody tr td.subject .read-label {
        left: -14px;
    }
    .table-wrap .board tbody tr td.name,
    .table-wrap .board tbody tr td.date,
    .table-wrap .board tbody tr td.hit,
    .table-wrap .board tbody tr td.no,
    .table-wrap .board tbody tr td.file {
        display: block;
        float: left;
        text-align: left;
        margin-right: 16px;
    }
    .table-wrap .board tbody tr td.no {
        width: 100%;
        text-align: center;
    }
    .table-wrap .board tbody tr td.num, .table-wrap .board tbody tr td.type {
        display: none;
        /* text-align: left;
        font-weight: 500;
        color: #999;
        font-size: 0.929em;
        margin-bottom: 3px; */
    }
    .table-wrap .board tbody tr td.name:after,
    .table-wrap .board tbody tr td.file:after,
    .table-wrap .board tbody tr td.date:after {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        right: -8px;
        width: 1px;
        height: 10px;
        background-color: #d5d5d5;
    }
    .table-wrap .board tbody tr td.hit::before {
        content: "조회수 ";
    }
    .table-wrap .board tbody tr td.file::before {
        content: "첨부";
    }
    .table-wrap .board tbody tr td [class^="xi"] {
        font-size: 16px;
        vertical-align: middle;
    }
    .subCon p.imgArea img {
        width: 100%;
        object-fit: contain;
    }
}
@media all and (max-width:600px) {
    .slide_wrap .slide_item span.bg_item01 {
        display: none;
        width: 180px;
        height: 180px;
    }
    .slide_wrap .slide_item span.bg_item02 {
        display: none;
        width: 100px;
        height: 100px;
    }
    .slide_wrap .slide_item span.bg_item03 {
        margin: 60px 0;
    }
    .slide_wrap .slide_item span.bg_item03 {
        position: relative;
        width: 100%;
        height: 330px;
        z-index: 1;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg01, .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg02, .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg03, .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg04 {
        width: 100%;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont .anim_svg04 {
        width: 85%;
        margin-left: auto;
        padding-bottom: 0;
    }
    .sect_02 .slide_item .inner .inner_cont {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .sect_02 .slide_item .inner .inner_cont .l_cont {
        width: 50%;
        margin-top: 2em;
    }
    .sect_02 .slide_item .inner .inner_cont .r_cont {
        width: 100%;
        padding: 0 1em;
    }
    .slide_wrap .slide_item .inner .inner_cont .shortcut_btn {
        position: absolute;
        right: 10%;
        bottom: 50px;
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 1.067em;
    }
    .sect03_bg {
        display: none;
    }

}

@media all and (max-width:480px) {
    .sect_05 .inner ul.icon_btn_group li a .btn_icon {
        height: 25px;
        margin-bottom: 3px;
    }
    .text-box {
        width: 100%;
        top: 0;
        padding: 0 1em;
    }
    .text-box .title {
        font-size: 2em;
    }
    .text-box p {
        font-size: 0.867em;
    }
    .greetingDesc {
        padding: 1em 0;
    }
    .mapDesc {
        font-size: 1em;
    }

    /* table.footable-details > tbody > tr > td {word-break: initial !important;} */
    .link-list .ui.segment .ui.button,
    .link-list .ui.segment .ui.label {
        order: 1;
    }

    .link-list .ui.segment span {
        order: 3;
        margin-top: 5px;
        margin-left: 0;
    }

    .link-list .ui.segment small {
        order: 2;
    }

    .header-conversion .title-header section span {
        margin: 0 10px 0 0;
    }

    ul.flex-tab li {
        flex-basis: 50%;
        max-width: calc(50% - .5em);
    }

    /*** academic_calendar table-cell 요소 크기 수정 ***/
    .date_term {
        width: 130px;
    }

    /*** state_subject_access tab button 수정  ***/
    .etc_option_content .date_search button {
        display: block;
    }

    .etc_option_content .button-area {
        display: none;
    }


    /*** state_period table수정 ***/
    .tbl.state_box > thead > tr {
        position: static;
    }
    .tbl.state_box > tbody > tr > td {
        text-align: center;
        border-left: 1px solid #e1e4e8;
        border-bottom: 1px solid #e1e4e8;
    }
    .tbl.state_box > tbody > tr > td:first-child {
        border-left: none;
    }
    .tbl.state_box > tbody > tr > td:last-child {
        border-bottom: 1px solid #e1e4e8;
    }
    .tbl.state_box > tbody > tr > td:before {
        content: "";
    }

    /*** table.table.footable_210810수정  ***/
    body table.table.footable {
        font-size: 14px;
    }
    table.footable-details > tbody > tr > td:nth-child(2) {
        word-break: keep-all;
    }
    .footable-details.table .mo-detail.ui.buttons {
        margin-left: 0px;
        background: transparent;
    }

    .cms_dataValue .equal.fields:nth-child(2) .dataValue_box:nth-child(2) {
        margin-top: 15px;
    }
}