@charset "UTF-8";



body{ padding: 3rem 1rem; }
form{ 
	display: block; 
	min-width: 240px; 
	vertical-align: top;
	padding: 1rem;
	font-size: .75rem;
}
/* .bb{ flex: 1 2 320px; min-width: 320px;} */
.bb form{ width: 100%; }

.formType1{  
	flex:1;
}
.formType1 .field > *:not(small){ width: 100%;}

label:has(small){  }

.formType1{
	padding: 1rem;
	background-color: #fff;


}

.formType1 > header{ margin-bottom: .85rem; }

.formType1 .h5{ font-size: .85rem; margin-right: auto; }
.formType1 h5{ font-size: .85rem; margin-right: auto; }   
.formType1 .field{   }

.formType1 .field + .field{ 
	margin-top : 1rem;
	padding-top: 1rem;
	border-top: 1px dashed #eee; 
}
.formType1 .field > header{
	display: flex;
	align-items: center;
}
.formType1 .field > header .btn[data-action="add"]{
	padding: 0;
	color: #fff;
	background-color: #aaa;
	width: auto; min-height: auto;
	min-width: 1.5em;
	height: 1.5em;
	line-height: 1;
	border-radius: 4px;
	padding: 2px 4px;
	margin-left: 8px;
}
.item-wrap:not(.fileBox):has(> *){ margin-top: 1rem }


.formType1 .com001 > label,
.formType1 .com001 > .upload.type1:has(.item){
	flex: 1;
}
.formType1 .com001 > .upload.type1{ max-width: 50%; }

.btn[data-action="delete"]{
	display: inline-block;
  padding: 2px;
  font-size: 12px;
  background-color: #222;
  color: #fff;
}
.btn[data-action="delete"]:hover{ color: #fff;}


#uploadNewItem{
	position: fixed;
	left: calc(-100% - 1rem);
	top: 1rem;
	width: calc(100% - 2rem);
	max-width: 600px;
	max-height: 87vh;
	overflow-y: auto;
	z-index: 7;
	box-shadow: 0 0 20px hsl(0 0% 0% / .3);
	border-radius: 4px;
	padding: 2rem;
	transition: left .2s;

}


.upload.type2 .fileBox > .item:has([src*="logo-react"]){
	background-color: #20232a;
}
.upload.type2 .fileBox > .item:has([src*="logo-react"]) img{
	width: 3rem;
	margin: auto;
	object-fit: contain;
}