@charset "UTF-8";

/* @import url("reset.css");

 */


header.common{
	background-color: var(--bs-body-bg);

		/* 임시 */
		position: sticky;
		z-index: 3;
		top: -8px;
		transition: all 1s;
}
.header-common-util{
	position: relative;
	display: flex;
	align-items: center;
	/*! height: 100%; */
	border-bottom: 1px solid var(--border-color);
	padding: 36px var(--bs-gutter-x) 24px ;
	
}
.header-common-util .logo{ 
	display: inline-flex; 
	/*! align-self: stretch; */
	margin-right: auto;
	gap: 8px;
}
.header-common-util .logo:hover{ color: var(--text-dark0)}
.header-common-util .logo > b{ 
	display: none;
	align-items: center;
	font-weight: 500;
}
.header-common-util .logo::before{
	content: url(../img/common/logo.svg);
	display: inline-block;
	width: 54px;


	margin-top: -7px;
}
.header-common-util h1{ 
	opacity: 0; 
	font-size: 0px; 
	position: absolute; 
	z-index: -1; 
}

@media(min-width: 768px){
	.header-common-util .logo > b{ display: inline-flex;}
	.header-common-util h1{ 
		opacity: 1;  
		font-size: 20px;
		font-weight: 900;
		left: 50%; bottom: 24px;
		transform: translateX(-50%);
	}
	.header-common-util .util .btn-link{ 
		font-family: 'Oceanwide';
		font-weight: 600;
	}
}

footer.common{
	margin-top: -100vh;
	/* position: static;
	
	position: relative;
	z-index: -1; */
	background-color: var(--bs-body-color)
}
footer.common:before{
	content: '';
	
	display: block;
	height: 100vh;
	
	z-index: -1;
}
footer.common .contents-wrap {
	position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  overflow: visible;
  padding: 13em 1em 2em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
footer.common .contents-wrap a[href*="mailto"]{
	color: #fff;
	font-size: 1.5em;
	font-family: 'Oceanwide';
	font-weight: 600;
	transition: all .2s;
}
footer.common .madein{
	display: inline-flex;
	transform: rotate(-90deg) translate(-20%, 250%);
	transform-origin: 0 0;
	flex: none;
	align-self: end;
	font-size: 12px;
}
@media(min-width: 768px){
	footer.common .contents-wrap a[href*="mailto"]{ font-size: 4.5em; }
}
/* 수정_240911 */




i[class*="icon-svg-"] {
	--w: 1.5em;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	flex: none;

	display: inline-flex;
	font-size: 1em;
	width: var(--w);
	height: var(--w);
	color: var(--text-dark4);
	cursor: pointer;
	padding: 0px;

	vertical-align: middle;
  line-height: initial;

	--maskimg : url('../img/common/icon-svg-missimg.svg');
	
}
i[class*="icon-svg-"]:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
i.icon-svg-article{ --maskimg : url('../img/common/icon-svg-article.svg'); }
i.icon-svg-imagesmode{ --maskimg : url('../img/common/icon-svg-imagesmode.svg'); }

.container{
	position: relative;
	background-color: var(--bs-body-bg);
	z-index: 2;

	
	padding-bottom: 1em;

	padding: 0em 0em 0;
}
.container.main{
	
}


.hello{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 86vh;

	position: relative;
	z-index: 1;
}
.hello h2{
	position: relative;
	display: inline-block;
	font-size: 68px;
	font-weight: 900;
	z-index: 1;
	letter-spacing: .3em;
	transition: all .7s;
}
.hello h2::after{
	position: absolute;
	display: block;
	white-space: nowrap;
	content: attr(data-title);
	color: var(--bs-body-bg);
	-webkit-text-stroke: 1px var(--text-dark0);
	top: 3px;
	left: 4px;
	z-index: -1;
}
.hello .contents-wrap{ 
	display: flex;
	gap: 8px;
	font-size: 16px; 
}
.hello .contents-wrap small{ font-size: 80%; font-weight: 200;}
@media(min-width: 768px){
	.hello h2{ font-size: 130px; }
	.hello h2::after{ top: 6px; left: 10px; }
	.hello .contents-wrap{ font-size: 20px;  }
}




.text-animation{
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	position: absolute;
	width: calc(100% + 0px);
	height: auto;
	overflow: hidden;
	left: 0px;
	top: 56%;
	z-index: -1;
	transform: translateY(-87%);

	/*! scale: .8; */
}
.textLoop {
	animation: textLoop 30s linear infinite;
	background-image: url("../img/common/ㅂㅁㅎ2.svg") ;
	background-repeat: repeat-x;
	background-size: auto;
	width: calc(100% + ( 1062px ));
	height: 160px;
	backface-visibility: hidden;
	will-change: transform;
	opacity: .2; 
	/* scale: .8; */
}
.textLoop.type2{ background-image: url("../img/common/ㅂㅁㅎ.svg") ;  opacity: 1;  }


.text-animation > .q { width: 134px; height: 121px; }
.text-animation > .q::before {	--maskImage: url('../img/common/ㅂ.svg'); }
.text-animation > .k { width: 69px;  height: 121px;   }
.text-animation > .k::before {	--maskImage: url('../img/common/ㅏ.svg'); }
.text-animation > .r { width: 132px;  height: 128px;   }
.text-animation > .r::before {	--maskImage: url('../img/common/ㄱ.svg'); }

.text-animation > .a { margin-left: 2em; width: 149px;   height: 125px;   }
.text-animation > .a::before {	--maskImage: url('../img/common/ㅁ.svg'); }
.text-animation > .l { width: 37px;  height: 125px;    }
.text-animation > .l::before {	--maskImage: url('../img/common/ㅣ.svg'); }
.text-animation > .s { width: 132px; height: 128px;    }
.text-animation > .s::before {	--maskImage: url('../img/common/ㄴ.svg'); }

.text-animation > .g { margin-left: 2em;  width: 143px; height: 151px;    }
.text-animation > .g::before {	--maskImage: url('../img/common/ㅎ.svg'); }
.text-animation > .ml { width: 162px;  height: 125px;    }
.text-animation > .ml::before {	--maskImage: url('../img/common/ㅢ.svg'); }

.text-animation > .qag{ width: 1095px; height: 151px; }
.text-animation > .qag::before {	--maskImage: url('../img/common/ㅂㅁㅎ.svg'); }

@keyframes textLoop {
	100% { transform: translate3D(-1062px, 0, 0); }

}

.recent-product .text-animation{
	top: auto;
  bottom: -5em;
  transform: none;
}
@media(min-width: 768px){
	.text-animation{ top: 50%; }
	.textLoop {
		/* scale: 1; */
	}	
	.recent-product .text-animation{  bottom: 13%; }

}








.shape1{ position: relative; z-index: 0; min-height: 330px; transition: all .7s; }
.shape1:before{ background-color: #FFCD00;
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	clip-path: polygon(3% 3%, 100% 0%, 97% 80%, 0 95%);
	z-index: -1; 
	left:0;
	top:0;
}

.shape2{ position: relative; z-index: 0; min-height: 300px; transition: all .7s; }
.shape2:before{ background-color: #3535BC;
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	clip-path: polygon(8% 0%, 100% 5%, 94% 100%, 0 88%);
	z-index: -1; 
	left:0;
	top:0;
}

.shape3{ position: relative; z-index: 0; min-height: 300px; transition: all .7s; }
.shape3:before{ background-color: #DF3708;
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 8%, 100% 0%, 94% 90%, 3% 97%);
	z-index: -1; 
	left:0;
	top:0;
}




.recent-product{ position: relative;  margin-top: 10vh  }
.recent-product .items-wrap{
	display: flex;
	flex-wrap: wrap;
	gap: 0px 16px;	
	max-width: 1400px;
	/*! margin-left: calc(-1 * var(--bs-gutter-x)); */
	/*! margin-right: calc(-1 * var(--bs-gutter-x)); */
	/*! overflow: hidden; */
	margin-left: auto;
	margin-right: auto;
}
.recent-product .item{ 
	position: relative; 
	flex:1;
	min-width: 240px;
/* 	min-height: 400px; */
	
	padding: 32px;
	font-size: 24px;
	z-index: 0;
	display: inline-block;

}
.recent-product .item header{ margin-top: .5em}
.recent-product .item  h4{ font-weight: 900; font-size: 1em; }
.recent-product .item .labels{ 
	font-size: 45%; --fcColor: #fff; 
	padding-top: 1em;
	display: flex;
	opacity: .8;
}
.recent-product .item .labels .label{ font-weight: 400;  }
.labels .label:has(+.label):after{
	content: '+';
	display: inline;
	padding: 0 4px;
	opacity: .5;
	color: var(--fcColor, #666);
	font-weight: 400;
}
.recent-product .item.shape1 .label{ --fcColor: var(--text-dark0) }
.recent-product .item header .util{ margin-top: 1em; }
.recent-product .item .btn{ 
	font-size: 14px; 
	line-height: 1;
	padding: 3px 6px;
	border-radius: 100em;
	color: #fff;
	background-color: var(--text-dark0);
}
.recent-product .item .contents{
	position: absolute;
	display: block;
	width: 100%; height: 100%;
	z-index: -1;
	left:0; top:0;
}
.recent-product .item .contents .bg{   /* background-color: #f2f2f2; */
	position: absolute;
	display: block;
	width: 100%; height: 100%;
	z-index: -1;
	left:0; top:0;
}
.recent-product .item .contents .bg [class*="clip"]{
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
}
.recent-product .item.shape1 .contents .bg .clip03{
	width: 8em;
	height: 8em;
	background-image: url('../img/common/shape1.svg');
	right: 0.5em;
	bottom: 2.5em;
}

.recent-product .item.shape2 .contents .bg .clip03{
	width: 13em;
	height: 5em;
	background-image: url('../img/common/shape2.svg');
	right: 0;
	bottom: 0.5em;
}

.recent-product .item.shape3 .contents .bg .clip03{
	width: 8em;
	height: 5em;
	background-image: url('../img/common/shape3.svg');
	left: 1em;
	bottom: 1em;
}


.recent-product .item .images-wrap{
	position: absolute;
	display: block;
	/*! text-align: right; */
	right:0; bottom:0;
	height: 100%;
	width: 100%;
}
.recent-product .item .images-wrap img { transition: all .7s; width: 100%; position: absolute; }
.recent-product .item .images-wrap img:first-of-type{ z-index: 3;}
.recent-product .item .images-wrap img + img{ margin-left: -1em; margin-right: 1em;}
.recent-product .item .images-wrap .mp{ 
	max-width: 46px; 
	bottom: 2em; 
	right: 7em; 
}
.recent-product .item .images-wrap .dp{ 
	max-width: 160px; 
	bottom: 2em;  
	right: 0em; 
}

.recent-product .item:nth-of-type(3) .images-wrap{ left:-16px; right: -16px; overflow: hidden; }
.recent-product .item .images-wrap .full{ 
	max-width: 95%; bottom: 0em; right: -1em; 
}

.recent-product .item:not(:first-of-type){ color: #fff;}


.recent-product .item.shape1 .images-wrap .mp{ bottom: 3.6em;  right: 8em;   }
.recent-product .item.shape1 .images-wrap .dp{ bottom: 3.6em;  right: 1em;   }


.recent-product .item{
	transition: all .3s;
	opacity: 0;
	top: 2rem;
	
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.recent-product .item.shape2{ top: 6rem; }
.recent-product .item.shape2{ transition-delay: .3s; }
.recent-product .item.shape3{ transition-delay: .6s; }
.recent-product .item.on{ opacity: 1;  }

.recent-product .item.shape1.on{ top: -1rem; animation-name: updown; }
.recent-product .item.shape2.on{ top: -1rem; animation-name: updown; }
.recent-product .item.shape3.on{ top: -1rem; animation-name: updown; }


@media(min-width: 600px){
	.recent-product .item{   
		max-width: calc( (100% - 16px) / 2 );
	}

	.recent-product .item.shape1.on{ top: -4rem; animation-name: updown; }
	.recent-product .item.shape2.on{ top: 1rem; animation-name: updown; }
	.recent-product .item.shape3.on{ top: -3rem; animation-name: updown; }	
}

@media(min-width: 768px){
	.recent-product .items-wrap{ gap: 0px 32px;	}
	.recent-product .item{  
		min-width: 340px;
		max-width: calc( (100% - 32px) / 2 );
	}
}
@media(min-width: 1024px){
	.recent-product .item{  
		min-width: 400px; min-height: 400px; 
		font-size: 36px;
	}
	.recent-product .item:nth-of-type(2){ padding: 1em 0 1em 2em }
	.recent-product .item .images-wrap .mp{ max-width: 2em;   }
	.recent-product .item .images-wrap .dp{ max-width: 6em; }
	
	

	.recent-product .item:nth-of-type(3) .images-wrap{ left:0; right: 0;  }
	.recent-product .item .images-wrap .full{ max-width: 100%; bottom: 0em; right: -.5em; }
	
	.recent-product .item.shape1 .images-wrap .mp{ bottom: 2.3em;  right: 6em;   }
	.recent-product .item.shape1 .images-wrap .dp{ bottom: 2.5em;  right: 0em;   }
	
	.recent-product .item.shape2 .images-wrap .mp{ bottom: 1.3em;  right: 6.5em;   }
	.recent-product .item.shape2 .images-wrap .dp{ bottom: 1.5em;  right: .5em;   }
}
@media(min-width: 1280px){
	.recent-product .items-wrap{ display: block;  }
	.recent-product .item{ width: 100%; padding: 1em  }
	.recent-product .item:nth-of-type(2){ padding: 1em 0 1em 2em }
	.recent-product .item.shape1{ min-height: 500px;   }
	.recent-product .item.shape2{  
		min-height: 480px; max-height: 480px;
		top: 2.5em;
	}
	.recent-product .item.shape3{ 
		min-height: 450px; 
		top: 1em;
		left: .5em;
	}
	.recent-product .item .images-wrap .mp{ max-width: 2.5em;   }
	.recent-product .item .images-wrap .dp{ max-width: 7.5em; }
	.recent-product .item .images-wrap .full{   }
	
	.recent-product .item.shape1 .images-wrap .mp{ bottom: 3em;  right: 8em;   }
	.recent-product .item.shape1 .images-wrap .dp{ bottom: 3.5em;  right: .5em;   }
}
@media(min-width: 1440px){
	.recent-product .item .images-wrap .mp{ max-width: 3em;   }
	.recent-product .item .images-wrap .dp{ max-width: 8.5em; }
	.recent-product .item .images-wrap .full{ right: -1em;   }
	
	.recent-product .item.shape1 .images-wrap .mp{ bottom: 3em;  right: 8em;   }
	.recent-product .item.shape1 .images-wrap .dp{ bottom: 3.5em;  right: .5em;   }
	
	.recent-product .item.shape2 .images-wrap .mp{ bottom: 1.7em;  right: 10em;   }
	.recent-product .item.shape2 .images-wrap .dp{ bottom: 2em;  right: 2em;   }
}
@keyframes updown {
	0% { transform: translateY(0); }
	50% { transform: translateY(8px); }
	100% { transform: translateY(0); }
}

/* 수정_240911 */
.list-type1 .item{
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	font-size: 22px;
	border-bottom: 1px solid var(--border-color);
	padding: 16px 0;
	border-radius: 0;
}
.list-type1 .item:first-of-type{ 
	margin-top: 8px;
	border-top: 1px solid var(--border-color); 
}
.list-type1 .item .label{ font-size: 14px; font-weight: 600 }
.list-type1 .item .btn.icon{
	background-color: #ACC83A;
	padding: 4px;
	border-radius: 100em;
	transition: all .2s;
}

.recent-work{ 
	margin-top: 100px;
	padding-bottom: 100px;
	padding-left: 1em;
  padding-right: 1em;
}
.recent-work header{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.recent-work h3{ font-size: 16px; }
.recent-work .item:hover .btn.icon,
.recent-work .item:active .btn.icon{
	padding: 4px 8px;
}
/* 수정_240911 */





label:has([type="checkbox"]),
label:has([type="radio"]){ cursor: pointer; }
label input[type="checkbox"],
label input[type="radio"] {
	--w: 1.5em;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	flex: none;
	font-size: 1em;
	width: var(--w);
	height: var(--w);
	border: 1px solid;
	border-color: var(--line-color);
	border-radius: 100em;
	color: var(--text-dark4);
	cursor: pointer;
	padding: 4px;

	--maskimg : url('../img/common/icon-svg-missimg.svg');
	
}
label input[type="checkbox"]:before,
label input[type="radio"]:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
label input[type="checkbox"]:checked,
label input[type="radio"]:checked {
	color: #fff;
	border-color: #888; /* var(--primary); */
	background-color: #888; /* var(--primary); */
}




.search.hashtag{
	--contentbox-width: 1600px;
	
	padding: 0;
	
	margin-bottom: -1px;
	
	
	position: relative;
	height: 4em;
	/*! line-height: 0; */
}

.search.hashtag nav{
	position: fixed;
	z-index: 9;
	
	border-bottom: 1px solid #222;
	margin: 0;
	overflow: auto;
	background-color: var(--bs-body-bg);
	display: flex;
	gap: .25rem;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	height: 4em;
	padding: 0 1em;
}
.search.hashtag .btn{
	flex: none;
	display: inline-flex;
	gap: 4px;
	padding: 2px 10px 2px 4px;
	border-radius: 100em;
	border-color: transparent;
	background-color: hsl(245 54% 19% / .03);
	font-size: .85rem;
}
.search.hashtag .btn input[type="checkbox"],
.search.hashtag .btn input[type="radio"] { 	
	border-color: transparent; 
	padding: 3px; 
	opacity: .2; 
	--maskimg : url('../img/common/icon-svg-check.svg');
	background-color: transparent;
}

/* .search.hashtag .btn input[type="checkbox"]::before,
.search.hashtag .btn input[type="radio"]::before{
	content: '#';
	mask: none;
	background-color: transparent;

	display: flex;
	align-items: center;
} */

.search.hashtag .btn:has(input:checked){
	color: #fff;
	border-color: var(--bs-body-color);
	background-color: var(--bs-body-color); /*  */
}
.search.hashtag .btn input[type="checkbox"]:checked,
.search.hashtag .btn input[type="radio"]:checked {  opacity: 1; }

.search.hashtag .hashList{
	display: flex;
	gap: 4px;
	/* margin-bottom: 8px; */
	height: 0;
	overflow: hidden;
	opacity: 0;
}
.search.hashtag .hashList .btn{
	flex-direction: row; /* -reverse */
	align-items: center;
	font-size: 13px;
	padding: 4px 2px;
	line-height: 1.1;

	background-color: transparent; /* var(--primary-50); */

	gap:0;
	pointer-events: none;
}
.search.hashtag .hashList .btn input[type="checkbox"]{ --w: 1em; --maskimg : url('../img/common/icon-svg-close.svg'); padding:0 }
.search.hashtag .hashList .btn input[type="checkbox"]::before{ 
	content: '#';
	mask: none;
  background-color: transparent;
  font-size: 12px;
}
.search.hashtag .hashList .btn:has(input:checked){
	color: var(--text-dark4);
	border-color: transparent;
	background-color: transparent; /* var(--primary-50); */
}
.search.hashtag .hashList .btn input[type="checkbox"]:checked,
.search.hashtag .hashList .btn input[type="radio"]:checked {
	color: var(--text-dark4);
	border-color: transparent; /* var(--primary); */
	background-color: transparent; /* var(--primary); */
}
@media(min-width: 1640px){
	.search.hashtag{
		/*! padding-left: calc( 50% - var(--contentbox-width) / 2 ); */
		/*! padding-right: calc( 50% - var(--contentbox-width) / 2 ); */
	}
	.search.hashtag nav{
		flex-wrap: wrap;
		padding-left: calc( 50% - var(--contentbox-width) / 2 );
		padding-right: calc( 50% - var(--contentbox-width) / 2 );
	}
}








/* 카드스타일 */
.cardType1{  /* background-color: hsl(0 100% 100% / .7);  */
	position: relative;
	
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-rows: repeat(3, 100px); */
	grid-auto-rows: minmax(50px, auto);
	height: 100%;
	gap: 16px 1.5em;
	/* transition: all .5s; */
	
	font-size: 16px;
	padding: 56px 32px;
}

.cardType1 .contents{

/* 	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3; */
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;

	display: block;
	overflow: hidden;
	
	max-height: 260px;  height: 260px;
}
.cardType1 .contents img{
	max-width: 100%;

	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;

	border: none;
	color: red;
}
.cardType1 header{ 
	padding:2em 0 1em 0;

	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: auto;
}
.cardType1 header h4{
	font-size: 1.5em;
	font-weight: 800
}
.cardType1 header .label{ 
	font-size: .875em;
	margin: 6px 0;
	display: inline-block;
}
.cardType1 header .label + .label{ }
.cardType1 header .extraInfo-wrap{
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	margin-top: .5em;
}
.cardType1 header .extraInfo-wrap .info{ 
	flex: 1 2 33%;
	min-width: 10em;
	display: inline-flex;
	align-items: center;

	color: transparent;
	position: relative;
}
.cardType1 header .extraInfo-wrap .info:before{
	content: '';
	display: block;
	width: 4px; height: 4px;
	background-color: #ccc;
	margin: 0 8px 0 0; 
}

.cardType1 header .extraInfo-wrap .info:after{
	content: attr(aria-label);
	display: block;
	width: auto;

	position: absolute;
	color: var(--bs-body-color);
  left: 10px;
  opacity: .8;
}

.cardType1 footer{ 
	grid-column-start: 3;
	grid-column-end: 6;
	display: flex;
}
.cardType1 footer .util{
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 0rem;
}
.cardType1 .btn{
	color: #000;  
	font-weight: 400;
	font-size: 13px;
}
.cardType1 .btn i[class*="icon-svg-"]{ font-size:  1.3em;}
.cardType1 .btn + .btn{ margin-left: 4px;}
.cardType1 footer .util .btn{ 
	padding-left: 0; 
	display: inline-flex;
  align-items: center;
  gap: 4px;
}
.cardType1 footer .util:has([href*="onrender"]) [data-ui-util="pageView"]{ display: none; }
@media(min-width: 1024px){
	.cardType1{ 
		padding: 56px 56px;
	}
}


.cardType1 header .label:first-of-type{ color: var(--primary);}

/* 카드리스트 */
.cardList2{
	--contentbox-width: 1600px;
	--ggap: 32px 32px; /* */
	display: grid;
	gap:  0;
	grid-auto-rows: minmax( 15rem, auto);

	padding-left: 0;
	padding-right: 0;
	transition: all .5s;
	
	margin-bottom: 0em;
	position: relative;
}
.cardList2 > card-type1 { grid-column: span 12;  }
.cardList2 > .col3 { grid-column: span 12;  }

.cardList2 card-type1{ margin-top: 1px;  outline: 1px solid #222;  background-color: var(--bs-body-bg)  }

.cardList2 card-type1{  
	grid-auto-rows: auto;
	row-gap: 8px;
}
.cardType1 .contents{
		grid-column: 1 / span 5;
		grid-row: auto;
}
.cardType1 header{ 
	grid-column: 1 / span 5;
	grid-row: auto;
	padding:.5em 0 0
}
.cardType1 footer{ 
	grid-column: 1 / span 5;
	grid-row: auto;
	padding-top: 2rem;
}
@media(min-width: 600px){
	.cardList2 > .col3,
	.cardList2 > card-type1 { grid-column: span 6;  }
	.cardList2 > .col3 + .col3{ margin-left: 0px }
}
@media(min-width: 1140px){
	.cardList2 > card-type1 { grid-column: span 4;  }
	.cardList2 > .col3 { grid-column: span 4;  }
}
@media(min-width: 1280px){
	.cardType1 header .extraInfo-wrap .info{
		flex:1;
		min-width: 40%;
	}
}
@media(min-width: 1640px){
	.cardList2{
		/* var(--gap, 1rem);
		border-top: 1px solid #222; */
		border-bottom: 1px solid #222;
		padding-left: calc( 50% - var(--contentbox-width) / 2 );
		padding-right: calc( 50% - var(--contentbox-width) / 2 );
	}

}









.btn-close {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: 0.25em 0.25em;
	color: #000;
	background: none;
	border: 0;
	border-radius: 0.25rem;
	opacity: 1;
}
.btn-close::before{
	flex:none;

	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;
	
	--maskimg : url('../img/common/x-lg.svg'); 

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}





.projectView.modal-dialog{
	margin: 4px auto;
	height: 94%;
}
.projectView .modal-content {
	position: relative;
	display: flex;
	flex-direction: column;

	overflow: unset;
}
.projectView .modal-header .btn-close {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 0.5rem 0.5rem;
	margin: -0.5rem -0.5rem -0.5rem -.5rem;
	background-color: var(--bs-dark);
	opacity: 1;
}
.projectView .modal-header{
	order: 2;
    display: block;
	width: calc(100% - 0px);
	padding: 1rem 1rem;
	left: 0px;
	bottom: 0px;

	box-shadow: var(--box-shadow-1);
	background-color: var(--bs-dark);
	color: #fff;
	border: 0;
	
}
.projectView .modal-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
}
.projectView .modal-title > span{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projectView .modal-title > *:not(span){ flex: none; transition: all .2s; }
.projectView .expanded  .modal-title > *:not(span){ transform: rotate(-90deg); transform-origin: center; }


.projectView .modal-header .labels{ 
	font-size: .875em;
	margin-top: 1.5em;
}
.projectView .modal-header .extraInfo-wrap{
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	margin-top: .5em;
}
.projectView .modal-header .extraInfo-wrap .info{ 
	flex: 1 2 33%;
	min-width: 10em;
	display: inline-flex;
	align-items: center;
}
.projectView .modal-header .extraInfo-wrap .info:before{
	content: '';
	display: block;
	width: 4px; height: 4px;
	background-color: #ccc;
	margin: 0 8px 0 0; 
}
.projectView .extraInfo> *:not(.modal-title) { display: none ; }
.projectView .extraInfo.expanded > *:not(.modal-title){ display: flex; }

.modal-dialog-scrollable .modal-body { padding-bottom: 5rem; }

@media(min-width: 900px){
	.projectView .modal-header .btn-close{
		position: relative;
		top: -1em;
		right: -100%;
	}
	.projectView .modal-header{
		position: relative;
		box-shadow: none;
		
		flex:1 1 300px;
		padding: 2rem 2rem;
		min-width: 300px;
		max-width: 430px;
	}
	.projectView .modal-title{ font-size: 1.25rem; cursor: default; 	}
	.projectView .modal-title > *:not(span){ display: none }
	.projectView .extraInfo> *:not(.modal-title) { display: flex ; }
	.projectView .modal-header .extraInfo{	margin-top: 1.5em;	}

}


/* ------*/
.pageView{
	flex-direction: column;
	height: 100%;
	max-width: calc(1500px + 200px);
	min-height: calc(100% - 8px) !important;
	margin: 4px auto;
}
.pageView  .modal-content { flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: unset;
	 width: 100%; 
}
.pageView  .btn-close {
	position: absolute;
	right: 1em;
	top: 1em;
	color: transparent;
	background-color: var(--bs-dark);

	opacity: 1;
	z-index: 99;
	width: 3.5em;
	height: 3.5em;
	display: inline-flex;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 100em;
}
[util="pageView"]  .btn-close:before{ 
	color: #fff; 
	font-size: calc(1em + 3px);
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.btn-close::before{
	width: 1em;
	height: 1em;
}

[util="pageView"] .modal-header{
	order: 2;
	position: absolute;
    display: block;
	width: calc(100% - 2em);
	max-width: 1500px;
	left: 50%;
	bottom: 1em;
	transform: translateX(-50%);

	box-shadow: var(--box-shadow-1);
	background-color: hsl(0 0% 7% / .9);
	color: #fff;
	border: 0;
	
	border-radius: 8px;
	z-index: 2;
}

[util="pageView"] .modal-header .ttt{
	margin-left: auto;
	color: #fff;
	font-size: calc(1em - 2px);
}
[util="pageView"] .modal-header .ttt:before{
	content: attr(data-on)
}
[util="pageView"] .modal-header .ttt.xx:before{
	content: attr(data-off)
}



[util="pageView"] .modal-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
}
[util="pageView"] .modal-title > span{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
[util="pageView"] .modal-title > *:not(span){ flex: none; transition: all .2s; }
[util="pageView"] .expanded  .modal-title > *:not(span){ transform: rotate(-90deg); transform-origin: center; }


[util="pageView"] .modal-header .labels{ 
	font-size: .875em;
	margin-top: 1.5em;
	opacity: .5;
}
[util="pageView"] .modal-header .labels .info:has(+.info):after{
	content: '+';
	display: inline;
	padding: 0 4px
}
[util="pageView"] .modal-header .extraInfo-wrap{
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	margin-top: .5em;
}
[util="pageView"] .modal-header .extraInfo-wrap .info{ 
	flex: 1 2 33%;
	min-width: 10em;
	display: inline-flex;
	align-items: center;
	
	color: transparent;
	position: relative;
}
[util="pageView"] .modal-header .extraInfo-wrap .info:before{
	content: '';
	display: block;
	width: 4px; height: 4px;
	background-color: #ccc;
	margin: 0 8px 0 0; 
}
[util="pageView"] .modal-header .extraInfo-wrap .info:after{
	content: attr(aria-label);
	display: block;
	width: auto;

	position: absolute;
	color: #fff;
  left: 10px;
  opacity: .8;
}


.modal-dialog-scrollable .modal-body { padding-bottom: 5rem; }
[util="pageView"] .extraInfo { display: none ; }
[util="pageView"] .extraInfo.expanded { display: block; }
[util="pageView"] .extraInfo > nav.buttons{
	display: flex;
	gap: 8px;
	margin-top: 1em;
	flex-wrap: wrap;
}
[util="pageView"] .extraInfo > nav.buttons .btn{
	display: inline-flex;
	gap: 6px;
	color: #fff;
	padding: 2px 8px 2px 16px;
	background-color: hsl(0 100% 100% / .1);
	border-radius: 100em;
	
	--w: 1em;
	
}
[util="pageView"] .extraInfo > nav.buttons .btn:before{

	content: '';
	display: inline-block;
	width: var(--w);
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;
	
	--maskimg : url('../img/common/filetype-html.svg'); 

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[util="pageView"] .extraInfo > nav.buttons .btn:after{

	content: '';
	display: inline-block;
	width: var(--w);
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;
	
	--maskimg : url('../img/common/arrow-right-short.svg'); 

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[util="pageView"] .modal-body{ 
	position: absolute;
  width: 100%;
  height: 100%;
	overflow-y: hidden; padding: 0;}


@media(min-width: 900px){
	.pageView .modal-content { }
	[util="pageView"] .modal-header .btn-close{
		top: 1em;
		right: 1em;
    	color: transparent;
	}
	[util="pageView"] .modal-header .btn-close::before{ color: #fff; }
	[util="pageView"] .modal-header{
		box-shadow: none;
		flex:1 1 300px;
		padding: 2rem 2rem;
		

	}
	[util="pageView"] .modal-title{ font-size: 1.25rem; cursor: default; 	}
	[util="pageView"] .modal-title > *:not(span){ display: none }
	[util="pageView"] .extraInfo> *:not(.modal-title) { /*! display: flex ; */ }


}

.zoomIn{ 
	/* height: auto;
	max-height: none; */
}
.zoomIn .modal-content {
	background-color: transparent;
	border:0;
}
[util="zoomIn"]  .modal-header{
	display: none;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	border-bottom: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.zoomIn .modal-header .modal-title{ display: none;}
.zoomIn .modal-header .btn-close{ 
	margin: 0; 
	position: fixed;
	right: 2em;
	transform: translateX(0);
	top: 2em;
	z-index: 5;
	background-color: #222;
	color: #fff;
}
.zoomIn .modal-body{ padding:0 }
[util="zoomIn"] .modal-body{ padding:0 }
[util="zoomIn"] .modal-body > img{ display: block; margin: auto}
[util="zoomIn"] .modal-body > img.hidden{ display: none ;}


@media(min-width: 1280px){
	.zoomIn .modal-header .btn-close{ 
		right: 50%;
		transform: translateX(600px);
	}
}

body.modalOpen{ overflow: hidden; }
@media(min-width: 900px){
	body.modalOpen{ padding-right: 1em; }
}


.contents:has([src*="ui-sample-"]){
	position: relative;
	display: flex;

	color: #fff;
	background-color: #20232a;
}
.contents:has([src*="ui-sample-"]) img{
	display: block;
	width: 80%;
	height: auto;
	margin:  auto;
	object-fit: contain;
	border-radius: 1em;
}

.contents:has([src*="ui-test-"]){
	position: relative;
	display: flex;

	color: #fff;
	background-color: #20232a;
}
.contents:has([src*="ui-test-"]):before{ 
	position: absolute;
	content:  "React";
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	
	background-image: url(../img/common/logo-react.svg);
	background-repeat: no-repeat;
	background-position: 8px 6px;
	background-size: 2rem;
	
	padding-left: calc(2rem + 8px);
	padding-top: 8px;

	right: 1rem;
}
.contents:has([src*="ui-test-"]) img{
	display: block;
	width: 80%;
	height: auto;
	margin:  auto;
	object-fit: contain;
}
