@charset "UTF-8";
:root {
	--upload-line-color: hsl(210, 14%, 93.1%);
	--upload-border-radius : 8px;
	--upload-text-color: hsl(217 13% 54%);
	--upload-bg-color: hsl(220 23% 97%);

	--upload-item-width : 64px; /* 4em */
	--upload-row-gap : 4px;
	--upload-col-gap : 4px;

	--upload-padding : 4px;
	--upload-border-width: 1px;

	--upload-min-width : calc( var(--upload-item-width) * 3 + ( var(--upload-col-gap) * 2 ) + 4px + 4px + 1px + 1px );
	--upload-max-width: calc( var(--upload-item-width) * 5 + ( var(--upload-col-gap) * 4 ) + 4px + 4px + 1px + 1px );
}

button {
	text-transform: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	line-height: 1;
}

.upload.type1{
	position: relative;
	color: var(--upload-text-color);
	/* overflow: hidden; */

	display: inline-flex;	

	border:1px solid ;
	border-color: transparent;
	border-radius: var(--upload-border-radius);

	flex-wrap: wrap;
	/* background-color: hsl(0 0% 92%); */
}


.upload.type1:has([type="file"]),
.upload.type1:has(.btn){  /* border-color: var(--line-color); */  }
.upload.type1 .btn:has([type="file"]){
	flex: none;
	align-self: baseline;
	background-color: #ccc;
	min-width: auto;
	width: 2em;
	height: 100%;
	padding: 0;
	border: 0;
	border-radius: 4px;
	color: #fff;
	margin: 0;
}
.upload.type1 .btn:has([type="file"])::before{ content: 'add';} /* 임시 */

.upload.type1 input[type="file"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1em;
	opacity: 0;
	padding: 0;
	line-height:100%;
	border:0;
}
.upload.type1 .fileBox{
	position: relative;
	z-index: 1;
	flex:1;
	list-style: none;
	display: block;
	
	margin:0;

	flex-basis: 100%;
}
.upload.type1 .fileBox:has(.item){ padding: 4px 0; }
.upload.type1 .fileBox .item{ 
	position: relative;
	display: flex; 
	gap: 4px;
	background-color: hsl(0 0% 97%);
	padding: 2px;
	margin:0;
}
/* .upload.type1 .fileBox .item .figcaption > *:not(.title){ display: none;} */
.upload.type1 .fileBox .item .figcaption .title{
	display: block;
	white-space: nowrap;
	overflow: hidden;text-overflow: ellipsis;
}
.upload.type1:has(.fileBox .item) .btn:has([type="file"]){
	overflow: hidden;
}
.upload.type1 .fileBox > .item .ctrl .btn{
	position: relative;
	display: inline-block;
	padding: 2px;
	font-size: 12px;
	background-color: #222;
	color: #fff;
}





.upload.type2{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-width: var(--upload-max-width);
	height: calc( var(--upload-item-width) * 2 );
	color: var(--upload-text-color);
	/* background-color: var(--upload-bg-color);  */
	border-radius: var(--upload-border-radius);
	border:1px dashed ;
	border-color: transparent;  /*  */
	overflow: hidden;
	
	padding: 4px;
}
.upload.type2:has([type="file"]),
.upload.type2:has(.btn){ border-color: #ccc;  /* var(--upload-line-color) */  }
.upload.type2 > .btn{
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100%; height: 100%;
	background-color: transparent;
	box-sizing: border-box;
}
.upload.type2 > .btn::after{
	content: attr(data-ui-placeholder);
	display: block;
	margin-top: 12px;
	font-size: 12px;
}
.upload.type2 input[type="file"]{
	position: absolute;
	width: 100%; height: 100%;
	opacity: 0;
	cursor: pointer;
	left:0; top: 0;
}
.upload.type2 .fileBox{
	position: absolute;
	display: block;
	width: 100%; height: 100%;
	z-index: -1;

	width: 100%;
}
.upload.type2 .fileBox:has(>.item){z-index: 1;}

.upload.type2 .fileBox > .item{
	display: block;
	height: 100%;
}
.upload.type2 .fileBox > .item img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;

	object-fit: cover;
	object-position: center;
}
.upload.type2 .fileBox > .item .figcaption{
	position: absolute;
	z-index: 3;
	right: 3%;
	bottom: 3%;
}
.upload.type2 .fileBox > .item .figcaption .title{ }





.upload.type3{
	--upload-item-width: 48px;
	/* --upload-padding : 0px; */
	--upload-border-width: 0px;

	--upload-min-width : calc( var(--upload-item-width) * 3 + ( var(--upload-col-gap) * 2 ) + 4px + 4px + 1px + 1px );
	--upload-max-width: calc( var(--upload-item-width) * 5 + ( var(--upload-col-gap) * 4 ) + 4px + 4px + 1px + 1px );


	position: relative;
	color: var(--upload-text-color);
	overflow: hidden;

	display: inline-block;	
	border-style: solid ;
	border-width: var(--upload-border-width);
	border-color: transparent;
	border-radius: var(--upload-border-radius);

	z-index: 1;
	flex:1;
	list-style: none;

	font-size: 1em;
	padding: var(--upload-padding);
	min-width: var(--upload-min-width);
	max-width: var(--upload-max-width);
	min-height: calc( ( var(--upload-item-width) * 2 ) + ( var(--upload-padding) * 3 ) + ( var(--upload-border-width) * 2 ));
	
	width: 100%;

	
}

.upload.type3 { 
	border-color: var(--upload-line-color);
	/* background-color: #fafafa;  */
	background-color: var(--bs-gray-300, #f1f1f1);
}

.upload.type3::before,
.upload.type3::after{
	content: '';
	position: absolute;
	display: block;
	width: 1em;
	height: 1em;
	
}
.upload.type3::before{ 
	left: calc(48px + 2px); 
	top: 0px; 
	background-color: #fff;
  z-index: -1;
}
.upload.type3::after{ 
	left: 0px; top: calc(48px + 5px + 0px); 
	background-color: #fff;
	
	z-index: -2;
}

.upload.type3 > .btn {	
	position: absolute;
	flex: none;
	
	left: 0px;
	z-index: unset;
	
	width: calc(var(--upload-item-width) + var(--upload-padding));
	height: calc(var(--upload-item-width) + var(--upload-padding) + 1px);
	border-radius: 0;
	border-bottom-right-radius: var(--upload-border-radius);

	background-color: #fff;
	border-width: var(--upload-padding);
	border-style: solid ;
	border-color:#fff ;
	padding: 0px;
	font-size: 1em;
	top: 0px;
	left: 0;
	z-index: 3;
	line-height: 1;
	box-shadow: none;
}
.upload.type3 > .btn::before{

	content: '';
	position: absolute;
	display: block;
	width: 100%;
  height: 100%;
  

  background-color: #4750D5;
  border-radius: var(--upload-border-radius);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

	z-index: -1;
}

.upload.type3 .btn svg{
	font-size: 1em;
	width: 1em;
	height: 1em;
}
.upload.type3 > .btn svg{ opacity: 1; font-size: 1.2em; }
.upload.type3 > .btn:hover svg{ opacity: 1; }
.upload.type3 > .btn path{ stroke : #fff }

.upload.type3 input[type="file"]{ display: none; opacity: 0;  }

.upload.type3 .fileBox{
	position: relative; z-index: -1; 

	display: flex;
	flex-wrap: wrap;
	gap: var(--upload-row-gap) var(--upload-col-gap);
	width: 100%;
	height: 100%;
}
.upload.type3 .fileBox::before,
.upload.type3 .fileBox::after{
	content: '';
	position: absolute;
	display: block;
	width: 1em;
	height: 1em;
	/* background-color: var(--bs-gray-300, #f1f1f1); */
}
.upload.type3 .fileBox::before{ 
	left: calc(48px - 2px); top: -4px; 
	background-color: var(--bs-gray-300, #f1f1f1);
  position: absolute;
  z-index: -1;
  border-top-left-radius: var(--border-radius-8);
}
.upload.type3 .fileBox::after{ 
	left: -4px; top: calc(48px + 1px); 
	background-color: var(--bs-gray-300, #f1f1f1);
	border-top-left-radius: var(--border-radius-8);
	z-index: -1;
}
.upload.type3 .fileBox > .item{
	position: relative;
	display: inline-block;
	width:  var(--upload-item-width); height:  var(--upload-item-width);
	margin: 0;
}
.upload.type3:has( > .btn) .fileBox > .item:first-of-type{
	margin-left: calc(var(--upload-item-width) + var(--upload-col-gap));
}
.upload.type3 .fileBox > .item img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: cover;
}
.upload.type3 .fileBox > .item .figcaption{
	position: absolute;
	width: 100%; height: 100%;
	left: 0;
	top:0;
}
.upload.type3 .fileBox > .item .figcaption > *:not(.ctrl){ display: none; }
.upload.type3 .fileBox > .item .figcaption .ctrl{ padding: 2px; text-align: right; line-height: 1; }
.upload.type3 .fileBox > .item .figcaption .ctrl .btn{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0px; /* 2px */
	font-size: 13px; /* 1em,  글자로 들어가는 경우 13px  */
	background-color: #222;
	/* left: 2px;
	top: 2px; */
	color: #fff;

	width: 1.5em;
	height: 1.5em;
	overflow: hidden;
	border-radius: 100em; 
}
.upload.type3 .fileBox .ctrl path{ fill: #fff;}

/* 파일업로드 버튼이 없는경우 */
.upload.type3:not(:has(>.btn)){ background-color: #fff; }
.upload.type3:not(:has(>.btn)) .fileBox::before,
.upload.type3:not(:has(>.btn)) .fileBox::after{ display: none; }






















.upload.type4{
	--upload-item-width: 48px;
	/* --upload-padding : 0px; */
	--upload-border-width: 0px;

	--upload-min-width : calc( var(--upload-item-width) * 3 + ( var(--upload-col-gap) * 2 ) + 4px + 4px + 1px + 1px );
	--upload-max-width: calc( var(--upload-item-width) * 5 + ( var(--upload-col-gap) * 4 ) + 4px + 4px + 1px + 1px );

}
.upload.type4 { background-color: var(--bs-gray-300, #f1f1f1); }

.upload.type4::before,
.upload.type4::after{
	content: '';
	position: absolute;
	display: block;
	width: 1em;
	height: 1em;
	
}
.upload.type4::before{ 
	left: calc(48px + 2px); 
	top: 0px; 
	background-color: #fff;
  z-index: -1;
}
.upload.type4::after{ 
	left: 0px; top: calc(48px + 5px + 0px); 
	background-color: #fff;
	
	z-index: -2;
}

.upload.type4 .fileBox{ position: relative; z-index: -1; }
.upload.type4 .fileBox::before,
.upload.type4 .fileBox::after{
	content: '';
	position: absolute;
	display: block;
	width: 1em;
	height: 1em;
	/* background-color: var(--bs-gray-300, #f1f1f1); */
}
.upload.type4 .fileBox::before{ 
	left: calc(48px - 2px); top: -4px; 
	background-color: var(--bs-gray-300, #f1f1f1);
  position: absolute;
  z-index: -1;
  border-top-left-radius: var(--border-radius-8);
}
.upload.type4 .fileBox::after{ 
	left: -4px; top: calc(48px + 1px); 
	background-color: var(--bs-gray-300, #f1f1f1);
	border-top-left-radius: var(--border-radius-8);
	z-index: -1;
}


.upload.type4 > .btn{ background-color: #4750D5; left: 0px; z-index: unset; }
.upload.type4 > .btn::before{

	content: '';
	position: absolute;
	display: block;
	width: calc(48px + 4px + 0px);
  height: calc(48px + 4px + 1px);
  background-color: #fff;
  left: -2px;
  top: -4px;
	border-bottom-right-radius: var(--border-radius-8);
	z-index: -1;
}

.upload.type4 > .btn svg{ opacity: 1; font-size: 18px; }
.upload.type4 > .btn path{ stroke : #fff }
.upload.type4 .fileBox .ctrl .btn{ 
	font-size: 13px !important; 
	border-radius: 100em; 
}
.upload.type4 .fileBox .ctrl path{ fill: #fff;}
