/* reset test250930 ㅓㅗ허ㅗ허ㅗㅎ */

@import url("../font/pretendard/web/variable/pretendardvariable.css");
@import url("../font/Material-Symbols/Material_Symbols.css");
@import url('./base.css');
@import url('./root.css');
@import url('./layout.css');
/* 바로가기 */
#skipNav {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 1000;
    overflow: hidden;

    // #skipNav 내부의 <a> 태그를 네스팅하여 표현
    & a {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        transform: translateY(-50px);
        transition: all 0.3s ease;
        font-size: 14px;
    }
}


/* 여백 추가   test jgf*/
$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 5rem
);
$margin-directions: (
    "ml": "margin-left",
    "mr": "margin-right"
);

@mixin margin-utility($prefix, $property) {
    @each $size, $value in $spacers {
        .#{$prefix}-#{$size} {
            #{$property}: $value !important;
        }
    }
    .#{$prefix}-auto {
        #{$property}: auto !important;
    }
}

@each $prefix, $property in $margin-directions {
    @include margin-utility($prefix, $property);
}





$unit-values: (
	"em": 1em,
	"rem": 1rem,
	"px": 1px,
	"%": 1%,
	) !default;

$unit-labels: (
	"em": "em",
	"rem": "rem",
	"px": "px",
	"%": "per",
	) !default;

@mixin width-height($prefix: "", $start: 2, $end: 9, $offset: 0.5, $unit: "em", $interval: 1) {
	$u-value: map-get($unit-values, $unit); // 1em, 1rem, 1px, 1%
	$u-label: map-get($unit-labels, $unit);

	$i: $start;
	@while $i <=$end {
		.#{$prefix}-#{$i}#{$u-label} {
			#{$prefix}: (($i + $offset) * $u-value) !important;
		}
		$i: $i + $interval;
	}
}
/* =======================
min-width : em , % 
======================= */
@include width-height("min-width",1, 20, 0.5, "em");
@include width-height("min-width",1, 10, 0, "%");
@include width-height("min-width",15, 100, 0, "%", 5);


.min-width-768px { min-width: 768px !important; }
.min-width-900px { min-width: 900px !important; }
.min-width-1100px { min-width: 1100px !important; }
.min-width-1280px { min-width: 1280px !important; }
.min-width-1400px { min-width: 1400px !important; }
.min-width-auto { min-width: auto !important; }	
/* =======================
width 
======================= */
@include width-height("width",1, 20, 0.5, "em");
@include width-height("width",1, 10, 0, "%");
@include width-height("width",15, 100, 0, "%", 5);
.width-auto { width: auto !important; }	
/* =======================
min-height 
======================= */
@include width-height("min-height",100, 1000, 0, "px", 20);
.min-height-auto { min-height: auto !important; }
/* =======================
max-height 
======================= */
@include width-height("max-height",100, 1000, 0, "px", 100);
.max-height-none { max-height: none !important; }
/* =======================
height
======================= */
@include width-height("height",1, 20, 0.5, "em", 1);
@include width-height("height",0, 100, 0, "%", 20);
.height-auto{height: auto !important ;}




.flex-basis-auto{flex-basis: auto !important; }





.primary{ --bcColor: var(--primary-500); --fcColor:var(--primary-500); }
.secondary{ --bcColor: var(--secondary-500); --fcColor:var(--secondary-600); }
.gray{ --bcColor: var(--text-dark-3); --fcColor:var(--text-dark-3); }
.dark{ --bcColor: var(--dark-800); --fcColor:var(--dark-800); }
.red{ --bcColor: var(--red-500); --fcColor:var(--red-600); }
.orange{ --bcColor: var(--orange-500); --fcColor:var(--orange-700); }
.green{ --bcColor: var(--green-500); --fcColor:var(--green-600); }
.blue{ --bcColor: var(--blue-500); --fcColor:var(--blue-600); }


.fcWhite{ color: #fff !important; --fcColor: #fff; }
.fcDark0, .fcBlack{--fcColor: var(--text-dark-0);  color: var(--fcColor) !important; }
.fcDark1{--fcColor: var(--text-dark-1);  color: var(--fcColor) !important; }
.fcDark2{--fcColor: var(--text-dark-2);  color: var(--fcColor) !important; }
.fcRed{--fcColor: var(--red-600); color: var(--fcColor) !important;  }
.fcGreen{--fcColor: var(--green-600); color: var(--fcColor); }
.fcPrimary{--fcColor: var(--primary-600); color: var(--fcColor); }


.fcSecondary{--fcColor: var(--secondary-500); color: var(--fcColor); }
.fcGray{--fcColor: var(--text-dark-3); color: var(--fcColor); }
.fcOrange{--fcColor: var(--orange-600); color: var(--fcColor); }
.fcBlue{--fcColor: var(--blue-600); color: var(--fcColor); }


.bcBlack{ background-color: var(--dark-900) !important; --bcColor : var(--dark-900) }
.bcTransparent{ background-color: transparent !important ; --bcColor : transparent;  }
.bcDark2{ background-color: var(--text-dark-2) !important;  --bcColor :  var(--text-dark-2); }
.bcDark1{ background-color: var(--text-dark-1) !important;  --bcColor :  var(--text-dark-1); }

.bcDark3{ background-color: var(--text-dark-3) !important;  --bcColor :  var(--text-dark-3); }
.bcDark4{ background-color: var(--text-dark-4) !important;  --bcColor :  var(--text-dark-4); }
.bcDark5{ background-color: var(--text-dark-5) !important;  --bcColor :  var(--text-dark-5); }
.bcDark6{ background-color: var(--text-dark-6) !important;  --bcColor :  var(--text-dark-6); }
.bcDark7{ background-color: var(--text-dark-7) !important;  --bcColor :  var(--text-dark-7); }
.bcWhite{ background-color: #fff !important;  --bcColor : #fff; }


html{  }
body{
	background-color: #F4F8F7;
}


label {  display: inline-flex; }
input, select, textarea {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
input:not([type="checkbox"]):not([type="radio"]), select, textarea { 
	padding: 4px 8px;
	color: var(--text-dark-0);
	border: 1px solid var(--form-border-color);
	box-sizing: border-box;
	vertical-align: middle;
	border-radius: var(--border-radius-6px);
	background-color: var(--hrd-body-bg);

	min-height: 42px;
}

select {     padding: 0.375rem 2rem 0.375rem 0.75rem;
	// min-width: 80px;
	// padding-right: 24px !important;
	// background-size: 16px 12px;
    background-position: right .5em center;
	font-size: 1em;
}

textarea{ overflow: auto; }
:focus-visible {
	outline: 2px solid var(--primary-500);
	border-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
	outline: 2px solid var(--primary-500);
	border-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]):disabled, select:disabled, textarea:disabled{
	filter: contrast(85%);
	opacity: .6;
	cursor: not-allowed;
}
input:not([type="checkbox"]):not([type="radio"])[readonly], 
select[readonly], 
textarea[readonly]{
	filter: contrast(85%);
	opacity: .6;
	cursor: not-allowed;
}


input[type="checkbox"],
input[type="radio"] { 
	flex: none;
	width:1.5em; height:1.5em; margin:0 2px; 

	line-height: 1;
	background-color: #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-4px);
	cursor: pointer;

	border: 1px solid var(--form-border-color);

	--mask-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
}
input[type="checkbox"]::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: var(--mask-img);
	mask-image: var(--mask-img);
	opacity: 0;

}
input[type="checkbox"]:checked { background-color: var(--primary-500); border-color: var(--primary-500);  }
input[type="checkbox"]:checked::before { color: #fff; opacity: 1;  }

input[type="radio"]::before{

}

input[type="radio"]:checked{
	background-color: var(--primary-500);
}

input[type="radio"]:checked::before{ color: #fff }


*:has(>input[type="checkbox"]),
*:has(>input[type="radio"]){ cursor: pointer; }


*:has(>*:disabled),
*:has(>*:disabled){ 
	cursor: not-allowed; /* pointer-events: none; */
	filter: contrast(85%);
  opacity: .6; 
}


.justify-content-left {
  justify-content: left !important;
}

.justify-content-right {
  justify-content: right !important;
}


.resize-none{ resize: none !important; }

.hidden{ display: none !important; }
.hidden-elem{ display: none !important; }
.desktop-elem{ display: block !important; }
@media(max-width:1024px){
	.desktop-elem{ display: none !important; }
}

/* 배지 */
.badge{
	--bs-border-radius : 3px;
	font-size: 13px;
	font-weight: 600;
	background-color: var(--dark-50);
	color: var(--fcColor, var(--text-dark-0) );
	padding: 4px 6px;
}
.badge.primary{ background-color: var(--primary-50); }
.badge.secondary{ background-color: var(--secondary-50); }
.badge.red{ background-color: var(--red-50); --fcColor: var(--red-700); }
.badge.orange{ background-color: var(--orange-50); }
.badge.green{ background-color: var(--green-50); }
.badge.blue{ background-color: var(--blue-50); }

.badge-wrap{ display: inline-flex; flex-wrap: wrap; gap: 4px }

// 기본 버튼 스타일 (모든 .btn.{수정자}에 적용되는 공통 스타일)
.btn {
	--hrd-btn-border-width: 0;
	display: inline-flex; 
	 align-items: center;
	 justify-content: center;
	gap: 4px 4px;
	padding: 0px 2px;
	border-radius: 4px;
	font-size: 1em;
	font-weight: 500;
	&:hover{
		color: var(--primary-600);
		background-color: transparent;
		border-color: var(--hrd-btn-hover-border-color);
	}
    // 모든 .btn.default, .btn.primary, .btn.secondary, .btn.gray에 공통 적용
    &.default,
    &.primary,
    &.secondary,
    &.gray,
	&.dark {
        justify-content: center;
        font-size: var(--fs, 16px);
        font-weight: 400;
        padding-left: 1.5em;
        padding-right: 1.5em;
        min-height: 42px;
        align-items: center;
        border-radius: var(--border-radius-6px);
        background-color: var(--bcColor, transparent);
        color: #fff;
        display: inline-flex;
        gap: 4px;
    }

    // .btn.default 전용 스타일
    &.default {
        color: var(--text-dark-0);
        border: 1px solid var(--text-dark-6);

        // .btn.default:hover
        &:hover {
            color: #fff;
            border-color: var(--text-dark-3);
            background-color: var(--text-dark-3, transparent);
        }
    }

    // .btn.primary:hover, .btn.secondary:hover, .btn.gray:hover
    &.primary,
    &.secondary,
    &.gray {
        &:hover {
            filter: brightness(90%) contrast(150%);
        }
    }
}


ol, ul{ list-style: none;}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0rem;
  padding: 0;
}


.ms-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: calc( 1em + 6px);
	width: 1em;
	aspect-ratio: 1/1;

	font-variation-settings: 'wght' 600 , 'FILL' 0, 'GRAD' 0, 'opsz' 48;

	vertical-align: middle;
}
.ms-icon svg{ 
	fill:currentColor; 
	width: 100%;
  height: 100%;
}
.ms-icon.fill{ font-variation-settings: 'wght' 600 , 'FILL' 1, 'GRAD' 0, 'opsz' 48; }


/* svg 아이콘 */
[class*="-svg-"]{
	display: inline-flex;
/**/	justify-content: center; align-items: center;
	width: 1.142857em;
	height: 1.142857em;
	color: currentColor;
	--maskimg : url('../img/common/icon-svg-home-05.svg');

  z-index: 0;
  line-height: 1;
  /* vertical-align: middle; */
}

[class*="-svg-"]::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);
}
.icon-svg-ctrl-collapse{ --maskimg : url('../img/common/icon-svg-layout-right.svg');  }



hr{ 
	--border-style: solid;
	opacity: 1;  
	border-top-color:var(--bcColor, var(--dark-200)); 
	border-top-style: var(--border-style, solid);

	&.dotted{ --border-style: dotted;	}
	&.dashed{ --border-style: dashed; }
	&.solid{ --border-style: solid;	}
	&.vertical{ border-top: none; border-left: 1px var(--border-style, solid)  var(--bcColor, var(--dark-200)); height: 100%; width: 1px; }

}


.dropdown-type1 {
	position: relative;
	display: inline-flex;
	gap: 2px;
	flex: none;
	align-self: flex-start;

	.dropdown-toggle,
	.btn.dropdown-toggle {
		padding: 2px;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		line-height: 1;
		border: 0;
		border-radius: 0;

		.ms-icon {
			width: 36px;
			height: 36px;
			border-radius: 100em;
			font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
		}

		&:hover{
			.ms-icon{ background-color: hsl(0deg 0% 95%); }
		}

		&.type2{
			justify-content: center;
			font-size: var(--fs, 16px);
			font-weight: 400;
			padding-left: 1em;
			padding-right: .5em;
			align-items: center;
			border-radius: var(--border-radius-6px);
			display: inline-flex;
			gap: 4px;
			border: 1px solid var(--text-dark-6);

			.ms-icon{
				width: calc(1em + 0px);
  height: auto;
  border-radius: 0;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
			}
		}

	}

	.dropdown-toggle:has(.ms-icon) {
		&:after { display: none; }
	}

	.dropdown-menu {
		--hrd-dropdown-zindex: 7;
		--hrd-dropdown-padding-y: 0;
		display: none;
		position: absolute;
		top: calc(100% + 8px);
		right: 0;

		&.show {
			display: block;
		}

		.dropdown-item {
			padding: .8em 1em
		}

		.dropdown-item+.dropdown-item {
			border-top:  1px solid var(--border-color, #eee);
		}
	}

}


.pagination {
	--hrd-pagination-font-size: 14px;
	--hrd-pagination-color: var(--text-dark-2);
	--hrd-pagination-bg: transparent;
	--hrd-pagination-border-width: 0;
	--hrd-pagination-border-color: transparent;
	--hrd-pagination-border-radius: var(--border-radius-6px);

	--hrd-pagination-hover-color: var(--primary-600);
	--hrd-pagination-hover-bg: var(--hrd-tertiary-bg);
	--hrd-pagination-hover-border-color: var(--hrd-border-color);
	--hrd-pagination-focus-color: var(--hrd-link-hover-color);
	--hrd-pagination-focus-bg: var(--hrd-secondary-bg);

	--hrd-pagination-focus-box-shadow: none;
	--hrd-pagination-active-color: hsl(0, 0%, 100%);
	--hrd-pagination-active-bg: var(--primary-500);

	--hrd-pagination-disabled-color: var(--hrd-secondary-color);
	--hrd-pagination-disabled-bg: var(--hrd-secondary-bg);
	--hrd-pagination-disabled-border-color: var(--hrd-border-color);

	--hrd-first-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z'/%3E%3C/svg%3E");

	--hrd-prev-icon: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12.349L6 8.349L10 4.349' stroke='%2367777E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

	--hrd-next-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z'/%3E%3C/svg%3E");

	--hrd-last-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z'/%3E%3C/svg%3E");


	display: flex;
	margin: 0em 0;
	list-style: none;
	position: relative;
}
/*
.pagination:not(:has(.page-link:nth-last-of-type(1))){ margin: 0em 0; }
*/

.pagination .page-link{
	border-radius: var(--border-radius-6px);
	width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  padding:0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.pagination .page-link.first,
.pagination .page-link.last,
.pagination .page-link.prev,
.pagination .page-link.next { color: transparent; max-width: 36px; overflow: hidden; --mask-icon: var(--hrd-next-icon); }
.pagination .page-link.first::before,
.pagination .page-link.last::before,
.pagination .page-link.prev::before,
.pagination .page-link.next::before{
	content: '';

	width: 100%; height: 100%;
	display:block;

  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


	background-color: var(--text-dark-2);
	color: var(--text-dark-2);
	-webkit-mask-size: 18px;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: 18px;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	

-webkit-mask-image: var(--mask-icon);
	mask-image: var(--mask-icon);
}

.pagination .page-link.first{ --mask-icon: var(--hrd-first-icon); }
.pagination .page-link.prev{ --mask-icon: var(--hrd-prev-icon); }

.pagination .page-link.next{ --mask-icon: var(--hrd-next-icon); }
.pagination .page-link.last{ --mask-icon: var(--hrd-last-icon); }





.hint-msg{ color:var(--fcColor, #15915d); 
	i{
		font-size: calc(1em + 4px); 
		vertical-align: middle; 
		margin-right: 4px;
	}
}

.alert .ms-icon{ color: var( --hrd-icon-color, currentColor); }
.alert-info {
	--hrd-info-bg-subtle: #e2edf9;
	--hrd-info-border-subtle: #b8daff;
	--hrd-info-text-emphasis: #232528;

	--hrd-icon-color : #2879d0;

}



.modal.show {
	display: block;
	background-color: hsl(0 0% 0% / .6);
	padding: 8px;
}
.modal-dialog.size-small{ --modal-width : 300px }
.modal-dialog.size-medium{ --modal-width : 420px }
.modal-dialog,
.modal-dialog.size-default{ --modal-width : 640px }
.modal-dialog.size-large{ --modal-width : 1024px }
.modal-dialog.size-extra-large{ --modal-width : 1280px }
.modal-dialog.size-full{ --modal-width : 100% }


.modal-dialog.size-small .btn-wrap .btn{ min-height: 36px; }

.modal-dialog {
    max-width: var(--modal-width);
	
    margin-right: auto;
    margin-left: auto;

	--bs-modal-header-padding : 40px 40px 24px;
	--bs-modal-header-border-color: transparent;
	--bs-modal-padding : 0 40px 32px;
}

.modal-title {	font-size: 16px; font-weight: 700; }
@media(max-width: 768px){
	.modal-dialog {
		--bs-modal-header-padding : 24px 24px 16px;
		--bs-modal-padding : 0 24px 20px;
	}
}




/* 제이쿼리 ui =====================================================*/
/* sortable 스타일 */
.simple-sortable .ui-sortable-handle{  }
.simple-sortable .ui-sortable-handle:hover{  background-color: var(--dark-100); cursor: grab;  }

.simple-sortable.ui-sortable>.start-sorting {
	height: 100px !important;
	overflow: hidden;
}
.simple-sortable.ui-sortable>.start-sorting::after {
	content: 'A';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 100%, .8);
}
.simple-sortable.ui-sortable>.start-sorting .ui-sortable-handle { position: relative;	z-index: 2;}
.simple-sortable.ui-sortable>.start-sorting .ui-sortable-handle { height: 100%;}
.simple-sortable .sort-placeholder {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10em;
	border: 1px dashed #ccc;
	border-radius: var(--border-radius-8px);
	background-color: hsla(0, 0%, 100%, 0.49);
	margin: 1rem 0;
}
.simple-sortable .sort-placeholder::before {
	content: "+";
	font-size: 3em;
	color: #999;
	font-weight: 100;
}

.simple-sortable .simple-sortable-toggle{ 
	width: 2em;
	min-width: 2em;
	margin-right: 8px;
	background-color: var(--dark-50);
 }
