$zindex-modal : 1050;
$modal-content-border-color : transparent; // hsla(0, 0%, 0%, 0.2);
$modal-content-bg : #fff;


.note-frame {
  color: hsl(0, 0%, 0%);

  font-family: var(--hrd-body-font-family, sans-serif);



--hrd-modal-zindex: 1055;
  --hrd-modal-width: 500px;
  --hrd-modal-padding: 1rem;
  --hrd-modal-margin: 0.5rem;
  --hrd-modal-color: var(--hrd-body-color);
  --hrd-modal-bg: var(--hrd-body-bg);
  --hrd-modal-border-color: var(--hrd-border-color-translucent);
  --hrd-modal-border-width: var(--hrd-border-width);
  --hrd-modal-border-radius: var(--hrd-border-radius-lg);
  --hrd-modal-box-shadow: var(--hrd-box-shadow-sm);
  --hrd-modal-inner-border-radius: calc(var(--hrd-border-radius-lg) - (var(--hrd-border-width)));
  --hrd-modal-header-padding-x: 1rem;
  --hrd-modal-header-padding-y: 1rem;
  --hrd-modal-header-padding: 1rem 1rem;
  --hrd-modal-header-border-color: var(--hrd-border-color);
  --hrd-modal-header-border-width: var(--hrd-border-width);
  --hrd-modal-title-line-height: 1.5;
  --hrd-modal-footer-gap: 0.5rem;
  --hrd-modal-footer-bg: ;
  --hrd-modal-footer-border-color: var(--hrd-border-color);
  --hrd-modal-footer-border-width: var(--hrd-border-width);


 

}



.note-editor.note-frame.fullscreen, .note-editor.note-airframe.fullscreen {
  background-color: #fff;
}

.note-editor.note-frame{
	.note-toolbar {
	background-color: transparent;
	border-color: transparent;
	}


	.note-btn-group{ }
	.note-btn-group .note-btn {
		background-color: #efefef;
		border: 1px solid transparent;
		font-size: 13px;
		--note-btn-radius: 30px;
	}

	.note-btn-group .note-btn.active, 
	.note-btn-group .note-btn.focus, 
	.note-btn-group .note-btn:active, 
	.note-btn-group .note-btn:focus, 
	.note-btn-group .note-btn:hover {
		--note-btn-radius: 30px;
	background-color: #dadada;
	border: 1px solid transparent;

	color: #171717;

	}
	.dropdown-toggle::after{ display: none; }


	.note-input{ box-shadow: none !important; }


	.close {
		float: right;
		font-size: 21px;
		line-height: 1;
		color: hsl(0, 0%, 0%);
		opacity: 1;
	}




	.btn-fullscreen.note-codeview-keep.active {
		background-color: #222;
		color: #fff;
	}



	&.fullscreen{
		.note-toolbar { background-color: #efefef; }
		.note-btn-group .note-btn {
			background-color: #fff;
		}

		.note-btn-group .note-btn.active, 
		.note-btn-group .note-btn.focus, 
		.note-btn-group .note-btn:active, 
		.note-btn-group .note-btn:focus, 
		.note-btn-group .note-btn:hover { background-color: #dadada; }

		.btn-fullscreen.note-codeview-keep.active {
			background-color: #222;
			color: #fff;
		}
	}

}







.note-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $zindex-modal;
	-webkit-opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
  display: none;

  

  &.open {
    display:block;
  }
}

.note-modal-content {
  position: relative;  
  width: auto;
  margin: 30px 20px;
  border: 1px solid $modal-content-border-color;
  background: $modal-content-bg;
  background-clip: border-box;
  outline: 0;
  border-radius: 5px; 
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.note-modal-header {
  padding: 10px 20px;
  border: 0px solid #ededef;



  padding: var(--hrd-modal-header-padding);
  border-bottom: var(--hrd-modal-header-border-width) solid var(--hrd-modal-header-border-color);
  border-top-left-radius: var(--hrd-modal-inner-border-radius);
  border-top-right-radius: var(--hrd-modal-inner-border-radius);




}

.note-modal-body {
  position: relative;
  padding: var(--hrd-modal-padding, 20px 30px);

  // shortcut text style
  kbd {
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    padding: 3px 5px;
    font-weight: 700;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.note-modal-footer {
  height: auto;
  padding: 10px;
  text-align: center;

  display: flex;
  justify-content: flex-end;

}

.note-modal-footer a {
  color: #337ab7;
  text-decoration: none
}

.note-modal-footer a:hover,
.note-modal-footer a:focus {
  color: #23527c;
  text-decoration: underline
}

.note-modal-footer .note-btn {
//   float: right
float: none;
}

.note-modal-title {
  font-size: 16px;
  color: var(--hrd-heading-color, #42515f);

  margin: 0;
  line-height: 1.4;
}

.note-modal-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
    z-index: 1040;
    background: #000;
    -webkit-opacity: 0.5;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
  display: none;

  &.open {
    display: block;
  }
}




// Scale up the modal
@media (min-width: 768px) {
  // Automatically set modal's width for larger viewports
  .note-modal-content {
    width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .note-modal-content-large {
    width: 900px;
  }
}
