@charset "utf-8";
/* CSS Document */

@import url('./bUploadFile.css');

body{
	background-color: #222;
	display: flex;
	gap: 1em;
	align-items: baseline;
	justify-content: center;
	min-height: 100%;
}
section{
	flex: 0 1 30%;
	min-height: 25em;
	margin-top: auto;
	margin-bottom: auto;
	padding: 2em 2.5em;

	--section-bg-color : hsl(0 0% 15%);	
	background-color: var(--section-bg-color);	
	border-radius: 1em;	
	box-sizing: border-box;
}
section h3{ font-size: 1em; color: #ccc; margin-top: 0; }
.upload-type1, .upload-type2, .upload-type3 {
	--upload-gutter: 6px;
	--upload-border-radius: 8px;
	--upload-border-color: hsl(140, 7%, 82%);
	--upload-alert-msg-bg-color: #f8e1e1;
	--upload-btn-bg-color: #00AFA7;
	--upload-btn-font-color: #fff;

	--hover-upload-btn-bg-color: #00AFA7;
	--hover-upload-btn-font-color: #fff;
	--upload-filebox-bg-color: hsl(0 0% 97%);
	--upload-btn-deleteone-bg-color: hsl(140, 7%, 95%);
	--upload-btn-deleteone-hover-bg-color: hsl(140, 7%, 91%);





	/* 수정 */
	--upload-filebox-bg-color: hsl(0 0% 97% / .05);
	--upload-filebox-border-color : hsl(0 0% 97% / .3);

	--upload-btn-font-color: #111;
	--upload-border-color: hsl(0 0% 97% / .3);
}

.upload-type1{
	--upload-btn-deleteone-bg-color : hsl(0 0% 80%)
}
.upload-type1 .upload-file-btn .area{ color: hsl(0 0% 97% / .7)  }
.upload-type1 .upload-file-box .item{
	background-color: hsl(0 0% 20%);
	border-color: transparent;
	color: #ddd;
}
.upload-type1 .file-count{ color: #aaa; }
.upload-type1 .guide-count {  color: #eee;  }
.upload-type1 .delete-all { color: #aaa; }
.upload-type1 .delete-all::before {  filter: brightness(100);  }

.upload-type2{
	--upload-btn-bg-color : hsl(0 0% 97% / .05);
	--hover-upload-btn-bg-color : hsl(0 0% 97% / .05);
	--upload-btn-font-color : #ccc
}

.upload-type3{
	--ut-bg-option-color : var(--section-bg-color);	
}
.upload-type3 .file-count{ color: #aaa; }
.upload-type3 .guide-count {  color: #eee;  }
.upload-type3 .delete-all { color: #aaa; }
.upload-type3 .delete-all::before {  filter: brightness(100);  }


@media(max-width: 1280px){
	body{ flex-direction: column; align-items: center; }
	section{ width: 95%; }
	.upload-type1 { --ut-btn-min-height: 13em; }
}