@charset "utf-8";
/* CSS Document */
/* @import url('../bootstrap-icons/font/bootstrap-icons.css'); */


.card-type2{
	display: flex;
	justify-content: flex-start;
	gap: 16px;
}
.card-type2 .title{
	font-size: 18px;
	color: var(--font-color-default);

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 보여줄 줄 수 */
	-webkit-box-orient: vertical;
}
.card-type2 .image-wrap{
	position: relative;
	flex: 1 1 174px;
	max-width: 174px;

	height: 150px;
	border-radius: 4px;
  
	background-color: var(--body-background-color);
	overflow: hidden;
}
.card-type2 .image-wrap img{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.card-type2 .card-contents{
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}
.card-type2 .btn-wrap{ margin-top: auto; font-size: 14px }
.card-type2 .tCom006{ margin: 8px 0; }



.card-type1{
	position: relative;
	z-index: 0;
	height: 260px;
	border-radius: var(--border-radius-default);
  overflow: hidden;
}
.card-type1 .bg{
	position: absolute;
	display: block;
	width: 100%;;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: -1;
	left: 0;
	top: 0;
}
.card-type1 .card-contents{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 30px;
	color: #fff;
	background-color: hsl( 0 0% 0% / .45);
	
}
.card-type1 .card-contents .title{ 
	white-space: nowrap; overflow:hidden; text-overflow: ellipsis;  
	margin-top: auto;
}
.card-type1 .badge{ color: #fff; }
