@charset "utf-8";
/* CSS Document */



.simple-bar-chart {

	--s-primary : #00B69B;
	--s-line :  #eee;


	display: flex;
	align-items: flex-end;
	gap: 1em;
	border-bottom: 1px solid var(--s-line);

	font-size: 12px;

	margin: 0 auto calc( 1em * 1.6) auto;
	height: 152px;
	width: 100%;
	max-width: 600px;
	min-height: 100px;
	justify-content: space-between;
}

.simple-bar-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: min-content;
	overflow: visible;
}

.simple-bar-svg { transition: height .8s ease-out; }

.simple-bar-rect {
	fill: var(--s-primary); /* var(--ui-teal); */
	width: 100%;
	height: 100%;
}

.simple-bar-label {
	position: absolute;
	font-family: sans-serif;
	font-size: 1em;
	margin-top: 10px;
	text-align: center;
	width: 5em;
	top: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box; /* 보여줄 줄 수 */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.2;

}

.simple-value-label {
	font-weight: bold;
	margin-bottom: 2px;
	text-align: center;
	width: 100%;
	color: var(--s-primary);
	font-size: 1.2em;

}