.list-item-wrap {
	display: block;

	border-top: 1px solid var(--item-border-color);
	border-bottom: 1px solid var(--item-border-color);

	.list-item+.list-item {
		border-top: 1px solid var(--item-border-color);
	}
}