@charset "utf-8";
/********************************************************************************************************
 * Subpage Contents CSS
*********************************************************************************************************/
.subCon {
    width: 100%;
    padding: 0 2em;
}
.subCon.wide {
    width: 100%;
    padding: 0;
}
.subCon h4.subTit {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.3em;
    font-weight: bold;
}
.subCon p.imgArea {
    width: 100%;
    text-align: center;
    margin: 1.5em 0;
}
.subCon p.imgArea img {
    height: 100%;
    object-fit: contain;
}

.greeting {
    background: url(../img/tit_bg.png) no-repeat top right;
}
.greeting .text_box {
    z-index: 2;
    margin-right: 2em;
}
.greetTit {
    margin: 35px 0 20px 0;
    font-size: 1.2em;
    font-weight: 700;
    color: #212121;

}
.greetingDesc {
    padding: 1em;
    line-height: 1.7;
    color: #333;

}
.greetingDesc strong {
    font-size: 1.13em;
    font-weight: 700;
}
.sign {
    float: right;
    margin-right: 35px;
}
.ctl p {
    font-size: 1.13em;
    font-weight: 500;
}
.mapDesc {
    font-size: 1.067em;
    color: #212121;
}

@media all and (max-width: 1024px) {
    .subCon {
        padding: 1em;
    }
}

@media all and (max-width: 768px) {
    .subCon {
        padding: 0em;
    }
    .subCon h4.subTit {
        font-size: 1.13em;
    }
}


@media all and (max-width: 480px) {
    .greetingDesc {
        padding: 1em 0;
    }
    .mapDesc {
        font-size: 1em;
    }
}