





.cGrid{ 
	display: grid; 
	gap: var(--gap, 0);
	grid-template-columns: repeat(12, 1fr);
}

/* .cGrid:has(.colg){ grid-template-columns: repeat(auto-fit, minmax(8%, 1fr)); } */

/* desktop first 일 때
.cGrid > .cg-1{ grid-column: span 1;  }
.cGrid > .cg-2{ grid-column: span 2; }
.cGrid > .cg-3{ grid-column: span 3; }
.cGrid > .cg-4{ grid-column: span 4; }
.cGrid > .cg-5{ grid-column: span 5; }
.cGrid > .cg-6{ grid-column: span 6; }
.cGrid > .cg-7{ grid-column: span 7; }
.cGrid > .cg-8{ grid-column: span 8; }
.cGrid > .cg-9{ grid-column: span 9; }
.cGrid > .cg-10{ grid-column: span 10; }
.cGrid > .cg-11{ grid-column: span 11; }
.cGrid > .cg-12{ grid-column: span 12; }

@media(max-width: 1024px){
	.cGrid > .cg-md-1{ grid-column: span 1;  }
	.cGrid > .cg-md-2{ grid-column: span 2; }
	.cGrid > .cg-md-3{ grid-column: span 3; }
	.cGrid > .cg-md-4{ grid-column: span 4; }
	.cGrid > .cg-md-5{ grid-column: span 5; }
	.cGrid > .cg-md-6{ grid-column: span 6; }
	.cGrid > .cg-md-7{ grid-column: span 7; }
	.cGrid > .cg-md-8{ grid-column: span 8; }
	.cGrid > .cg-md-9{ grid-column: span 9; }
	.cGrid > .cg-md-10{ grid-column: span 10; }
	.cGrid > .cg-md-11{ grid-column: span 11; }
	.cGrid > .cg-md-12{ grid-column: span 12; }
}

@media(max-width: 768px){
	.cGrid > .cg-sm-1{ grid-column: span 1;  }
	.cGrid > .cg-sm-2{ grid-column: span 2; }
	.cGrid > .cg-sm-3{ grid-column: span 3; }
	.cGrid > .cg-sm-4{ grid-column: span 4; }
	.cGrid > .cg-sm-5{ grid-column: span 5; }
	.cGrid > .cg-sm-6{ grid-column: span 6; }
	.cGrid > .cg-sm-7{ grid-column: span 7; }
	.cGrid > .cg-sm-8{ grid-column: span 8; }
	.cGrid > .cg-sm-9{ grid-column: span 9; }
	.cGrid > .cg-sm-10{ grid-column: span 10; }
	.cGrid > .cg-sm-11{ grid-column: span 11; }
	.cGrid > .cg-sm-12{ grid-column: span 12; }
}
 */


/* mobile first 일 때  */
.cGrid > .cg-1{ grid-column: span 1;  }
.cGrid > .cg-2{ grid-column: span 2; }
.cGrid > .cg-3{ grid-column: span 3; }
.cGrid > .cg-4{ grid-column: span 4; }
.cGrid > .cg-5{ grid-column: span 5; }
.cGrid > .cg-6{ grid-column: span 6; }
.cGrid > .cg-7{ grid-column: span 7; }
.cGrid > .cg-8{ grid-column: span 8; }
.cGrid > .cg-9{ grid-column: span 9; }
.cGrid > .cg-10{ grid-column: span 10; }
.cGrid > .cg-11{ grid-column: span 11; }
.cGrid > .cg-12{ grid-column: span 12; }

@media(min-width: 768px){
	.cGrid > .cg-sm-1{ grid-column: span 1;  }
	.cGrid > .cg-sm-2{ grid-column: span 2; }
	.cGrid > .cg-sm-3{ grid-column: span 3; }
	.cGrid > .cg-sm-4{ grid-column: span 4; }
	.cGrid > .cg-sm-5{ grid-column: span 5; }
	.cGrid > .cg-sm-6{ grid-column: span 6; }
	.cGrid > .cg-sm-7{ grid-column: span 7; }
	.cGrid > .cg-sm-8{ grid-column: span 8; }
	.cGrid > .cg-sm-9{ grid-column: span 9; }
	.cGrid > .cg-sm-10{ grid-column: span 10; }
	.cGrid > .cg-sm-11{ grid-column: span 11; }
	.cGrid > .cg-sm-12{ grid-column: span 12; }
}

@media(min-width: 1024px){
	.cGrid > .cg-md-1{ grid-column: span 1;  }
	.cGrid > .cg-md-2{ grid-column: span 2; }
	.cGrid > .cg-md-3{ grid-column: span 3; }
	.cGrid > .cg-md-4{ grid-column: span 4; }
	.cGrid > .cg-md-5{ grid-column: span 5; }
	.cGrid > .cg-md-6{ grid-column: span 6; }
	.cGrid > .cg-md-7{ grid-column: span 7; }
	.cGrid > .cg-md-8{ grid-column: span 8; }
	.cGrid > .cg-md-9{ grid-column: span 9; }
	.cGrid > .cg-md-10{ grid-column: span 10; }
	.cGrid > .cg-md-11{ grid-column: span 11; }
	.cGrid > .cg-md-12{ grid-column: span 12; }
}
