html, body{ }
body{
	background-color: hsl(180, 8%, 95%);
	color: var(--text-dark-0);
}


.desktop-elem{ display: none !important }
@media(min-width: 1200px){
	.desktop-elem{ display: block !important }
	.mobile-elem{ display: none !important; }
}



ol, ul{ list-style: none;}
ol, ul, dl {
	margin-top: 0;
	margin-bottom: 0rem;
	padding: 0;
}



.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
	font-weight: 500 !important;
}

.visually-hidden{

}


img{max-width: 100%; }

.cursor-pointer{ cursor: pointer !important;}


.margin-0 {	margin: 0 !important;  }  
.margin-1 {	margin: 0.25rem !important;  }  
.margin-2 {	margin: 0.5rem !important;  }  
.margin-3 {	margin: 1rem !important;  }  
.margin-4 {	margin: 1.5rem !important;  }  
.margin-5 {	margin: 3rem !important;  }

.margin-top-auto { margin-top: auto !important;  }
.margin-top-0 { margin-top: 0 !important;}
.margin-top-1 {  margin-top: 0.25rem !important;}
.margin-top-2 {  margin-top: 0.5rem !important;}
.margin-top-3 {  margin-top: 1rem !important;}
.margin-top-4 {  margin-top: 1.5rem !important;}
.margin-top-5 {  margin-top: 3rem !important;}


.margin-bottom-auto { margin-bottom: auto !important;  }
.margin-bottom-0 { margin-bottom: 0 !important;}
.margin-bottom-1 {  margin-bottom: 0.25rem !important;}
.margin-bottom-2 {  margin-bottom: 0.5rem !important;}
.margin-bottom-3 {  margin-bottom: 1rem !important;}
.margin-bottom-4 {  margin-bottom: 1.5rem !important;}
.margin-bottom-5 {  margin-bottom: 3rem !important;}

.margin-right-auto { margin-right: auto !important;  }
.margin-right-0 { margin-right: 0 !important;  }
.margin-right-1 {	margin-right: 0.25rem !important;  }
.margin-right-2 {	margin-right: 0.5rem !important;  }
.margin-right-3 {	margin-right: 1rem !important;  }
.margin-right-4 {	margin-right: 1.5rem !important;  }
.margin-right-5 {	margin-right: 3rem !important;  }


.margin-left-auto { margin-left: auto !important;  }
.margin-left-0 { margin-left: 0 !important;  }
.margin-left-1 {	margin-left: 0.25rem !important;  }
.margin-left-2 {	margin-left: 0.5rem !important;  }
.margin-left-3 {	margin-left: 1rem !important;  }
.margin-left-4 {	margin-left: 1.5rem !important;  }
.margin-left-5 {	margin-left: 3rem !important;  }



.padding-0 {	padding: 0 !important;  }  
.padding-1 {	padding: 0.25rem !important;  }  
.padding-2 {	padding: 0.5rem !important;  }  
.padding-3 {	padding: 1rem !important;  }  
.padding-4 {	padding: 1.5rem !important;  }  
.padding-5 {	padding: 3rem !important;  }



.padding-left-0 { padding-left: 0 !important;  }
.padding-left-1 {	padding-left: 0.25rem !important;  }
.padding-left-2 {	padding-left: 0.5rem !important;  }
.padding-left-3 {	padding-left: 1rem !important;  }
.padding-left-4 {	padding-left: 1.5rem !important;  }
.padding-left-5 {	padding-left: 3rem !important;  }


.padding-right-0 { padding-right: 0 !important;  }
.padding-right-1 {	padding-right: 0.25rem !important;  }
.padding-right-2 {	padding-right: 0.5rem !important;  }
.padding-right-3 {	padding-right: 1rem !important;  }
.padding-right-4 {	padding-right: 1.5rem !important;  }
.padding-right-5 {	padding-right: 3rem !important;  }

.padding-top-0 { padding-top: 0 !important;  }
.padding-top-1 {	padding-top: 0.25rem !important;  }
.padding-top-2 {	padding-top: 0.5rem !important;  }
.padding-top-3 {	padding-top: 1rem !important;  }
.padding-top-4 {	padding-top: 1.5rem !important;  }
.padding-top-5 {	padding-top: 3rem !important;  }


.padding-bottom-0 { padding-bottom: 0 !important;  }
.padding-bottom-1 {	padding-bottom: 0.25rem !important;  }
.padding-bottom-2 {	padding-bottom: 0.5rem !important;  }
.padding-bottom-3 {	padding-bottom: 1rem !important;  }
.padding-bottom-4 {	padding-bottom: 1.5rem !important;  }
.padding-bottom-5 {	padding-bottom: 3rem !important;  }




.gap0, .gap-0 { --gap: 0; gap: 0; }

.gap-1 { --gap: 4px; gap: 4px; }
.gap-2 { --gap: 8px; gap: 8px; }
.gap-3 { --gap: 16px; gap: 16px; }
.gap-4 { --gap: 24px; gap: 24px; }
.gap-5 { --gap: 32px; gap: 32px; }

.column-gap-1 { column-gap: 4px; --gap: 0 4px; }
.column-gap-2 { column-gap: 8px; --gap: 0 8px; }
.column-gap-3 { column-gap: 16px; --gap: 0 16px; }
.column-gap-4 { column-gap: 32px; --gap: 0 32px; }
.column-gap-5 { column-gap: 48px; --gap: 0 48px; }

.row-gap-1 { row-gap: 4px; --gap: 4px 0; }
.row-gap-2 { row-gap: 8px; --gap: 8px 0; }
.row-gap-3 { row-gap: 16px; --gap: 16px 0; }
.row-gap-4 { row-gap: 32px; --gap: 32px 0; }
.row-gap-5 { row-gap: 48px; --gap: 48px 0; }

/*  */
.flex-direction-column{ flex-direction:column !important; }
.flex-direction-row{ flex-direction:row !important; }

.flex-none{ flex: none !important }
.flex-0{ flex: 0 !important }
.flex-1{ flex: 1 !important }
.flex-grow-0{ flex-grow: 0 !important }
.flex-grow-1{ flex-grow: 1 !important }
.flex-grow-2{ flex-grow: 2 !important }

.flex-shrink-1{ flex-shrink: 1 !important }
.flex-shrink-2{ flex-shrink: 2 !important }
.flex-wrap{ flex-wrap:wrap !important; }

.min-width-2em { min-width: 2.5em !important; }
.min-width-3em { min-width: 3.5em !important; }
.min-width-4em { min-width: 4.5em !important; }
.min-width-5em { min-width: 5.5em !important; }
.min-width-6em { min-width: 6.5em !important; }
.min-width-7em { min-width: 7.5em !important; }
.min-width-8em { min-width: 8.5em !important; }
.min-width-9em { min-width: 9.5em !important; }
.min-width-10em { min-width: 10.5em !important; }
.min-width-11em { min-width: 11.5em !important; }
.min-width-12em { min-width: 12.5em !important; }

.min-width-13em { min-width: 13.5em !important; }
.min-width-14em { min-width: 14.5em !important; }
.min-width-15em { min-width: 15.5em !important; }

.min-width-16em { min-width: 16.5em !important; }
.min-width-17em { min-width: 17.5em !important; }
.min-width-18em { min-width: 18.5em !important; }
.min-width-19em { min-width: 19.5em !important; }
.min-width-20em { min-width: 20.5em !important; }


.min-width-768px { min-width: 768px !important; }
.min-width-900px { min-width: 900px !important; }
.min-width-1100px { min-width: 1100px !important; }
.min-width-1280px { min-width: 1280px !important; }
.min-width-1400px { min-width: 1400px !important; }

.width-3per {width:3% ;}
.width-4per {width:4% ;}
.width-5per {width:5% ;}
.width-6per {width:6% ;}
.width-7per {width:7% ;}
.width-8per {width:8% }
.width-9per {width:9% ;}
.width-10per{width:10% ;}
.width-15per{width:15% ;}
.width-20per{width:20% ;}
.width-25per{width:25% ;}
.width-30per{width:30% ;}
.width-35per{width:35% ;}
.width-40per{width:40% ;}
.width-45per{width:45% ;}
.width-50per{width:50% ;}
.width-55per{width:55% ;}
.width-65per{width:65% ;}
.width-60per{width:60% ;}
.width-70per{width:70% ;}
.width-75per{width:75% ;}
.width-80per{width:80% ;}
.width-85per{width:85% ;}
.width-90per{width:90% ;}
.width-95per{width:95% ;}
.width-100per{width:100% ;}

.width-1em { width: 1.5em !important; }
.width-2em { width: 2.5em !important; }
.width-3em { width: 3.5em !important; }
.width-4em { width: 4.5em !important; }
.width-5em { width: 5.5em !important; }
.width-6em { width: 6.5em !important; }
.width-7em { width: 7.5em !important; }
.width-8em { width: 8.5em !important; }
.width-10em { width: 10.5em !important; }
.width-12em { width: 12.5em !important; }
.width-16em { width: 16.5em !important; }
.width-20em { width: 20.5em !important; }




.min-height-auto { min-height: auto !important; }
.min-height-100px { min-height: 100px !important; }
.min-height-120px { min-height: 120px !important; }
.min-height-150px { min-height: 150px !important; }
.min-height-180px { min-height: 180px !important; }
.min-height-200px { min-height: 200px !important; }
.min-height-250px { min-height: 250px !important; }
.min-height-300px { min-height: 300px !important; }
.min-height-350px { min-height: 350px !important; }
.min-height-400px { min-height: 400px !important; }
.min-height-450px { min-height: 450px !important; }
.min-height-500px { min-height: 500px !important; }
.min-height-550px { min-height: 550px !important; }
.min-height-600px { min-height: 600px !important; }
.min-height-700px { min-height: 700px !important; }
.min-height-800px { min-height: 800px !important; }
.min-height-900px { min-height: 900px !important; }
.min-height-1000px { min-height: 1000px !important; }

.max-height-100px { max-height: 100px; }
.max-height-200px { max-height: 200px; }
.max-height-300px { max-height: 300px; }
.max-height-400px { max-height: 400px; }
.max-height-500px { max-height: 500px; }
.max-height-600px { max-height: 600px; }
.max-height-700px { max-height: 700px; }
.max-height-800px { max-height: 800px; }
.max-height-900px { max-height: 900px; }
.max-height-1000px { max-height: 1000px; }






.height-20per{height:20% ;}
.height-40per{height:40% ;}
.height-60per{height:60% ;}
.height-80per{height:80% ;}
.height-100per{height:100% ;}


.justify-content-left { justify-content: left !important; }
.justify-content-right { justify-content: right !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-around { justify-content: space-around !important; }
.justify-content-between { justify-content: space-between !important; }

.align-items-center { align-items: center !important; }
.align-items-baseline { align-items: baseline !important; }
.align-items-stretch{ align-items: stretch !important; }

.align-self-center{ align-self: center !important; }
.align-self-baseline{ align-self: baseline !important; }
.align-self-stretch{ align-self: stretch !important; } /* */









.fcWhite{ color: #fff !important; --fcColor: #fff; }
.fcDark0, .fcBlack{--fcColor: var(--text-dark-0);  color: var(--fcColor) !important; }
.fcDark1{--fcColor: var(--text-dark-1);  color: var(--fcColor) !important; }
.fcDark2{--fcColor: var(--text-dark-2);  color: var(--fcColor) !important; }
.fcRed{--fcColor: var(--red-600); color: var(--fcColor) !important;  }
.fcGreen{--fcColor: var(--green-600); color: var(--fcColor); }
.fcPrimary{--fcColor: var(--primary-600); color: var(--fcColor); }


.fcSecondary{--fcColor: var(--secondary-500); color: var(--fcColor); }
.fcGray{--fcColor: var(--text-dark-3); color: var(--fcColor); }
.fcOrange{--fcColor: var(--orange-600); color: var(--fcColor); }
.fcBlue{--fcColor: var(--blue-600); color: var(--fcColor); }


.bcBlack{ background-color: var(--dark-900) !important; --bcColor : var(--dark-900) }
.bcTransparent{ background-color: transparent !important ; --bcColor : transparent;  }
.bcDark2{ background-color: var(--text-dark-2) !important;  --bcColor :  var(--text-dark-2); }
.bcDark1{ background-color: var(--text-dark-1) !important;  --bcColor :  var(--text-dark-1); }

.bcDark3{ background-color: var(--text-dark-3) !important;  --bcColor :  var(--text-dark-3); }
.bcDark4{ background-color: var(--text-dark-4) !important;  --bcColor :  var(--text-dark-4); }
.bcDark5{ background-color: var(--text-dark-5) !important;  --bcColor :  var(--text-dark-5); }
.bcDark6{ background-color: var(--text-dark-6) !important;  --bcColor :  var(--text-dark-6); }
.bcDark7{ background-color: var(--text-dark-7) !important;  --bcColor :  var(--text-dark-7); }
.bcWhite{ background-color: #fff !important;  --bcColor : #fff; }


.bcPrimary-50{ background-color: var(--primary-50) !important;  --bcColor :  var(--primary-50); }
.bcPrimary-100{ background-color: var(--primary-100) !important;  --bcColor :  var(--primary-100); }
.bcPrimary-200{ background-color: var(--primary-200) !important;  --bcColor :  var(--primary-200); }
.bcPrimary-300{ background-color: var(--primary-300) !important;  --bcColor :  var(--primary-300); }
.bcPrimary-400{ background-color: var(--primary-400) !important;  --bcColor :  var(--primary-400); }
.bcPrimary-500{ background-color: var(--primary-500) !important;  --bcColor :  var(--primary-500); }
.bcPrimary-600{ background-color: var(--primary-600) !important;  --bcColor :  var(--primary-600); }
.bcPrimary-700{ background-color: var(--primary-700) !important;  --bcColor :  var(--primary-700); }
.bcPrimary-800{ background-color: var(--primary-800) !important;  --bcColor :  var(--primary-800); }
.bcPrimary-900{ background-color: var(--primary-900) !important;  --bcColor :  var(--primary-900); }


.bcSecondary-50{ background-color: var(--secondary-50) !important;  --bcColor :  var(--secondary-50); }
.bcSecondary-100{ background-color: var(--secondary-100) !important;  --bcColor :  var(--secondary-100); }
.bcSecondary-200{ background-color: var(--secondary-200) !important;  --bcColor :  var(--secondary-200); }
.bcSecondary-300{ background-color: var(--secondary-300) !important;  --bcColor :  var(--secondary-300); }
.bcSecondary-400{ background-color: var(--secondary-400) !important;  --bcColor :  var(--secondary-400); }
.bcSecondary-500{ background-color: var(--secondary-500) !important;  --bcColor :  var(--secondary-500); }
.bcSecondary-600{ background-color: var(--secondary-600) !important;  --bcColor :  var(--secondary-600); }
.bcSecondary-700{ background-color: var(--secondary-700) !important;  --bcColor :  var(--secondary-700); }
.bcSecondary-800{ background-color: var(--secondary-800) !important;  --bcColor :  var(--secondary-800); }
.bcSecondary-900{ background-color: var(--secondary-900) !important;  --bcColor :  var(--secondary-900); }







.bcGreen, .bcGreen-500{ background-color: var(--green-500) !important;  --bcColor :  var(--green-500); }
.bcGreen-100{ background-color: var(--green-100) !important;  --bcColor :  var(--green-100); }


/* 폰트크기 추가  16px 기준임 */
.fs-12px{ font-size: 12px !important  }
.fs-13px{ font-size: 13px !important  }
.fs-14px{ font-size: 14px !important  }
.fs-16px{ font-size: 16px !important  }
.fs-18px{ font-size: 18px !important  }
.fs-20px{ font-size: 20px  !important }
.fs-22px{ font-size: 22px !important  }
.fs-24px{ font-size: 24px !important  }
.fs-26px{ font-size: 26px !important  }
.fs-28px{ font-size: 28px !important  }
.fs-30px{ font-size: 30px !important  }
.fs-32px{ font-size: 32px !important  }

.fw-100{ font-weight: 100 !important; }
.fw-200{ font-weight: 200 !important; }
.fw-300{ font-weight: 300 !important; }
.fw-400, .fw-normal{ font-weight: 400 !important; }
.fw-500{ font-weight: 500 !important; }
.fw-600{ font-weight: 600 !important; }
.fw-700, .fw-bold{ font-weight: 700 !important; }
.fw-800{ font-weight: 800 !important; }
.fw-900{ font-weight: 900 !important; }

.primary{ --bcColor: var(--primary-500); --fcColor:var(--primary-500); }
.secondary{ --bcColor: var(--secondary-500); --fcColor:var(--secondary-600); }
.gray{ --bcColor: var(--text-dark-3); --fcColor:var(--text-dark-3); }
.red{ --bcColor: var(--red-500); --fcColor:var(--red-600); }
.orange{ --bcColor: var(--orange-500); --fcColor:var(--orange-700); }
.green{ --bcColor: var(--green-500); --fcColor:var(--green-600); }
.blue{ --bcColor: var(--blue-500); --fcColor:var(--blue-600); }




hr{ opacity: 1;  border-top-color:var(--bcColor, var(--dark-200)); }
hr.dashed{
 border-top-style: dashed;
}
hr.solid{
	border-top-style: solid;
  
}


.border-1{ border:1px solid var(--line-color) !important }
.border-top-1{ border-top:1px solid var(--border) !important }
.border-bottom-1{ border-bottom:1px solid var(--border) !important }
.border-left-1{ border-left:1px solid var(--border) !important }
.border-right-1{ border-right:1px solid var(--border) !important }

.border-0{  border :0 !important; }
.border-top-0{ border-top:0 !important }
.border-bottom-0{ border-bottom:0 !important }
.border-left-0{ border-left:0 !important }
.border-right-0{ border-right:0 !important }
.line-height-12{ line-height:1.2 !important }




input, select, textarea {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
input:not([type="checkbox"]):not([type="radio"]), select, textarea { 
	padding: 4px 12px;
	color: var(--text-dark-0);
	border: 1px solid var(--form-border-color);
	box-sizing: border-box;
	vertical-align: middle;
	border-radius: var(--border-radius-6px);
	font-size: 15px;
	background-color: #fff;

	min-height: 42px;
}
input[type="checkbox"],
input[type="radio"] { 
	flex: none;
	width:1.5em; height:1.5em; margin:0 2px; 

	line-height: 1;
	background-color: var(--dark-50);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-4px);
	cursor: pointer;
}
input[type="checkbox"]::before,
input[type="radio"]::before{
	content: "\f633";
	
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: 400 !important;
	font-variant: normal;
	text-transform: none;
	line-height: .8;
	/* vertical-align: -.125em; */
	padding-top: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	color: var(--text-dark-2);

}
input[type="checkbox"]:checked,
input[type="radio"]:checked{
	background-color: var(--primary-500);
}
input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before{ color: #fff }


*:has(>input[type="checkbox"]),
*:has(>input[type="radio"]){ cursor: pointer; }


*:has(>input[type="checkbox"]:disabled),
*:has(>input[type="radio"]:disabled){ 
	cursor: not-allowed; pointer-events: none;
	filter: contrast(85%);
  opacity: .6; 
}


select {
	min-width: 80px;
	padding-right: 26px !important;
	background: #fff url(../img/common/bg_select_arrow.gif) no-repeat right center;
	background-size: 1em;
}

textarea{ overflow: auto; }
.resize-none{ resize: none; }
.resize-none:has(textarea) textarea { resize: none; }

label{ display: inline-flex; gap: 4px }

label > input:not([type="checkbox"]):not([type="radio"]),
label > select, 
label > textarea{
	width: 100%;
}

:focus-visible {
	outline: 2px solid var(--primary-500);
	border-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
	outline: 2px solid var(--primary-500);
	border-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]):disabled, select:disabled, textarea:disabled{
	filter: contrast(85%);
	opacity: .6;
	cursor: not-allowed;
}
input:not([type="checkbox"]):not([type="radio"])[readonly], 
select[readonly], 
textarea[readonly]{
	filter: contrast(85%);
	opacity: .6;
	cursor: not-allowed;
}

a:link {
	text-decoration: none;
}

@media(max-width: 768px){
	label.type2:has(select){    
		flex: none; 
		overflow: visible;
	}
	label.type2 select{
		border: 0;
		color: var(--text-dark-0);
		/* text-align: right;
		text-align-last: right; */
		min-width: auto;
		padding-left: 0;
		padding-right: 1em !important;

		flex: 0 1 auto;
		width: 6em;
		text-overflow: ellipsis;
        white-space: nowrap;
	}

	label:has(select.type2){ flex: none;}
	label select.type2{
		border: 0;
		color: var(--text-dark-0);
		/* text-align: right;
		text-align-last: right; */
		min-width: auto;
		padding-left: 0;
	}
	label.type2 select:disabled,
	label select.type2:disabled{ padding-left: 4px }
}


u{
	text-decoration-color : currentColor;
	text-underline-offset: 4px;
}



a{ color: var(--text-dark-0); }
a:hover { color: var(--primary-600);  }


.btn { 
	--bs-btn-border-width: 0;
	display: inline-flex;  align-items: center;
	gap: 4px 4px;
	padding: 0px 2px;
	border-radius: 4px;
	font-size: 1em;
	font-weight: 500;
}
.btn .bi {
	align-self: center;
	display: inline-flex;
	align-items: center;
	flex: none;
	line-height: 1;
}
.btn .text-truncate{
	display: block;
	white-space: normal;
	line-height: 1.2em;
	max-height: 3.6em;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;  /* 2줄 넘어가면 말줄임 */
	-webkit-box-orient: vertical;	
	text-align: left;
}

.btn:hover {
	color: var(--primary-600);
	background-color: transparent;
	border-color: var(--bs-btn-hover-border-color);
}

.btn.default,
.btn.primary,
.btn.secondary,
.btn.gray{
	justify-content: center;
	font-size: var(--fs, 16px);
	font-weight: 400;
	padding-left: calc(1em - 2px);
	padding-right: calc(1em - 2px);
	min-height: 42px;
	align-items: center;
	border-radius: var(--border-radius-6px);
	background-color: var(--bcColor, transparent);
	color: #fff;
}

.btn.default{
	color: var(--text-dark-0);
	border: 1px solid var(--text-dark-6);	
}
.btn.default:hover{
	color: #fff;
	border-color: var(--text-dark-3);
	background-color: var(--text-dark-3, transparent);
}
.btn.primary:hover,
.btn.secondary:hover,
.btn.gray:hover{ filter: brightness(90%) contrast(150%) }


.btn.btn-collapse{ min-width: 2.5em; }
.btn.btn-collapse::before{
	content: '\F282';

	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: 600 !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	transition: all .3s;
}
.btn.btn-collapse.expanded::before{ transform: rotate(180deg); }





.btn2 { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	background-color: transparent;
	flex: none;
	
	display: inline-flex;
	align-items: center;
	gap: 4px;
	padding: 0px 2px;
	border-radius: 4px;
	font-size: var(--fs, 1em);
	font-weight: 500;
	min-height: 24px;
	color: var(--text-dark-0);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.btn2:after{
	content: '';
	display: inline-block ; /* none; */
	width: .5em;
	height: .5em;
	border: 1px solid currentColor;
	border-left: 0;
	border-bottom: 0;
 	line-height: 0;
	
	transform: rotate(45deg);
}
.btn2 .bi{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	min-width: 24px;
	min-height: 24px;
	background-color: var(--bcColor, #67777E);
	color: #fff;
	border-radius: 3px;
}
.btn2 .text-truncate{
	display: block;
	white-space: normal;
	line-height: 1.2em;
	max-height: 3.6em;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;  /* 2줄 넘어가면 말줄임 */
	-webkit-box-orient: vertical;	
}
.btn2:hover {
	color: var(--primary-600);
	background-color: transparent;
	border-color: var(--bs-btn-hover-border-color);
}
.btn2:hover:after{ display: inline-block; }

.btn2.default,
.btn2.primary,
.btn2.secondary,
.btn2.gray{
	min-width: 5em;
	font-size: 14px;
	font-weight: 400;
	padding:.2em .8em;
	align-items: center;
	border-radius: 100em;
	background-color: var(--bcColor, transparent);
	color: #fff;
}

.btn2.default i,
.btn2.primary i,
.btn2.secondary i,
.btn2.gray i{ min-height: auto;}


.btn2.default{
	color: var(--text-dark-0);
	border: 1px solid var(--text-dark-6);
}


.btn2.default:hover{
	color: var(--text-dark-0);
	border-color: var(--text-dark-1);
}
.btn2.primary:hover,
.btn2.secondary:hover,
.btn2.gray:hover{ filter: brightness(90%) contrast(150%) }

.btn2.default::after,
.btn2.primary::after,
.btn2.secondary::after,
.btn2.gray::after{ display: inline-block; margin-left: .4em;  }

button:disabled,
a.disabled{
	filter: contrast(85%);
  opacity: .6;
  pointer-events: none;
}

.btn-wrap{ display: inline-flex; flex-wrap: wrap; gap: 8px }


/* 배지 */
.badge{
	--bs-border-radius : 3px;
	font-size: 13px;
	font-weight: 600;
	background-color: var(--dark-50);
	color: var(--fcColor, var(--text-dark-0) );
	padding: 4px 6px;
}
.badge.primary{ background-color: var(--primary-50); }
.badge.secondary{ background-color: var(--secondary-50); }
.badge.red{ background-color: var(--red-50); --fcColor: var(--red-700); }
.badge.orange{ background-color: var(--orange-50); }
.badge.green{ background-color: var(--green-50); }
.badge.blue{ background-color: var(--blue-50); }

.badge-wrap{ display: inline-flex; flex-wrap: wrap; gap: 4px }



/* svg 아이콘 */
/* svg 아이콘 */
[class*="-svg-"]{
	display: inline-flex;
/**/	justify-content: center; align-items: center;
	width: 1.142857em;
	height: 1.142857em;
	color: currentColor;
	--maskimg : url('../img/common/icon-svg-home-05.svg');

  z-index: 0;
  line-height: 1;
  /* vertical-align: middle; */
}

[class*="-svg-"]::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);
}
.icon-svg-ctrl-collapse{ --maskimg : url('../img/common/icon-svg-layout-right.svg');  }
.icon-svg-close{ --maskimg : url('../img/common/icon-svg-close.svg');  }
.icon-svg-menu{ --maskimg : url('../img/common/icon-svg-menu-01.svg');  }
.icon-svg-home{  --maskimg : url('../img/common/icon-svg-home-05.svg');  }
.icon-svg-logout{  --maskimg : url('../img/common/icon-svg-log-out-04.svg');  }

.icon-svg-announcement{  --maskimg : url('../img/common/icon-svg-announcement-01.svg');  }
.icon-svg-calendar{  --maskimg : url('../img/common/icon-svg-calendar.svg');  }

.icon-svg-calendar-check{  --maskimg : url('../img/common/icon-svg-calendar-check-01.svg');  }
.icon-svg-face-id{  --maskimg : url('../img/common/icon-svg-face-id.svg');  }

.icon-svg-list{  --maskimg : url('../img/common/icon-svg-list.svg');  }

.icon-svg-clipboard-check{  --maskimg : url('../img/common/icon-svg-clipboard-check.svg');  }
.icon-svg-wallet{  --maskimg : url('../img/common/icon-svg-wallet-03.svg');  }

.icon-svg-bar-chart{  --maskimg : url('../img/common/icon-svg-bar-chart-05.svg');  }

.icon-svg-bookmark-check{  --maskimg : url('../img/common/icon-svg-bookmark-check.svg');  }

.icon-svg-building{  --maskimg : url('../img/common/icon-svg-building-06.svg');  }
.icon-svg-archive{  --maskimg : url('../img/common/icon-svg-archive.svg');   }
.icon-svg-annotation-check{  --maskimg : url('../img/common/icon-svg-annotation-check.svg');   }
.icon-svg-notification-text{  --maskimg : url('../img/common/icon-svg-notification-text.svg');   }
.icon-svg-clipboard-plus{  --maskimg : url('../img/common/icon-svg-clipboard-plus.svg');   }

[class*="icon-png-"]{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;
	color: currentColor;
	--bg-icon: url(../img/common/icon-svg-home-05.svg);
	z-index: 0;
	line-height: 1;
	/* vertical-align: middle; */
	font-size: calc(1em + 6px);
}
[class*="icon-png-"]:before{
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	background-image: var(--bg-icon);
	background-size: contain;
	background-repeat: no-repeat;
}
.icon-png-excel{  --bg-icon : url('../img/common/icon-png-excel.svg');  }



/* 임시 */
.icon-arrow-down {   /* background-color: #ccc; */
	display: inline-flex;
	justify-content: center; align-items: center;
	width: 1.142857em;
	height: 1.142857em;
	color: currentColor;
	z-index: 0;
	line-height: 1;
	transition: all .7s;
}
.icon-arrow-down:before{
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	border: 1px solid currentColor;
	border-left: 0;
	border-bottom: 0;
 	line-height: 0;
	
	transform-origin: center;
	transform: rotate(135deg) translate(-1px, 1px);

}


.no-content{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	background-color: var(--text-dark-7);
	color: var(--text-dark-0);
	border-radius: var(--border-radius-4px);

	min-height: 30vh;
}

.text-center{ text-align: center !important; }
.text-left{ text-align: left !important; } /* .text-start */
.text-right{ text-align: right !important; } /* .text-end */

.cGrid{ 
	display: grid; 
	gap: var(--gap, 0);
	grid-template-columns: repeat(12, 1fr);
}

/* .cGrid:has(.colg){ grid-template-columns: repeat(auto-fit, minmax(8%, 1fr)); } */
.cGrid > .colg-1{ grid-column: span 1;  }
.cGrid > .colg-2{ grid-column: span 2; }
.cGrid > .colg-3{ grid-column: span 3; }
.cGrid > .colg-4{ grid-column: span 4; }
.cGrid > .colg-5{ grid-column: span 5; }
.cGrid > .colg-6{ grid-column: span 6; }
.cGrid > .colg-7{ grid-column: span 7; }
.cGrid > .colg-8{ grid-column: span 8; }
.cGrid > .colg-9{ grid-column: span 9; }
.cGrid > .colg-10{ grid-column: span 10; }
.cGrid > .colg-11{ grid-column: span 11; }
.cGrid > .colg-12{ grid-column: span 12; }

@media(min-width: 768px){ /* 768 */
	.cGrid > .colg-sm-1{ grid-column: span 1;  }
	.cGrid > .colg-sm-2{ grid-column: span 2; }
	.cGrid > .colg-sm-3{ grid-column: span 3; }
	.cGrid > .colg-sm-4{ grid-column: span 4; }
	.cGrid > .colg-sm-5{ grid-column: span 5; }
	.cGrid > .colg-sm-6{ grid-column: span 6; }
	.cGrid > .colg-sm-7{ grid-column: span 7; }
	.cGrid > .colg-sm-8{ grid-column: span 8; }
	.cGrid > .colg-sm-9{ grid-column: span 9; }
	.cGrid > .colg-sm-10{ grid-column: span 10; }
	.cGrid > .colg-sm-11{ grid-column: span 11; }
	.cGrid > .colg-sm-12{ grid-column: span 12; }
}

@media(min-width: 1024px){ /* 768 */
	.cGrid > .colg-md-1{ grid-column: span 1;  }
	.cGrid > .colg-md-2{ grid-column: span 2; }
	.cGrid > .colg-md-3{ grid-column: span 3; }
	.cGrid > .colg-md-4{ grid-column: span 4; }
	.cGrid > .colg-md-5{ grid-column: span 5; }
	.cGrid > .colg-md-6{ grid-column: span 6; }
	.cGrid > .colg-md-7{ grid-column: span 7; }
	.cGrid > .colg-md-8{ grid-column: span 8; }
	.cGrid > .colg-md-9{ grid-column: span 9; }
	.cGrid > .colg-md-10{ grid-column: span 10; }
	.cGrid > .colg-md-11{ grid-column: span 11; }
	.cGrid > .colg-md-12{ grid-column: span 12; }
}



.btn-close {
	--bs-btn-close-color: var(--text-dark-0);
	/* width: auto;
	height: auto; */
	--bs-btn-close-opacity : 1;
}



.modal.show {
	display: block;
	background-color: hsl(0 0% 0% / .6);
	padding: 8px;
}
.modal-dialog.size-small{ --modal-width : 300px }
.modal-dialog.size-medium{ --modal-width : 420px }
.modal-dialog,
.modal-dialog.size-default{ --modal-width : 640px }
.modal-dialog.size-large{ --modal-width : 1024px }
.modal-dialog.size-extra-large{ --modal-width : 1280px }
.modal-dialog.size-full{ --modal-width : 100% }


.modal-dialog.size-small .btn-wrap .btn{ min-height: 36px; }

.modal-dialog {
    max-width: var(--modal-width);
	
    margin-right: auto;
    margin-left: auto;

	--bs-modal-header-padding : 40px 40px 24px;
	--bs-modal-header-border-color: transparent;
	--bs-modal-padding : 0 40px 32px;
}

.modal-title {	font-size: 16px; font-weight: 700; }
@media(max-width: 768px){
	.modal-dialog {
		--bs-modal-header-padding : 24px 24px 16px;
		--bs-modal-padding : 0 24px 20px;
	}
}




.pagination {
	--bs-pagination-font-size: 14px;
	--bs-pagination-color: var(--text-dark-2);
	--bs-pagination-bg: transparent;
	--bs-pagination-border-width: 0;
	--bs-pagination-border-color: transparent;
	--bs-pagination-border-radius: var(--border-radius-6px);

	--bs-pagination-hover-color: var(--primary-600);
	--bs-pagination-hover-bg: var(--bs-tertiary-bg);
	--bs-pagination-hover-border-color: var(--bs-border-color);
	--bs-pagination-focus-color: var(--bs-link-hover-color);
	--bs-pagination-focus-bg: var(--bs-secondary-bg);

	--bs-pagination-focus-box-shadow: none;
	--bs-pagination-active-color: hsl(0, 0%, 100%);
	--bs-pagination-active-bg: var(--primary-500);

	--bs-pagination-disabled-color: var(--bs-secondary-color);
	--bs-pagination-disabled-bg: var(--bs-secondary-bg);
	--bs-pagination-disabled-border-color: var(--bs-border-color);
	display: flex;
	margin: 0em 0;
	list-style: none;
}
/*
.pagination:not(:has(.page-link:nth-last-of-type(1))){ margin: 0em 0; }
*/

.pagination .page-link{
	border-radius: var(--border-radius-6px);
	width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  padding:0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.pagination .page-link.first,
.pagination .page-link.last,
.pagination .page-link.prev,
.pagination .page-link.next { color: transparent; max-width: 36px; overflow: hidden; }
.pagination .page-link.first::before,
.pagination .page-link.last::before,
.pagination .page-link.prev::before,
.pagination .page-link.next::before{
	content: '';
	position: absolute;
	width: 100%; height: 100%;
	display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 36px;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
color: var(--text-dark-2);
left: 0;
  top: 0;
}
.pagination .page-link.first::before{ content: '\F27F'; }
.pagination .page-link.last::before{ content: '\F280'; }
.pagination .page-link.prev::before{ content: '\F284'; }
.pagination .page-link.next::before{ content: '\F285'; }







.note-frame { color:  var(--text-dark-0);  border-radius: var(--border-radius-6px); }
.note-editor.note-frame, .note-editor.note-airframe { 
	border : 1px solid var(--form-border-color); 
	background-color: #fff;
}
.note-editor .note-toolbar {
	padding: 0px 5px 10px 5px;
	border-bottom: 1px solid hsl(0, 0%, 88.6%);
	  border-bottom-color: rgb(226, 226, 226);
	color: hsl(0, 0%, 20%);
	background-color: transparent;
	border-color: transparent;
}
.note-editor .note-btn {
	border-color: transparent;
	color: var(--text-dark-0);
	background-color: var(--text-dark-7);
	border-radius: 100em;
	padding: 2px 10px;
}
.note-btn:hover, .note-btn:focus, .note-btn.focus {
	color: var(--text-dark-0);
	text-decoration: none;
	border-color: transparent;
	background-color: var(--text-dark-6);
	border-radius: 100em;
}
.note-btn > span.note-icon-caret:nth-child(2) { display: none;   }
.note-editor .note-toolbar .note-para .note-dropdown-menu {
	min-width: 180px;
	padding: 0px;
}
.note-editor .note-toolbar .note-para .note-dropdown-menu > * { margin: 4px 5px !important;}
.note-modal-content { 
	top: 50%;  transform: translateY(-50%);	
	border: 0;
}
.note-modal-header { border: 0;   }
.note-modal-footer {	height: auto; }
.note-modal-footer .note-btn {	float: none;  }
@media (min-width: 768px) {
	
  }


.word-break-keep-all{ word-break: keep-all !important; }