

/* General styles for all menus */

/* .category-open {font-size: 1.25rem;}

.cbp-spmenu {
	background: #fff;
	position: fixed;
}

.cbp-spmenu .left_tit_area {
	position: relative;
	padding: 10px;
	margin: 0;
	background: #78787f;
}

.cbp-spmenu h3 {
	margin:0;
	color: #fff;
	font-size: 1.35em;
	font-weight: bold;
}
.left_tit_area .area_btn_out {position:absolute; right:50px; top:10px;}
.left_tit_area .area_btn_out .btn-out {background:#78787f; border:0; color:#fff; font-size:13px; padding:3px 10px; border: 1px solid #ccc;}
.left_tit_area .area_btn_out .btn-out:hover,
.left_tit_area .area_btn_out .btn-out:active,
.left_tit_area .area_btn_out .btn-out:focus {background:#555; border:0; color:#fff; font-size:13px; padding:3px 10px; border: 1px solid #999;}
.left_tit_area .user_img {width:30px; height:30px;}

.bell_area {position:absolute;right:43px; top:15px;}
.userinfo_btn_area {display:block; padding:0 15px;}
.userinfo_btn_area .btn-group {display:block; height:40px; margin:10px 0;}

.cbp-spmenu .left_list_area {padding-bottom:30px; -webkit-overflow-scrolling: touch; padding: 0;}
.cbp-spmenu .left_list_area ul {margin:0; padding:0;}
.cbp-spmenu .left_list_area .glyphicon {color: #777; margin: 10px 10px 5px 10px;} */
/*.cbp-spmenu .left_list_area ul li.fir {border-top: 1px solid #d7d7d7;}*/

/* ��ư */
/* #close {float:right; padding:5px 3px 5px 11px; background:#78787f; font-size:1em; border:none; border-left:1px solid #bbb; color:#fff;} */

/* �˻�â */
/* .pd15 {padding:15px;} */

/* ī�װ��� ���� ��ư */
/* .toc_category {position:fixed; left:0; top:50%; margin-top:-21px; padding:0 0 4px 35px; background: url(/assets/img/toc6_category.png) no-repeat; font-size:1.1em; color:#fff; border:none; z-index:1000; width: 148px; height:39px;}

.cbp-spmenu a {
	display: block;
	color: #555;
	font-size: 1.35rem;
	font-weight: 300;
}

.cbp-spmenu a:hover, .cbp-spmenu a:active, .cbp-spmenu a:focus {
	background: #5eb11a;
    color:#fff !important;
	text-decoration:none;
}

.cbp-spmenu a:hover span, .cbp-spmenu a:active span, .cbp-spmenu a:focus span {
	color:#fff !important;
} */

/* 2deps �޴� */
/* .cbp-spmenu .tdeps_menu {}
.cbp-spmenu .tdeps_menu li {border-bottom:none;}
.cbp-spmenu .tdeps_menu li a {padding:7px 0 7px 27px; border-bottom:none; font-size:1em; } */



/* Orientation-dependent styles for the content of the menu */
/* 
.cbp-spmenu-vertical {
	width: 87%;
	height: 100%;
	top: 0;
	z-index: 10000;
	overflow-x: hidden;
	overflow-y: auto;
}

.cbp-spmenu-vertical li {
	position: relative;
	border-bottom: 1px solid #d7d7d7;
}
.cbp-spmenu-vertical li.logout {}
.cbp-spmenu-vertical li.bor_none {border-bottom:0;}
.cbp-spmenu-vertical li .point_num {
	position: absolute;
    right: 10px;
    top: 10px;
	font-weight:bold;
	font-size:18px;
	color:#3498db;
}

.cbp-spmenu-vertical li a {
	padding: 20px 10px;
    font-weight: 500;
    font-size: 1.75rem;
	letter-spacing: -0.03em;
    color:#111;
}

.cbp-spmenu-vertical li a i {padding-right:5px;}

.cbp-spmenu-vertical li ul li {border-bottom:0; background:#f0f0f0; font-size:12px;}
.cbp-spmenu-vertical li ul li.last {border-bottom:0;}
.cbp-spmenu-vertical li ul li a {padding:10px 20px;} */

/* ���θ޴� */
/* .cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
} */

/* Vertical menu that slides from the left or right */

/* .cbp-spmenu-left {
	left: -87%;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
    width:100%;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
} */

/* Horizontal menu that slides from the top or bottom */

/* .cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
} */

/* Push classes applied to the body */

/* .cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
} */

/* Transitions */

/* .cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
} */

/* Example media queries */

/* @media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity:0.60;
	z-index:1000;

}

div#overLayer{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-244px;
	margin-left:-325px;
} */

/*  */
/* .area_circle_btn {margin:15px 0;}
.area_circle_btn .btn-default_st2 {position:absolute; left:50%; margin-left:-50px; width:100px; height:100px; border-radius: 50%; background: #0171b9;}
.area_circle_btn .btn-default_st2 .glyphicon {margin-right: 0; padding-top: 30px; font-size: 36px; color: #fff;}
.area_circle_btn .txt-bottom {display:block; padding-top:40px; font-weight:bold; font-size:1.5rem;} */

