.datepicker{
	display: inline-flex;
	position: relative;
}
.datepicker:before{
	content: "\ebcc";
	position: absolute;
	display: inline-flex;
	height: 100%;
	width: 36px;

	color: var(--text-dark-2);
	
	
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* 가변 폰트 기본 설정 */
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  
	font-size: calc(1em + 3px);
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	align-items: center;
	justify-content: center;

  
}
.datepicker > input:not([type="checkbox"]):not([type="radio"]){ padding-right: 40px ; flex: 1; width: 100%;}

.ui-widget.ui-datepicker{ font-family: var(--bs-body-font-family) !important; }
.ui-widget.ui-widget-content.ui-datepicker{
	border: 0;
  box-shadow: 0 4px 15px 10px hsl( 0deg 0% 0% / .1);
  padding: 8px;
}
.ui-widget.ui-widget-content.ui-datepicker .ui-widget-header {
	border: 0px ;
	background: none;
	color: var(--text-dark-0);
	font-weight: bold;
	margin: .5em 0;
}
.ui-widget.ui-widget-content.ui-datepicker .ui-widget-header a { cursor: pointer; color: var(--text-dark-3);}
.ui-widget.ui-widget-content.ui-datepicker .ui-widget-header a:before{
	content: '';
	position: absolute;
	display: inline-block;
	width: 10px; height: 10px;
	color: currentColor;
	border-top: 2px solid currentColor;
	border-right: 2px solid currentColor;
	left: calc(50% + var(--x, 0));
	top: 50%;
}
.ui-datepicker .ui-datepicker-prev::before{  --x: 2px;	transform: translate(-50%, -50%) rotate(-135deg);}
.ui-datepicker .ui-datepicker-next::before{ --x: -2px;	transform: translate(-50%, -50%) rotate(45deg);}
.ui-widget-header .ui-icon { background-image: none !important; }


.ui-datepicker .ui-state-hover.ui-datepicker-prev,  
.ui-datepicker .ui-state-focus.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next,  
.ui-datepicker .ui-state-focus.ui-datepicker-next  {
    border: 0;
    background: var(--dark-50);
    color: var(--primary-500) !important;
}




.ui-datepicker .ui-datepicker-title .ui-datepicker-month{ padding-left: 8px; }

.ui-datepicker th {
	font-weight: 500 !important;
	font-size: 1em;
	color: var(--text-dark-2);
}


.ui-datepicker td span, .ui-datepicker td a { 
	text-align: center !important; 

	
}
.ui-datepicker .ui-state-default, .ui-datepicker.ui-widget-content .ui-state-default{
	border: 0;
	background: none;
	font-weight: normal;
	color: var(--text-dark-0);
	width: 33px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100em;
}
.ui-datepicker .ui-state-highlight, 
.ui-datepicker.ui-widget-content .ui-state-highlight {
	border: 0;
	background: var(--secondary-100);
	color: var(--secondary-800);
}
.ui-datepicker .ui-state-active, 
.ui-datepicker.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active{
  border: 0;
  background:  var(--primary-500);
  font-weight: normal;
  color: #fff;
}